<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sd="http://io.github.jpenren/sd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/admin">
<head>
<meta charset="UTF-8" />
<title>Souscription du Bon</title>
</head>
<body>
	<th:block layout:fragment="navbar">
		<div th:include="bon/menu :: navbar" th:remove="tag"></div>
	</th:block>
	<ul class="breadcrumb" layout:fragment="breadcrumb">
		<li><i class="ace-icon fa fa-home home-icon"></i> <a
			th:href="@{/}">Accueil</a></li>
		<li class="active">Espace des Bons</li>
	</ul>
	<!-- /.breadcrumb -->
	<div layout:fragment="content">
		<section class="card">
			<div class="card-body">
				<form method="get" action="#" th:action="@{/activatebcr}">
					<div class="row">
						<div class="col-md-3">
							<div class="md-form input-group">
								<input type="text" id="codeMembre" name="codeMembre"
									class="form-control">
								<div class="input-group-append">
									<button class="btn btn-md btn-secondary m-0 px-3" type="button"
										id="qrCodeReadBut">QrCode</button>
								</div>
								<label for="codeMembre" class="active">Code Membre</label>
							</div>
						</div>
						<div class="col-md-3">
							<select class="mdb-select md-form" name="typeRecurrent"
								id="typeBonSelect">
								<option value=""></option>
								<option value="limite">Récurrent Limité</option>
								<option value="illimite">Récurrent Illimité</option>
								<option value="nr">Non Récurrent</option>
							</select>
						</div>
						<div class="col-md-3">
							<div class="md-form">
								<input placeholder="Date Début" type="date" id="dateDeb"
									name="dateDeb" class="form-control"> 
								<label for="dateDeb" class="active">From</label>
							</div>
						</div>
						<div class="col-md-3">
							<div class="md-form input-group">
								<input placeholder="Date Fin" type="date" id="dateFin"
									name="dateFin" class="form-control">
								<div class="input-group-append">
									<button class="btn btn-md btn-secondary m-0 px-3" type="submit"
										id="rechercheBcButton">Rechercher</button>
								</div>
								<label for="dateFin" class="active">To</label>
							</div>
						</div>
					</div>
				</form>
				<div th:if="${not #lists.isEmpty(credits)}">
					<table id="tbcredits"
						class="table table-sm table-hover mb-0">
						<thead>
							<tr>
							    <th style="display: none">ID</th>
								<th class="th-lg"><a class="sorted" sd:pagination-sort="dateOctroi" >Date <i class="fas fa-sort ml-1"></i></a></th>
								<th class="th-lg"><a class="sorted" sd:pagination-sort="codeMembre" >Code Membre <i class="fas fa-sort ml-1"></i></a></th>
								<th class="th-lg">MSBC</th>
								<th class="th-lg">BC</th>
								<th class="th-lg"><a class="sorted" sd:pagination-sort="typeRecurrent" >Type Bon <i class="fas fa-sort ml-1"></i></a></th>
								<th class="th-lg" style="width: 20px;">Activer</th>
								<th class="th-lg">Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="row : ${credits}">
							    <td  scope="row" style="display: none" th:text="${row.idCredit}">id</td>
								<td th:text="${row.dateOctroi}">Date</td>
								<td th:text="${row.codeMembre}">Code Membre</td>
								<td th:text="${row.montantPlace}">MSBC</td>
								<td th:text="${row.montantCredit}">Montant Bc</td>
								<td th:text="${row.typeRecurrent}">Type Recurrent</td>
								<td th:text="( (${row.activer} == true)? 'OUI' : 'NON')">NON</td>
								<td>
								    <button id="btActiverBc" type="button" class="btn btn-green btnSelect btn-sm m-0" th:if="${row.activer  == null or row.activer == false}">Activer</button>
								    <button id="btDesactiverBc" type="button" class="btn btnSelect btn-indigo btn-sm m-0" th:if="${row.activer  == true}">Desactiver</button>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="row">
						<div class="col-sm-6">
							<div sd:pagination-summary="">info</div>
						</div>
						<div class="col-sm-6">
							<nav class="pull-right">
								<ul class="pagination" sd:pagination-split="7" sd:pagination="full">
									<!-- Pagination created by SpringDataDialect, this content is just for mockup -->
									<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
									<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
								</ul>
							</nav>
						</div>
					</div>

				</div>
			</div>
		</section>
	</div>
	<th:block layout:fragment="script" th:remove="tag">
	   <script type="text/javascript">
		    // code to read selected table row cell data (values).
		    $("table#tbcredits").on('click','.btnSelect',function(){
		         // get the current row
		         var currentRow = $(this).closest("tr"); 
		         var id = currentRow.find("td:eq(0)").text();
		         $.ajax({
		             url : 'activatebcr/'+ id,
		             type : 'GET',
		             dataType : 'html', // On désire recevoir du HTML
		             success : function(data, statut){ // code_html contient le HTML renvoyé
		                 alert(data);
		                 location.reload();
		             }
		        });
		    });
       </script>
	</th:block>
</body>
</html>