<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/admin">

<head>
    <meta charset="UTF-8" />
    <title>Souscription du Bon</title>
    <th:block layout:fragment="style" th:remove="tag">
        <link th:href="@{/webjars/datatables/1.10.20/css/jquery.dataTables.min.css}" rel="stylesheet" media="screen" />
        <!--<link
		th:href="@{/webjars/datatables/1.10.20/css/dataTables.bootstrap4.min.css}"
		rel="stylesheet" media="screen" />-->
    </th:block>
</head>

<body>
    <th:block layout:fragment="navbar">
        <div th:include="bon/menu :: navbar" th:remove="tag"></div>
    </th:block>
    <ul class="breadcrumb" layout:fragment="breadcrumb">
        <li><i class="ace-icon fa fa-home home-icon"></i> <a th:href="@{/}">Accueil</a></li>
        <li class="active">Espace des Bons</li>
    </ul>
    <!-- /.breadcrumb -->
    <div layout:fragment="content">
        <section class="card">
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-4">
                            <select class="mdb-select md-form" id="typeBonSelect">
								<option value=""></option>
								<option value="limite">Récurrent Limité</option>
								<option value="illimite">Récurrent Illimité</option>
								<option value="nr">Non Récurrent</option>
							</select>
                        </div>
                        <div class="col-md-4">
                            <div class="md-form">
                                <input placeholder="Date Début" type="date" id="dateDeb" class="form-control"> <label for="dateDeb" class="active">From</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="md-form">
                                <input placeholder="Date Fin" type="date" id="dateFin" class="form-control"> <label for="dateFin" class="active">To</label>
                            </div>
                        </div>
                    </div>
                </form>
                <table id="credits" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Code Membre</th>
                            <th>MSBC</th>
                            <th>BC</th>
                            <th>Type Bon</th>
                            <th>Date</th>
                            <th>Activer</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </section>
    </div>
    <th:block layout:fragment="script" th:remove="tag">
        <script type="text/javascript" th:src="@{/webjars/datatables/1.10.20/js/jquery.dataTables.min.js}"></script>
        <script type="text/javascript" th:src="@{/webjars/datatables/1.10.20/js/dataTables.bootstrap4.min.js}"></script>
        <script type="text/javascript" th:src="@{/resources/app/jquery.spring-friendly.js}"></script>
        <script type="text/javascript">
            $('.datepicker').pickadate({
                format: 'dd/mm/yyyy',
                formatSubmit: 'yyyy/mm/dd',
                editable: true
            });
            var table = $('table#credits').DataTable({
                ajax: 'advCredits',
                serverSide: true,
                columns: [{
                    data: 'idCredit'
                }, {
                    data: 'codeMembre'
                }, {
                    data: 'montantPlace'
                }, {
                    data: 'montantCredit'
                }, {
                    data: 'typeRecurrent',
                    render: function(data) {
                        if (data === "r") {
                            return "Récurrent";
                        } else if (data === "nr") {
                            return "Non Récurrent";
                        } else {
                            return data;
                        }
                    }
                }, {
                    data: 'dateOctroi'
                }, {
                    data: 'activer',
                    render: function(data) {
                        if (data === false || data === null) {
                            return "NON";
                        } else {
                            return "OUI"
                        }
                    }
                }]
            });
            $('.dataTables_length').addClass('bs-select')
            $('select#typeBonSelect').change(function() {
                typeBon = $(this).val();
                table.column(4).search(typeBon).draw();
            });

            var dateDebInput = $('input#dateDeb');
            var dateFinInput = $('input#dateFin');

            var onBoundChange = function() {
                table.column(5).search(dateDebInput.val() + ';' + dateFinInput.val()).draw();
            };

            dateDebInput.on('change', onBoundChange);
            dateFinInput.on('change', onBoundChange);
        </script>
    </th:block>
</body>

</html>