<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/admin">

<head>
    <meta charset="UTF-8" />
    <title>Souscription du Bon de Consommation</title>
</head>

<body>
    <ul class="breadcrumb" layout:fragment="breadcrumb">
        <li><i class="ace-icon fa fa-home home-icon"></i> <a th:href="@{/}">Accueil</a></li>
        <li class="active">Souscription au Bon de Consommation</li>
    </ul>
    <th:block layout:fragment="topbar">
        <div th:if="${agr == 'OI'}" th:include="oi/menu :: topnav" th:remove="tag"></div>
        <div th:if="${agr == 'OKSU'}" th:include="oksu/menu :: topnav" th:remove="tag"></div>
        <div th:if="${agr == 'OBPS'}" th:include="obps/menu :: topnav" th:remove="tag"></div>
        <div th:if="${agr == 'OBPSD'}" th:include="obpsd/menu :: topnav" th:remove="tag"></div>
        <div th:if="${agr == 'OP'}" th:include="op/menu :: topnav" th:remove="tag"></div>
        <div th:if="${agr == 'OT'}" th:include="ot/menu" th:remove="tag"></div>
    </th:block>
    <!-- /.breadcrumb -->
    <div layout:fragment="content" class="mt-4">
        <section class="section card mt-3">

            <div class="card-body">
                <div class="form-header purple accent-4">
                    <h5>Souscription au Bon de Consommation non récurrent PRE par Bon d'Achat Neutre</h5>
                </div>
                <form id="frm_sousbcban" action="#" th:action="@{/bcban}" th:object="${bc}" method="post">
                    <div class="alert alert-info" th:if="${message}">
                        <button type="button" class="close" data-dismiss="alert">
							<i class="ace-icon fa fa-times"></i>
						</button>
                        <p th:text="${message}"></p>
                    </div>
                    <div class="md-form">
                        <input type="text" class="form-control" id="codeMembre" th:field="*{codeMembre}" required="required" />
                        <label for="codeMembre">Code Membre *</label>
                    </div>
                    <div class="md-form">
                        <input id="nom_membre" type="text" th:value="${nom}" class="form-control" placeholder="Nom" readonly="readonly" />
                    </div>
                    <div class="md-form">
                        <fieldset id="div-banCatBon">
                            <legend>Catégorie Bon *</legend>
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" id="rd-typeBon" name="catBonConso" th:field="*{catBonConso}" value="r" disabled="disabled">
                                <label class="form-check-label" for="rd-typeBon">Récurrent</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" id="rd-typeBon2" th:field="*{catBonConso}" name="catBonConso" value="nr" checked="checked">
                                <label class="form-check-label" for="rd-typeBon2">Non
									Récurent</label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="md-form">
                        <fieldset id="div-bantypeNonRecurrentBon">
                            <legend>Type Non Récurrent *</legend>
                            <div class="form-check form-check-inline">
                                <input type="radio" th:field="*{typeNonRecurrent}" class="form-check-input" value="prk" checked="checked" />
                                <label class="form-check-label">PRK</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" th:field="*{typeNonRecurrent}" class="form-check-input" value="pre" disabled="disabled" />
                                <label class="form-check-label">PRE</label>
                            </div>
                        </fieldset>
                    </div>

                    <div class="md-form">
                        <fieldset id="div-bantypeRecurrentBon">
                            <legend>Type PRE *</legend>
                            <div class="form-check form-check-inline">
                                <input id="typeNonRecurrentRd" type="radio" th:field="*{typeBonConso}" class="form-check-input" value="PG" /> <label for="typeNonRecurrentRd" class="form-check-label">PRE GÉNÉRAUX 9-11.2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input id="typeNonRecurrentRd2" type="radio" th:field="*{typeBonConso}" class="form-check-input" value="IMM" /> <label for="typeNonRecurrentRd2" class="form-check-label">PRE IMM PRK 11.2-22.4 </label>
                            </div>
                        </fieldset>
                    </div>
                    <div id="div_prk" class="md-form" style="margin-top: 15px;">
                        <input type="text" class="form-control" id="ban_prk" th:field="*{prk}" required="required" />
                        <label for="ban_prk">PRE *</label>
                    </div>
                    <div id="bnCodeBonAchat" class="md-form">
                        <input type="text" class="form-control" id="codeBon" th:field="*{codeBon}" required="required" />
                        <label for="codeBon">Numéro du Bon d'Achat Neutre *</label>
                    </div>
                    <div class="md-form">
                        <input type="text" class="form-control" id="montantSous" th:field="*{montant}" />
                        <label for="montantSous">Montant Souscription</label>
                    </div>
                    <div class="md-form">
                        <input type="text" class="form-control" id="montBonconso" th:field="*{montBonconso}" />
                        <label for="montBonconso">Montant du Bon</label>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-outline-deep-purple">
							<i class="ace-icon fa fa-check"></i> Valider
						</button> &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset">
							<i class="ace-icon fa fa-undo"></i> Réinitialiser
						</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</body>

</html>