<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/admin}">

<head>
    <meta charset="UTF-8" />
    <title>Souscription du Bon de Consommation</title>
</head>

<body>
    <ul class="breadcrumb" layout:fragment="breadcrumb">
        <li><i class="ace-icon fa fa-home home-icon"></i> <a th:href="@{/}">Accueil</a></li>
        <li class="active">Souscription au Bon de Consommation</li>
    </ul>
    <th:block layout:fragment="topbar">
        <div th:if="${agr == 'OI'}" th:include="oi/menu :: topnav" th:remove="tag"></div>
        <div th:if="${agr == 'OKSU'}" th:include="oksu/menu :: topnav" th:remove="tag"></div>
        <div th:if="${agr == 'OBPS'}" th:include="obps/menu :: topnav" th:remove="tag"></div>
        <div th:if="${agr == 'OBPSD'}" th:include="obpsd/menu :: topnav" th:remove="tag"></div>
        <div th:if="${agr == 'OP'}" th:include="op/menu :: topnav" th:remove="tag"></div>
        <div th:if="${agr == 'OT'}" th:include="ot/menu" th:remove="tag"></div>
    </th:block>
    <!-- /.breadcrumb -->
    <div layout:fragment="content" class="mt-4">

        <section class="section card mt-3">
            <div class="card-body">
                <div class="form-header purple accent-4">
                    <h5>
                        <i class="fas fa-book"></i><span style="padding-left: 5px;">Souscription
							au Bon de Consommation récurrent par Bon d'Achat</span>
                    </h5>
                </div>
                <form id="frm_sousbc" action="#" th:action="@{/bcr}" th:object="${bc}" method="post">
                    <div class="alert alert-info" th:if="${message}">
                        <button type="button" class="close" data-dismiss="alert">
							<i class="ace-icon fa fa-times"></i>
						</button>
                        <p th:text="${message}"></p>
                    </div>
                    <div class="md-form input-group mb-3">
                        <input id="codeMembre" type="text" class="form-control" th:field="*{codeMembre}" required="required" placeholder="Code Membre" aria-label="Code Membre" aria-describedby="MaterialButton-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-md btn-secondary m-0 px-3" type="button" id="MaterialButton-addon2">QrCode</button>
                        </div>
                    </div>
                    <div class="md-form">
                        <input id="nom_membre" type="text" th:value="${nom}" class="form-control" placeholder="Nom" readonly="readonly" />
                    </div>
                    <div class="md-form">
                        <fieldset id="div-banCatBon">
                            <legend>Catégorie Bon *</legend>
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" id="rd-typeBon" name="catBonConso" th:field="*{catBonConso}" value="r" checked="checked"> <label class="form-check-label" for="rd-typeBon">Récurrent</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" id="rd-typeBon2" th:field="*{catBonConso}" name="catBonConso" value="nr" disabled="disabled"> <label class="form-check-label" for="rd-typeBon2">Non Récurent</label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="md-form">
                        <fieldset id="div-bantypeRecurrentBon">
                            <legend>Type Récurrent *</legend>
                            <div class="form-check form-check-inline">
                                <input id="typeRecurrentRd" type="radio" th:field="*{typeRecurrent}" class="form-check-input" value="limite" /> <label for="typeRecurrentRd" class="form-check-label">Limité</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input id="typeRecurrentRd2" type="radio" th:field="*{typeRecurrent}" class="form-check-input" value="illimite" /> <label for="typeRecurrentRd2" class="form-check-label">Illimité</label>
                            </div>
                        </fieldset>
                    </div>
                    <div id="dureeDiv" class="md-form" style="display: none">
                        <fieldset id="div-dureeBonNonRecurrent">
                            <legend>Durée *</legend>
                            <div class="form-check form-check-inline">
                                <input id="dureeBcrl" type="radio" th:field="*{duree}" class="form-check-input" value="22.4" /> <label class="form-check-label" for="dureeBcrl">22.4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input id="dureeBcrl2" type="radio" th:field="*{duree}" class="form-check-input" value="11.2" /> <label class="form-check-label" for="dureeBcrl2">11.2</label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="md-form" id="bnCodeBonAchat">
                        <input type="text" class="form-control" id="codeBonBa" th:field="*{codeBon}" required="required" /> <label for="codeBonBa">Numéro du Bon d'Achat *</label>
                    </div>
                    <div class="md-form">
                        <input type="text" class="form-control" id="montantBaSous" th:field="*{montant}" /> <label for="montantBaSous">Montant
							Souscription</label>
                    </div>
                    <div class="md-form">
                        <input type="text" class="form-control" id="montBonconso" th:field="*{montBonconso}" /> <label for="montBonconso">Montant
							du Bon</label>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-deep-purple">
							<i class="fa fa-check"></i> Valider
						</button> &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset">
							<i class="fa fa-undo"></i> Réinitialiser
						</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
    <th:block layout:fragment="script" th:remove="tag">
        <script type="text/javascript" th:src="@{/resources/app/bon.js}"></script>
        <script th:src="@{/resources/app/qrcode-decoder/qcode-decoder.min.js}"></script>
        <script th:src="@{/resources/app/outil-qr.js}"></script>
        <script type="text/javascript">
            outilqrbouton_cm("frm_sousbc", "MaterialButton-addon2", "codeMembre");
        </script>
    </th:block>
</body>

</html>