<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/template">

    <head>
        <meta charset="UTF-8" />
        <title>Souscription du Bon</title>
    </head>

    <body>
        <ul layout:fragment="navbar">
            <li class=""><a href="index.html" th:href="@{/home}"> <i
                        class="menu-icon fa fa-home"></i> <span class="menu-text">
                        Accueil </span>
                </a> <b class="arrow"></b></li>
            <li class=""><a href="/bon/bcFormation.html"
                            th:href="@{/bcFormation}"> <i class="menu-icon fa fa-list"></i> <span
                        class="menu-text"> BC Formation</span> <b
                        class="arrow fa fa-angle-down"></b>
                </a> <b class="arrow"></b></li>
            <li class=""><a href="/mcnp/bnp/bnp.html" th:href="@{/bnp}">
                    <i class="menu-icon fa fa-list"></i> <span class="menu-text">
                        Souscription / Tiers </span>
                </a> <b class="arrow"></b></li>
        </ul>
        <ul class="breadcrumb" layout:fragment="breadcrumb">
            <li><i class="ace-icon fa fa-home home-icon"></i> <a
                    th:href="@{/}">Accueil</a></li>
            <li class="active">Souscription au Bon de Formation</li>
        </ul>
        <!-- /.breadcrumb -->
        <div layout:fragment="content">
            <div class="widget-box widget-color-blue">
                <div class="widget-header widget-header-small">
                    <h5 class="widget-title">Souscription au Bon de Consommation</h5>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <form id="frm_sousbctiers" action="#" th:action="@{/bcFormation}"
                              th:object="${bcFormation}" method="post" class="form-horizontal">
                            <div class="alert alert-info" th:if="${message}" id="message">
                                <button type="button" class="close" data-dismiss="alert">
                                    <i class="ace-icon fa fa-times"></i>
                                </button>
                                <p th:text="${message}"></p>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label for="codeMembre" class="control-label col-sm-5">Code
                                        Membre *</label>
                                    <div class="col-sm-7">
                                        <input class="form-control" id="codeMembre"
                                               th:field="*{codeMembre}" required="required" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="numBonNeutre" class="control-label col-sm-5">Numero
                                        du Bon Neutre</label>
                                    <div class="col-sm-7">
                                        <input class="form-control" id="numBonNeutre"
                                               th:field="*{numBon}" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label for="typeProduit" class="control-label col-sm-5">Type
                                        Produit *</label>
                                    <div class="col-sm-7">
                                        <select class="form-control" id="typeProduit"
                                                th:field="*{typeProduit}" required="required">
                                            <option value="PO">Ordinaire</option>
                                            <option value="PS">Spécial</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="catBonConso" class="control-label col-sm-5">Catégorie
                                        Bon *</label>
                                    <div class="col-sm-7">
                                        <select class="form-control" id="catBonConso"
                                                th:field="*{catBonConso}" required="required">
                                            <option value="r">Récurrent</option>
                                            <option value="nr">Non Récurrent</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label for="typeRecurrent" class="control-label col-sm-5">Type
                                        Recurrent *</label>
                                    <div class="col-sm-7">
                                        <select class="form-control" id="typeRecurrent"
                                                th:field="*{typeRecurrent}" required="required">
                                            <option value="limite">Récurrent Limité</option>
                                            <option value="illimite">Récurrent Illimité</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label class="control-label col-sm-5" for="cycle">Cycle
                                        d'Etude</label>
                                    <div class="col-sm-7">
                                        <select id="cycle" class="form-control" th:field="*{cycle}">
                                            <option value=""></option>
                                            <option value="M">Maternel</option>
                                            <option value="P">Primaire</option>
                                            <option value="C">Collège</option>
                                            <option value="L">Lycée</option>
                                            <option value="LC">Licence</option>
                                            <option value="MS">Master</option>
                                            <option value="DC">Doctorat</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label for="durreeForm" class="control-label col-sm-5">Durée</label>
                                    <div class="col-sm-7">
                                        <input class="form-control" id="dureeForm" th:field="*{duree}" />
                                    </div>
                                </div>
                                <div id="mtFormation" class="col-sm-6">
                                    <label for="montFormation" class="control-label col-sm-5">Montant
                                        Formation</label>
                                    <div class="col-sm-7">
                                        <input class="form-control" id="montFormation"
                                               th:field="*{montFormation}" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label for="montSouscription" class="control-label col-sm-5">Montant
                                        Souscription</label>
                                    <div class="col-sm-7">
                                        <input class="form-control" id="montSouscription"
                                               th:field="*{montSouscription}" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="montBonconso" class="control-label col-sm-5">Montant
                                        du Bon</label>
                                    <div class="col-sm-7">
                                        <input class="form-control" id="montBonconso"
                                               th:field="*{montBonconso}" disabled="disabled" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary">
                                    <i class="ace-icon fa fa-check"></i>Valider
                                </button>
                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset">
                                    <i class="ace-icon fa fa-undo"></i> Réinitialiser
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>