<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/template">
<head>
<title>Transfert de Bons</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<ul layout:fragment="navbar">
		<li class=""><a href="index.html" th:href="@{/home}"> <i
				class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
					Accueil </span>
		</a> <b class="arrow"></b></li>
		<li class=""><a href="#" class="dropdown-toggle"> <i
				class="menu-icon fa fa-list"></i> <span class="menu-text">
					Bon d'Achat </span> <b class="arrow fa fa-angle-down"></b>
		</a> <b class="arrow"></b>
			<ul class="submenu">
				<li><a href="/mcnp/ba" th:href="@{/ba}"> <i
						class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
							Souscription </span>
				</a> <b class="arrow"></b></li>
				<li class=""><a href="/mcnp/transfertba"
					th:href="@{/transfertba}"> <i
						class="menu-icon fa fa-plus purple"></i>Emission
				</a> <b class="arrow"></b></li>
			</ul></li>
		<li class=""><a href="#" class="dropdown-toggle"> <i
				class="menu-icon fa fa-list"></i> <span class="menu-text">
					Bon Consommation </span> <b class="arrow fa fa-angle-down"></b>
		</a> <b class="arrow"></b>
			<ul class="submenu">
				<li><a href="/mcnp/bcr" th:href="@{/bcr}"> <i
						class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
							Souscription par BA</span>
				</a> <b class="arrow"></b></li>
				<li><a href="/mcnp/bcban" th:href="@{/bcban}"> <i
						class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
							Souscription par BAn </span>
				</a> <b class="arrow"></b></li>
				<li><a href="/mcnp/creances" th:href="@{/transfertbc}"> <i
						class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
							Transfert </span>
				</a> <b class="arrow"></b></li>
			</ul></li>
	</ul>
	<ul class="breadcrumb" layout:fragment="breadcrumb">
		<li><i class="ace-icon fa fa-home home-icon"></i> <a
			th:href="@{/}">Accueil</a></li>
		<li class="active">Transfert de Bons</li>
	</ul>
	<!-- /.breadcrumb -->
	<div layout:fragment="content">
		<div class="widget-box widget-color-blue">
			<div class="widget-header widget-header-small">
				<h5 class="widget-title">Ajout de Créances</h5>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<form id="frm_addCreance" action="#" th:action="@{/transfertbc}"
						th:object="${bon}" method="post">
						<div class="message">
							<p th:text="${message}"></p>
						</div>
						<div>
							<label for="codeMembre">Code Membre</label> <input
								class="form-control" id="codeMembre" th:field="*{codeMembre}"
								required="required" />
						</div>
						<div>
							<label for="typeBonConso">Type Bon</label> <select
								class="form-control" id="typeBonConso" th:field="*{type}">
								<option value="I">Investissement</option>
								<option value="RPG">Revenu Périodique garanti</option>
								<option value="FS">frais de Solvabilité</option>
								<option value="PaNu">Part du Nu Propriétaire</option>
								<option value="PaR">Part du Remboursement</option>
							</select>
						</div>
						<div>
							<label for="catBonConso">Catégorie Bon</label> <select
								class="form-control" id="catBonConso" th:field="*{cat}">
								<option value="r">Récurrent</option>
								<option value="nr">Non Récurrent</option>
							</select>
						</div>
						<div>
							<label for="typeCredit">bon de Consommation</label> <select
								class="form-control" id="typeCredit" th:field="*{typeCredit}">
								<option th:each="tcredit : ${tcredits}"
									th:value="${tcredit.code_tcredit}"
									th:text="${tcredit.lib_tcredit}">Bon</option>
							</select>
						</div>
						<div>
							<label for="montant">Montant transfert</label> <input
								class="form-control" id="montant" th:field="*{montant}"
								required="required" />
						</div>
						<div class="form-actions">
							<button type="submit" class="btn btn-primary">
								<i class="ace-icon fa fa-check bigger-110"></i>Valider
							</button>
							&nbsp; &nbsp; &nbsp;
							<button class="btn" type="reset">
								<i class="ace-icon fa fa-undo bigger-110"></i> Réinitialiser
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>