<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/admin">
<head>
    <title>Fiche ODD</title>
    <th:block th:fragment="style" th:remove="tag">
        <!--<link rel="stylesheet" th:href="@{/resources/js/jqgrid/ui.jqgrid.css}">-->
        <link rel="stylesheet" th:href="@{/resources/js/jqgrid/ui.jqgrid-bootstrap4.css}">
    </th:block>
</head>
<body>
<th:block layout:fragment="navbar">
    <div th:include="odd/menu :: navbar" th:remove="tag"></div>
</th:block>
<ul class="breadcrumb" layout:fragment="breadcrumb">
    <li><i class="ace-icon fa fa-home home-icon"></i> <a
            th:href="@{/}">Accueil</a></li>
    <li class="active">ODD</li>
</ul>
<!-- /.breadcrumb -->
<div layout:fragment="content">
    <h5 class="my-1 dark-grey-text font-weight-bold">Recherche Fiche ODD</h5>
    <!-- Top Table UI -->
    <div class="card p-2 mb-4">
        <div class="container-fluid">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-lg-3 col-md-12">
                    <select id="agenceODD" name="idAgencesOdd"
                            class="mdb-select md-form">
                        <option value=""></option>
                        <option th:each="ag : ${agences}" th:value="${ag.idAgencesOdd}"
                                th:text="${ag.libelleAgencesOdd}"></option>
                    </select> <label for="agenceODD" class="mdb-main-label">Agence ODD</label>
                </div>
                <!-- Grid column -->
                <div class="col-lg-3 col-md-12">
                    <select id="idOdd" name="idOdd" class="mdb-select md-form">
                        <option value=""></option>
                        <option th:each="odd : ${odds}" th:value="${odd.idOdd}"
                                th:text="${odd.codeOdd}"></option>
                    </select>
                    <label for="idOdd" class="mdb-main-label">ODD N°</label>

                </div>
                <!-- Grid column -->
                <div class="md-form col-lg-3 col-md-12">
                    <input id="dateDeb" type="date" name="deb" class="form-control">
                    <label for="dateDeb">De</label>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="md-form input-group mb-3 col-lg-3 col-md-12">
                    <input id="dateFin" type="date" name="fin" class="form-control">
                    <div class="input-group-append">
                        <button id="btnRechOdd" type="button" class="btn btn-sm btn-primary ml-2 px-1">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                    <label for="dateFin">A</label>
                </div>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->

    </div>
    <section class="section card mt-1">
        <!-- /widget-header -->
        <div class="card-body">
            <div class="form-header " style="text-align: center;">
                <h4 class="card-title">Fiche ODD</h4>
            </div>
            <table id="listOdd">
            </table>
        </div>
    </section>
</div>
<th:block layout:fragment="script" th:remove="tag">
    <script th:src="@{/resources/js/jqgrid/grid.locale-fr.js}"></script>
    <script th:src="@{/resources/js/jqgrid/jquery.jqGrid.min.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        $(document)
            .ready(
                function () {
                    "use strict";
                    var oddGrid = $("#listOdd");
                    oddGrid.jqGrid({
                        url: 'listeodd/',
                        datatype: 'json',
                        mtype: 'GET',
                        styleUI: 'Bootstrap4',
                        postData: {
                            idAgencesOdd: function () {
                                return jQuery("#agenceODD option:selected").val();
                            },
                            idOdd: function () {
                                return jQuery("#idOdd option:selected").val();
                            },
                            deb: function () {
                                return jQuery("#dateDeb").val();
                            },
                            fin: function () {
                                return jQuery("#dateFin").val();
                            }
                        },
                        colNames: ['ID', 'Date', 'Nom', 'Prenoms', 'Lieu Naissance'],
                        colModel: [
                            {name: 'id', index: 'id', width: 70},
                            {name: 'Date', index: 'dateListecm', width: 70},
                            {name: 'nomMembre', index: 'nomMembre', width: 200},
                            {name: 'prenomMembre', index: 'prenomMembre', width: 200},
                            {name: 'lieuNaisMembre', index: 'lieuNaisMembre', width: 200}
                        ],
                        page: 1,
                        cmTemplate: {autoResizable: true},
                        autowidth: true,
                        height: 350,
                        iconSet: "fontAwesome",
                        sortname: "id",
                        threeStateSort: true,
                        sortIconsBeforeText: true,
                        headertitles: true,
                        pager: true,
                        multiselect: false,
                        toppager: true,
                        rowNum: 10
                    });

                    $('#btnRechOdd').click(function (e) {
                        e.preventDefault();
                        oddGrid.jqGrid().trigger('reloadGrid');
                    });
                });
    </script>
</th:block>
</body>
</html>