<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/admin">
<head>
<title>ODD</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<th:block th:fragment="navbar">
		<li><a href="index.html" th:href="@{/home}"
			class="collapsible-header waves-effect"> <i
				class="menu-icon fa fa-home"></i> <span class="menu-text">
					Accueil </span>
		</a> <b class="arrow"></b></li>
		<li><a href="index.html" th:href="@{/odd/index}"
			class="collapsible-header waves-effect"> <i
				class="menu-icon fa fa-home"></i> <span class="menu-text">
					Ma Fiche ODD </span>
		</a> <b class="arrow"></b></li>
		<li><a href="index.html" th:href="@{/odd/fiche}"
			class="collapsible-header waves-effect"> <i
				class="menu-icon fa fa-home"></i> <span class="menu-text">
					Ajout de Fiche ODD </span>
		</a> <b class="arrow"></b></li>
		<li><a href="index.html" th:href="@{/odd/listeGen}"
			class="collapsible-header waves-effect"> <i
				class="menu-icon fa fa-home"></i> <span class="menu-text">
					Fiche Générale ODD </span>
		</a> <b class="arrow"></b></li>
	</th:block>
</body>
</html>