<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/template">
<head>
<meta charset="UTF-8" />
<title>Désendettement</title>
</head>
<body>
	<ul layout:fragment="navbar">
		<li class=""><a href="index.html" th:href="@{/home}"> <i
				class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
					Dashboard </span>
		</a> <b class="arrow"></b></li>
		<li class=""><a href="#" class="dropdown-toggle"> <i
				class="menu-icon fa fa-list"></i> <span class="menu-text">
					Désendettement </span> <b class="arrow fa fa-angle-down"></b>
		</a> <b class="arrow"></b>
			<ul class="submenu">
				<li><a href="/mcnp/creances" th:href="@{/creances}"> <i
						class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
							Créances </span>
				</a> <b class="arrow"></b></li>
				<li class=""><a href="/mcnp/dettes" th:href="@{/dettes}"> <i
						class="menu-icon fa fa-plus purple"></i> Dettes
				</a> <b class="arrow"></b></li>

				<li class=""><a href="/mcnp/creance" th:href="@{/addCreance}">
						<i class="menu-icon fa fa-eye pink"></i> Ajout de créances
				</a> <b class="arrow"></b></li>
				<li class=""><a href="/mcnp/creance" th:href="@{/ordre}">
						<i class="menu-icon fa fa-eye pink"></i> Ordre de payement
				</a> <b class="arrow"></b></li>

				<li class=""><a href="/mcnp/objet" th:href="@{/addbps}"> <i
						class="menu-icon fa fa-eye pink"></i> Ajout de BPS
				</a> <b class="arrow"></b></li>
			</ul></li>
	</ul>
	<ul class="breadcrumb" layout:fragment="breadcrumb">
		<li><i class="ace-icon fa fa-home home-icon"></i> <a
			th:href="@{/}">Accueil</a></li>
		<li class="active">Ajout de créances</li>
	</ul>
	<!-- /.breadcrumb -->
	<div layout:fragment="content">
		<div class="widget-box widget-color-blue">
			<div class="widget-header widget-header-small">
				<h5 class="widget-title">Ajout de Créances</h5>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<form id="frm_addCreance" action="#" th:action="@{/addCreance}"
						th:object="${creance}"  method="post">
						<div>
							<label for="dateCreance">Date Créance</label>
							<div class="input-group">
								<input type="text" class="form-control date-picker"
									id="dateCreance" th:field="*{dateCreance}"
									data-date-format="dd-mm-yyyy" /> <span
									class="input-group-addon"> <i
									class="fa fa-calendar bigger-110"></i>
								</span>
							</div>
						</div>
						<div>
							<label for="codeMembreCred">Code Membre</label> <input
								class="form-control" id="codeMembreCred"
								th:field="*{codeMembreCred}" />
						</div>
						<div>
							<label for="codeMembreDeb">Code Membre Débiteur</label> <input
								class="form-control" id="codeMembreDeb"
								th:field="*{codeMembreDeb}" />
						</div>
						<div>
							<label for="montCreance">Montant Créance</label> <input
								class="form-control" id="montCreance" th:field="*{montCreance}" />
						</div>
						<div>
							<label for="dateReglement">Date Reglement</label>
							<div class="input-group">
								<input type="text" class="form-control date-picker"
									id="dateReglement" th:field="*{dateReglement}"
									data-date-format="dd-mm-yyyy" /> <span
									class="input-group-addon"> <i
									class="fa fa-calendar bigger-110"></i>
								</span>
							</div>
						</div>
						<div>
							<label for="modeReglement">Mode de Reglement</label> <select
								class="form-control" id="modeReglement"
								th:field="*{modeReglement}">
								<option value="E">Equiliré</option>
								<option value="NE">Non Equilibré</option>
							</select>
						</div>
						<div>
							<label for="descriptionCreance">Description Créance</label>
							<textarea class="form-control" id="descriptionCreance"
								th:field="*{descriptionCreance}"></textarea>
						</div>
						<div class="form-actions">
							<button type="submit" class="btn btn-primary">
								<i class="ace-icon fa fa-check bigger-110"></i>Valider
							</button>
							&nbsp; &nbsp; &nbsp;
							<button class="btn" type="reset">
								<i class="ace-icon fa fa-undo bigger-110"></i> Réinitialiser
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</body>
</html>