<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/template">

<head>
	<meta charset="UTF-8" />
	<title>Insertion de BPS</title>
</head>

<body>
	<ul layout:fragment="navbar">
		<li class="">
			<a href="index.html" th:href="@{/home}">
				<i class="menu-icon fa fa-tachometer"></i>
				<span class="menu-text">
					Dashboard </span>
			</a>
			<b class="arrow"></b>
		</li>
		<li class="">
			<a href="#" class="dropdown-toggle">
				<i class="menu-icon fa fa-list"></i>
				<span class="menu-text">
					Désendettement </span>
				<b class="arrow fa fa-angle-down"></b>
			</a>
			<b class="arrow"></b>
			<ul class="submenu">
				<li>
					<a href="/mcnp/creances" th:href="@{/creances}">
						<i class="menu-icon fa fa-tachometer"></i>
						<span class="menu-text">
							Créances </span>
					</a>
					<b class="arrow"></b>
				</li>
				<li class="">
					<a href="/mcnp/dettes" th:href="@{/dettes}">
						<i class="menu-icon fa fa-plus purple"></i> Dettes
					</a>
					<b class="arrow"></b>
				</li>

				<li class="">
					<a href="/mcnp/creance" th:href="@{/addCreance}">
						<i class="menu-icon fa fa-eye pink"></i> Ajout de créances
					</a>
					<b class="arrow"></b>
				</li>

				<li class="">
					<a href="/mcnp/creance" th:href="@{/ordre}">
						<i class="menu-icon fa fa-eye pink"></i> Ordre de payement
					</a>
					<b class="arrow"></b>
				</li>

				<li class="">
					<a href="/mcnp/objet" th:href="@{/addbps}">
						<i class="menu-icon fa fa-eye pink"></i> Ajout de BPS
					</a>
					<b class="arrow"></b>
				</li>
			</ul>
		</li>
	</ul>
	<ul class="breadcrumb" layout:fragment="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a th:href="@{/}">Accueil</a>
		</li>
		<li class="active">Ajout de Biens, Produits ou Services</li>
	</ul>
	<!-- /.breadcrumb -->
	<div layout:fragment="content">
		<div class="widget-box widget-color-blue">
			<div class="widget-header widget-header-small">
				<h5 class="widget-title">Ajout de BPS</h5>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<form id="form_bps" method="post" action="#" th:action="@{/addbps}" th:object="${objet}" class="form-horizontal">
						<div class="form-group">
							<label for="idObjet" class="control-label col-md-2">ID BPS:</label>
							<div class=" col-md-10">
								<input id="idObjet" class="form-control" th:field="*{idObjet}" readonly="readonly" />
							</div>
						</div>
						<div class="form-group">
							<label id="label-1" for="selTypeBps" class="control-label col-md-2">Type BPS:</label>
							<div class="col-md-10">
							     <select id="selTypeBps" class="form-control">
							         <option value="IM">Immeuble</option>
							         <option value="ME">Matériels d'Equipements</option>
							         <option value="MB">Matériels de Bureau</option>
							         <option value="MR">Matériels roulants</option>
							         <option value="MC">Marchandises</option>
							      </select>
							</div>
						</div>
						<div class="form-group">
							<label for="designObjet" class="control-label col-md-2">Designation BPS:
							</label>
							<div class=" col-md-10">
								<input id="designObjet" class="form-control" th:field="*{designObjet}" />
							</div>
						</div>
						<div class="form-group">
							<label for="codeMembre" class="control-label col-md-2">Code Membre:
							</label>
							<div class=" col-md-10">
								<input id="codeMembre" class="form-control" th:field="*{codeMembre}" />
							</div>
						</div>
						<div class="form-group">
							<label for="dateEnregistrement" class="control-label col-md-2">Date Enregistrement:
							</label>
							<div class=" col-md-10">
								<div class="input-group ">
									<input id="dateEnregistrement" type="text" class="form-control date-picker" th:field="*{dateEnregistrement}" data-date-format="dd-mm-yyyy"
									/>
									<span class="input-group-addon">
										<i class="fa fa-calendar bigger-110"></i>
									</span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="descriptionObjet" class="control-label col-md-2">Description du BPS:</label>
							<div class=" col-md-10">
								<textarea id="descriptionObjet" class="form-control" th:field="*{descriptionObjet}"></textarea>
							</div>
						</div>
						<div class="form-group">
							<label for="etatObjet" class="control-label col-md-2">Etat du BPS:</label>
							<div class=" col-md-10">
								<input id="etatObjet" class="form-control" th:field="*{etatObjet}" />
							</div>
						</div>
						<div class="form-group">
							<label for="txtCoutAchat" class="control-label col-md-2">Coùt d'Achat:
							</label>
							<div class=" col-md-10">
								<input id="txtCoutAchat" class="form-control" th:field="*{montEstime}" />
							</div>
						</div>
						<div class="form-group">
							<label for="montEstime" class="control-label col-md-2">Valeur Estimée:
							</label>
							<div class=" col-md-10">
								<input id="montEstime" class="form-control" th:field="*{montEstime}" />
							</div>
						</div>
						<div class="form-group">
							<label for="idDetteObjet" class="control-label col-md-2">ID Dette:
							</label>
							<div class=" col-md-10">
								<div class="input-group">
								    <input id="idDetteObjet" class="form-control" th:field="*{idObjet}" />
								    <a id="ldialogRef" href="#"
									class="input-group-addon"> <i class="fa fa-forward"></i></a>
								</div>
							</div>
						</div>
						<div class="form-actions">
							<button type="submit" class="btn btn-sm btn-primary">
								<i class="ace-icon fa fa-check"></i>Valider
							</button>
							&nbsp; &nbsp; &nbsp;
							<button class="btn btn-sm" type="reset">
								<i class="ace-icon fa fa-undo"></i> Réinitialiser
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</body>

</html>