<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/admin">

<head>
<meta charset="UTF-8" />
<title>Souscription Pour Tiers</title>
</head>

<body>
	<ul class="collapsible collapsible-accordion" layout:fragment="navbar">
		<li class=""><a href="index.html" th:href="@{/home}"> <i
				class="fas fa-home"></i> <span class="menu-text"> Accueil </span>
		</a> <b class="arrow"></b></li>
		<!--<li class="">
			<a href="index.html" th:href="@{/addCreance}">
				<i class="fas fa-circle"></i>
				<span class="menu-text">
					Ajout de Créances </span>
			</a>
			<b class="arrow"></b>
		</li>
		<li class="">
			<a href="index.html" th:href="@{/addbps}">
				<i class="fas fa-circle"></i>
				<span class="menu-text">
					Ajout de BPS </span>
			</a>
			<b class="arrow"></b>
		</li>
		<li class=""><a href="/mcnp/creance" th:href="@{/ordre}"> <i
						class="fas fa-eye"></i> Ordre de payement
				</a> <b class="arrow"></b></li>-->
		<li><a href="index.html" th:href="@{/home}"> <i
				class="menu-icon fas fa-home"></i> <span class="menu-text">
					Reclamations </span>
		</a> <b class="arrow"></b></li>
		<li class=""><a href="#"
			class="collapsible-header waves-effect arrow-r"> <i
				class="menu-icon fa fa-list"></i> <span class="menu-text">
					Correction SM</span> <b class="arrow fa fa-angle-down"></b>
		</a> <b class="arrow"></b>
			<div class="collapsible-body">
				<ul>
					<li><a href="/mcnp/creance/recouvrement.html"
						th:href="@{/reclamation/mf107}"> <i class="menu-icon fas fa-circle"></i>
							<span class="menu-text"> MF107</span>
					</a> <b class="arrow"></b></li>
					<li><a href="/mcnp/creance/recouvrement.html"
						th:href="@{/reclamation/mf11000}"> <i class="menu-icon fas fa-circle"></i>
							<span class="menu-text"> MF11000 </span>
					</a> <b class="arrow"></b></li>
					<li><a href="/mcnp/creance/releve.html" th:href="@{/reclamation/gcp}">
							<i class="menu-icon fas fa-credit-card"></i> <span
							class="menu-text"> BAn </span>
					</a> <b class="arrow"></b></li>
					<li><a href="/jmcnp/reclamation/sousc" th:href="@{/reclamation/sousc}">
							<i class="menu-icon fas fa-credit-card"></i> <span
							class="menu-text"> Souscription ReDéMaRe</span>
					</a> <b class="arrow"></b></li>
				</ul>
			</div></li>
		<li class=""><a href="#"
			class="collapsible-header waves-effect arrow-r"> <i
				class="menu-icon fa fa-list"></i> <span class="menu-text">
					Désendettement </span> <b class="arrow fa fa-angle-down"></b>
		</a> <b class="arrow"></b>
			<div class="collapsible-body">
				<ul>
					<li><a href="/mcnp/creance/recouvrement.html"
						th:href="@{/recouvrer}"> <i class="menu-icon fas fa-circle"></i>
							<span class="menu-text"> Recouvrement </span>
					</a> <b class="arrow"></b></li>
					<li><a href="/mcnp/creance/recouvrement.html"
						th:href="@{/payercmfh}"> <i class="menu-icon fas fa-circle"></i>
							<span class="menu-text"> Recouvrement CMFH </span>
					</a> <b class="arrow"></b></li>
					<li><a href="/mcnp/creance/releve.html" th:href="@{/releve}">
							<i class="menu-icon fas fa-credit-card"></i> <span
							class="menu-text"> Relevé des Créances </span>
					</a> <b class="arrow"></b></li>
				</ul>
			</div></li>
	</ul>
	<ul class="breadcrumb" layout:fragment="breadcrumb">
		<li><i class="ace-icon fa fa-home home-icon"></i> <a
			th:href="@{/}">Accueil</a></li>
		<li class="active">Reclamation</li>
	</ul>
	<!-- /.breadcrumb -->
	<div layout:fragment="content">
	    <div class="card">
			<div class="card-body">
				<form id="frm_addRec" action="#" th:action="@{/ticket/reclamer}"
					th:object="${place}" method="post">
					<div class="form-header">
						<h5>Reclamation</h5>
					</div>
					<div class="alert alert-info" th:if="${message}">
						<button type="button" class="close" data-dismiss="alert">
							<i class="ace-icon fa fa-times"></i>
						</button>
						<p id="opi_message" th:text="${message}"></p>
					</div>
					<div class="md-form">
						<input id="num" type="text" class="form-control"
							name="num" th:field="*{num}" required="required">
						<label class="control-label" for="num">ID</label>
					</div>
					<div class="md-form">
						<input id="datedepot" type="text" class="form-control"
							name="datedepot" th:field="*{datedepot}">
						<label class="control-label" for="datedepot">Date</label>
					</div>
					<div>
						<select id="lib" class="md-form mdb-select"
							th:field="*{lib}">
							<option value=""></option>
							<option value="CNPC">CNPC</option>
							<option value="CNPF">CNPF</option>
							<option value="CNPG">CNPG</option>
							<option value="CNPL">CNPL</option>
							<option value="CNPNU">CNPNU</option>
							<option value="CNPS">CNPS</option>
							<option value="CNPT">CNPT</option>
						</select> <label class="mdb-main-label" for="lib">Libellé</label>
					</div>
					<div class="md-form">
						<input id="membre" type="text" class="form-control"
							name="membre" th:field="*{membre}">
						<label class="control-label" for="membre">Membre</label>
					</div>
					<div class="md-form">
						<input id="montant" type="text" class="form-control" 
							th:field="*{montant}" /> 
						<label class="active" for="montant">Montant</label>
					</div>
					<div class="md-form">
						<input id="agence" type="text" class="form-control"
							th:field="*{agence}" /> 
						<label class="control-label" for="agence">Agence</label>
					</div>
					<div class="md-form">
						<input id="caisse" type="text"
							class="form-control" th:field="*{cais}">
						<label class="control-label" for="cais">Caisse</label>
					</div>
					<div class="md-form">
						<input type="text" class="form-control" id="heureid"
							th:field="*{heureid}" /> <label class="control-label"
							for="heureid">Heure</label>
					</div>
					<div class="form-check">
						<input type="checkbox" class="form-check-input"
							id="rembCkb" th:value="${place.rembourser}"> 
							<label class="form-check-label" for="validerCkb">Rembourser</label>
					</div>
					<div class="form-actions">
						<button id="btnValRec" type="submit" class="btn btn-primary">
							<i class="fas fa-check"></i> Valider
						</button>
						<a class="btn" th:href="@{/reclamation/sousc}">
							<i class="fas fa-undo"></i> Retour
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>

</html>