<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/template">
<head>
<meta charset="UTF-8" />
<title>INTERFACE DES DISTRIBUTEURS</title>
</head>


<body>
	<ul layout:fragment="navbar">
		<li class=""><a href="index.html" th:href="@{/home}"> <i
				class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
					ACCUEIL </span>
		</a> <b class="arrow"></b></li>
		<li class=""><a href="#" class="dropdown-toggle"> <i
				class="menu-icon fa fa-desktop"></i> <span class="menu-text">
					CONSOMMATIONS </span> <b class="arrow fa fa-angle-down"></b>
		</a> <b class="arrow"></b>


			<ul class="submenu">
				<li class=""><a href="mcnp/distributeur/boutique_interim.html"
					th:href="@{/interimfacture}"> <i
						class="menu-icon fa fa-caret-right"></i> <span class="menu-text">
							DIVERSES FACTURES </span>

				</a></li>
				<li class=""><a href="mcnp/distributeur/boutique.html"
					th:href="@{/boutique}"> <i class="menu-icon fa fa-caret-right"></i>
						<span class="menu-text"> VENTE SIMPLE </span>

				</a></li>

				<li class=""><a
					href="mcnp/distributeur/boutique_reappro_codebarre.html"
					th:href="@{/reapprovisionnementcodebarre}"> <i
						class="menu-icon fa fa-caret-right"></i> <span class="menu-text">
							REAPPRO </span>

				</a></li>
				<!-- <li class=""><a href="mcnp/distributeur/smcipn_demandeur.html"
					th:href="@{/smcipndemandeur}"> <i
						class="menu-icon fa fa-caret-right"></i> <span class="menu-text">
							Approvisionnement SMCIPN </span>

				</a></li> -->
				<!--  <li class="">
							        <a href="#" class="dropdown-toggle">
			   					    <i class="menu-icon fa fa-caret-right"></i>
                					<span class="menu-text">
									SMCIPN
									</span>
									<b class="arrow fa fa-angle-down"></b>
									</a>
									<b class="arrow"></b>
									<ul class="submenu">
									              <li class="">
												  <a href="#">
													   <i class="menu-icon fa fa-plus purple"></i>
													   PAIEMENT DEMANDEUR
												        </a>
                                                        <b class="arrow"></b>
											      </li>
											      <li class="">
												       <a href="#">
													   <i class="menu-icon fa fa-plus purple"></i>
													   PAIEMENT AU GCSC
												        </a>
                                                        <b class="arrow"></b>
											      </li>

											      <li class="">
												        <a href="#">
													    <i class="menu-icon fa fa-eye pink"></i>
													    TRANSFERT TECHNOPOLE
												        </a>

												        <b class="arrow"></b>
											       </li>
										      </ul>
                           </li>
           -->
			</ul></li>

	</ul>
	<div class="page-content">
		<div class="container" layout:fragment="content">
			<div id="esmc_notification"></div>
			<h2>REAPPROVISIONNEMENT DES DISTRIBUTEURS PAR CODEBARRE</h2>
			<form id="form-vente" action="executionvente/simple"
				th:action="@{/executionvente/simple}" method="post" role="form">

				<div class="widget-box ui-sortable-handle"
					id="widget-sortable-cmd-header">
					<div class="widget-header widget-header-large" id="first-window"
						style="padding-top: 5px; padding-bottom: 10px">

						<div class="row">
							<div class="col-sm-4">
								<div class="form-inline " style="margin-bottom: 21px">

									<label>CODEBARRE:</label> <input type="text"
										style="width: 300px;" class="form-group"
										id="text-codebarre-search" />

								</div>

								<div class="form-inline" style="margin-bottom: 21px">
									<label>REFERENCE: </label> <input type="text"
										style="width: 300px;" class="form-group" id="text-reference" />
								</div>

								<div class="form-inline" style="margin-bottom: 21px">
									<label>DESIGNATION: </label> <input type="text"
										style="width: 300px;" class="form-group" id="text-designation" />
								</div>
								<div class="form-inline" style="margin-bottom: 21px">
									<label>QUANTITE: </label> <input type="number"
										style="width: 300px;" class="form-group" id="text-quantite" />
								</div>

								<div class="form-inline" style="margin-bottom: 21px">
									<label style="display: block">PRIX: </label> <input
										type="number" style="width: 300px;" class="form-group"
										id="text-prix" />
								</div>
								<div class="form-inline" style="margin-bottom: 21px">
									<button class="btn btn-primary btn-lg btn-add"
										id="form-vente-button-ajout" style="margin-left: 118px;">
										<i class="ace-icon fa fa-pencil-square-o"></i> AJOUTER
									</button>
								</div>
							</div>
							<div class="col-sm-8">

								<div class="table-form"
									style="height: 420px; border: 1px solid #307ecc">
									<div class="table-form-header"
										style="width: 100%; height: 42px; background-color: #307ecc; color: #FFF; font-size: 1.3em; text-align: center; font-weight: bold; line-height: 42px;">LA
										LISTE DES ARTICLES ACHETES</div>
									<div style="height: 376px; overflow-y: scroll"
										id="commande-loading-push">
										<table class="table table-striped table-bordered table-hover "
											style="position: relative">

											<thead>
												<tr>
													<th style="width: 240px; text-align: center">Reference</th>
													<th style="width: 300px; text-align: center">Designation</th>
													<th style="width: 300px; text-align: center">Quantité</th>
													<th style="width: 260px; text-align: center">Prix
														Unitaire</th>
													<th style="width: 300px; text-align: center">Montant
														Total</th>
													<th style="text-align: center">Action</th>
												</tr>
											</thead>
											<tbody id="table-article-list-retreave-container">
											</tbody>
										</table>
									</div>

								</div>



								<div class="form-inline" style="color: #000">
									<label
										style="font-size: 14px; font-weight: bold; text-decoration: underline;">Montant
										Total HT:</label> <input type="number" class="form-group"
										id="total-montant-prixht" value="0" style="width: 104px" /> <label
										style="font-size: 14px; font-weight: bold; text-decoration: underline;">Taxe
										Prélevée:</label> <input type="number" class="form-group"
										id="total-montant-taxe" value="0" style="width: 104px" /> <label
										style="font-size: 14px; font-weight: bold; text-decoration: underline;">Frais
										de livraison:</label> <input type="number" class="form-group"
										id="total-montant-livraison" value="0" style="width: 104px" />

									<label
										style="font-size: 14px; font-weight: bold; text-decoration: underline;">Montant
										Net A Payer:</label> <input type="number" class="form-group"
										id="total-montant-prixttc" value="0" style="width: 104px" />
								</div>
							</div>
							<div class="main-content">
								<div class="main-content-inner">

									<div class="widget-box">
										<div class="widget-header">
											<h3>Source de paiement</h3>
										</div>
										<div class="widget-body">
											<div class="widget-main">
												<!--  
            <div class="control-group">
           <div class="radio">
                <label>
                    <input type="radio" name="form-field-radio" id="form-reappro-radior"/>
                    Recurrent
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="form-field-radio" id="form-reappro-radionr" />
                    Non recurrent
                </label>
            </div>
           
   </div>  -->
												<!-- <label>Veuillez choisir le type de bon à utiliser pour l'achat </label>
            
            <div class="radio">
                <label>
                    <input type="radio" name="form-field-radiob" id="form-reappro-radioBn" />
                    <span class="lbl">
                         Bon d'Achat neutre (BAn):  
                    </span>
                </label>
                              
                <input type="text" name="" class="input-large" id ="form-vente-code-bon-neutre" placeholder="Veuillez saisir le  code du Bon Neutre" style = "display:none"/>
                   
            </div>
            
            <div class="radio">
                <label>
                    <input type="radio" name="form-field-radiob" id="form-vente-radioBa" />
                    <span class="lbl">
                        Bon d'Achat (BA):  
                    </span>
                </label>
                
                <input type="text" name="" class="input-large" id ="form-vente-code-bon-achat" placeholder="Veuillez saisir le  code du BA"  style = "display:none"/>
             </div>
            <div class="radio">
                <label>
                    <input type="radio" name="form-field-radiob" id="form-vente-radioBc" />
                    <span class="lbl">
                        Bon de consommation:  
                    </span>
                </label>
               <input type="text" name="" class="input-large" id ="form-vente-code-bon-conso" placeholder="Veuillez saisir le  code du BC" style = "display:none"/>
            </div>
        </div> -->

												<div class="form-inline">
													<label class="inline"> Code membre </label> <input
														type="text" name="" class="input-large"
														id="form-reappro-code-membre" />
													<button type="button" class="btn btn-info btn-sm"
														id="form-reappro-createBonConso">
														<i class="ace-icon fa fa-key bigger-110"></i>OK
													</button>
												</div>
												<label>Veuillez saisir le code du bon de commande </label>
												<div class="form-inline">
													<label class="inline"> Numero de Bon de Commande: </label>
													<input type="text" name="form-reappro-bonConso"
														id="form-reappro-bonConso" class="input-large" />
												</div>
												<button type="button" id="form-reappro-terminerOperation"
													class="btn btn-info btn-sm">VALIDER L'OPERATION</button>

											</div>

										</div>
									</div>

								</div>


							</div>
						</div>
					</div>
				</div>



			</form>

		</div>

	</div>




</body>

</html>
