<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/template">




<head>
<meta charset="UTF-8" />
<title>Vente en boutique</title>
<style>
#bouton_qr_launcher {
	z-index: 98;
}

   #confirmation_box
{
  width: 600px;
}
#bloc_step_1
{
  display: block;
  text-align: center;
    width: 100%;
}
#button_qr_code
{
  background: #FF0000;
  display: none;
}

#code_membre_qr_auth
{
  width: 500px;
  margin: 10px;
  padding: 10px;
  margin: auto;
  align: center;
}

#bloc_step_2
{
  text-align: center;
  width: 800px;
}
</style>

<script src="./resources/app/qrcode-decoder/qcode-decoder.min.js"></script>
<script src="./resources/app/outil-qr.js"></script>
<script>
	function show(shown, hidden1, hidden2, hidden3, hidden4) {
		document.getElementById(shown).style.display = 'block';
		document.getElementById(hidden1).style.display = 'none';
		document.getElementById(hidden2).style.display = 'none';
		document.getElementById(hidden3).style.display = 'none';
		document.getElementById(hidden4).style.display = 'none';
		return false;
	}
</script>
</head>


<body>
	<ul layout:fragment="navbar">
		<li class=""><a href="index.html" th:href="@{/home}"> <i
				class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
					ACCUEIL </span>
		</a> <b class="arrow"></b></li>
		<li class="" sec:authorize="hasAuthority('cnp_tegcp')"><a
			href="#" class="dropdown-toggle"> <i
				class="menu-icon fa fa-desktop"></i> <span class="menu-text">
					Consommations </span> <b class="arrow fa fa-angle-down"></b>
		</a> <b class="arrow"></b>

			<ul class="submenu">
				<!--<li class=""><a href="mcnp/distributeur/boutique_interim.html"
					th:href="@{/interimfacture}"> <i
						class="menu-icon fa fa-caret-right"></i> <span class="menu-text">
							Bps sans stocks </span>

				</a></li>-->
				<li class=""><a href="mcnp/distributeur/boutique.html"
					th:href="@{/boutique}"> <i class="menu-icon fa fa-caret-right"></i>
						<span class="menu-text"> BPS </span>

				</a></li>

				<li class=""><a href="mcnp/distributeur/boutique_reappro.html"
					th:href="@{/boutiquereappro}"> <i
						class="menu-icon fa fa-caret-right"></i> <span class="menu-text">
							Reapprovisionnement </span>

				</a></li>
				<!--<li class=""><a href="mcnp/distributeur/intermediaire.html"
					th:href="@{/reglementintermediaire}"
					th:if="${nomtegc =='TE ACHETEUR-REVENDEUR'}"> <i
						class="menu-icon fa fa-caret-right"></i> <span class="menu-text">
							Bps des Revendeurs </span>

				</a></li>-->

			</ul></li>
	</ul>
	
	<div layout:fragment="content">
		<div class="widget-box widget-color-blue">
			<div class="widget-header widget-header-small">
				<h5 class="widget-title">REGLEMENT DES BPS</h5>
			</div>
			<div class="widget-body">
				<div class="widget-main">



					<div id="Page1">
						<form id="form-vente" method="post" action="executionvente/simple"
							th:action="@{/executionvente/simple}"
							onkeypress="return event.keyCode != 13;">

							<div class="row">
								<div class="col-sm-4">

									<div class="form-group">

										<div class="form-check" style="margin-left: 20px">
											<label> <input type="checkbox" name="radioInterim"
												id="form-vente-radioInterimAchat" /> <span class="lbl">
													Achat par TE Acheteur </span>
											</label> <label style="display: none" id="label-achatTe">
												Code Achat: <input type="text" name=""
												id="text-code-achat-interim" style="display: none" />

											</label>
										</div>

										<div id="div_codeMembre"
											class="form-inline form-group has-info"
											style="margin-bottom: 5px">
											<label for="form-vente-code-membre" class="">Code
												Membre </label> <input class="form-control"
												id="form-vente-code-membre" style="width: 300px;"
												required="required" />

										</div>
									</div>

									<div class="form-inline form-group has-info"
										style="margin-bottom: 5px; display: none"
										id="form_vente_nom_telephone">
										<div class="form-inline form-group has-info"
											style="margin-bottom: 5px">
											<label class="">NOM MEMBRE/RAISON SOCIALE: </label> <input
												type="text" style="width: 300px;" class="form-group"
												id="form-vente-nom-membre" />
										</div>
										<div class="form-inline form-group has-info"
											style="margin-bottom: 5px">
											<label>NUMERO TELEPHONE: </label> <input type="text"
												style="width: 300px;" class="form-group"
												id="form-vente-telephone" />
										</div>
									</div>

									<label class="smaller header lighter blue"
										style="margin-bottom: 2px"><i
										class="ace-icon fa fa-pencil-square-o"></i>Informations sur
										les articles achetés </label>



									<!-- <div class="form-inline form-group has-info"
									style="margin-bottom: 5px">
									<label>CATEGORIE: </label> <select class="form-inline"
											id="form-vente-select-categorie">
										</select>
								</div>
								 -->

									<div class="form-inline form-group has-info"
										style="margin-bottom: 5px">
										<label class="">CODEBARRE: </label> <input type="text"
											style="width: 300px;" class="form-group"
											id="form-vente-reference" />


										<!-- <select class="form-inline"
											id="form-vente-select-reference" 
											th:field="*{infosReferenceByCodeTegc}">

										<option th:each="i : ${infosReferenceByCodeTegc}" th:value="${i}"
												th:text="${i}"></option>
											
										</select> -->
									</div>

									<!-- <div class="form-inline form-group has-info"
									style="margin-bottom: 5px">
									<label class="">CODEBARRE: </label> <input type="text"
										style="width: 300px;" class="form-group"
										id="text-codebarre-search" />
								</div> -->

									<!--<div class="form-inline form-group has-info"
									style="margin-bottom: 5px">
									<label class="">REFERENCE: </label> <input type="text"
										style="width: 300px;" class="form-group" id="text-reference" />
								</div>-->

									<div class="form-inline form-group has-info"
										style="margin-bottom: 5px">
										<label>DESIGNATION: </label> <input type="text"
											style="width: 300px;" class="form-group"
											id="form-vente-select-designation" />
										<!-- 
									<select class="form-inline"
											id="form-vente-select-designation" 
											th:field="*{infosDesignationByCodeTegc}">
											
                                      	<option th:each="articleStocke: ${infosDesignationByCodeTegc}"
											th:value="${articleStocke.reference}"
											th:text="${articleStocke.designation}"></option> 
											
										</select>-->



									</div>


									<div class="form-inline form-group has-info"
										style="margin-bottom: 5px">
										<label>QUANTITE: </label> <input type="number"
											style="width: 300px;" class="form-group" id="text-quantite"
											value="1" />
									</div>
									<div class="form-inline form-group has-info"
										style="margin-bottom: 15px">
										<label style="display: block">PRIX: </label> <input
											type="number" style="width: 300px;" class="form-group"
											id="text-prix" value="0" />
									</div>
									<div class="form-inline" style="margin-bottom: 5px">
										<button class="btn btn-danger" id="form-vente-button-ajout"
											style="margin-left: 118px;">
											<i class="ace-icon fa fa-pencil-square-o"></i> AJOUTER
										</button>
									</div>

								</div>
								<div class="col-sm-8">
									<label class="smaller header lighter blue"
										style="margin-bottom: 2px; font-weight: bold"><i
										class="ace-icon fa fa-pencil-square-o"></i>BON DE LIVRAISON </label>


									<div class="table-form"
										style="height: 420px; border: 1px solid">
										<!-- <div class="table-form-header"
										style="width: 100%; height: 42px; font-size: 1.3em; text-align: center; font-weight: bold; line-height: 42px;">BON
										DE LIVRAISON</div> -->
										<div style="height: 376px; overflow-y: scroll"
											id="commande-loading-push">
											<table
												class="table table-striped table-bordered table-hover "
												style="position: relative">
												<thead>
													<tr>
														<th style="display: none">Codebarre</th>
														<th style="width: 240px; text-align: center">Reference</th>
														<th style="width: 300px; text-align: center">Designation</th>
														<th style="width: 300px; text-align: center">Quantité</th>
														<th style="width: 260px; text-align: center">Prix
															Unitaire</th>
														<th style="width: 300px; text-align: center">Montant
															Total</th>
														<th style="text-align: center">Action</th>
														<th style="display: none">CodeTegc</th>
													</tr>
												</thead>
												<tbody id="table-article-list-retreave-container">
												</tbody>
											</table>
										</div>

									</div>
									<div class="row form-inline" style="color: #000">
										<div class="inline" style="width: 365px">
											<label
												style="font-size: 14px; font-weight: bold; text-decoration: underline; margin-left: 13px; margin-top: 11px; margin-bottom: 21px;">Montant
												Total:</label> <input type="number" class="form-group"
												id="total-montant-prixht" value="0" style="width: 216px" />
										</div>
									</div>
								</div>
							</div>
							<div id="esmc_notification"></div>
						</form>




						<script type="text/javascript">
							/*<![CDATA[*/
							// Id du formulaire
							outilqr_champcm_sansbouton("form-vente",
									"form-vente-code-membre");

							/*]]>*/
						</script>

						<script type="text/javascript">
							//Définir  le code_membre :
							// var codeMembreAcheteur = document.getElementById('form-vente-code-membre').value;
							var codeMembreVendeur = document
									.getElementById('text-code-membre-vendeur').value;

							//outilqrbio("form-vente", "qrcaptcha", "form-vente-valider", "Confirmez-vous votre achat?", codeMembreVendeur);
							outilqrbio("form-vente", "qrcaptcha",
									"form-vente-valider",
									"Confirmez-vous votre achat?",
									codeMembreVendeur);

							//document.getElementById('code_membre_qr_auth').value = codeMembreAcheteur; 
							//Désactiver le champ pour que l'utilisateur ne le modifie pas :
							document.getElementById('code_membre_qr_auth').disabled = true;
						</script>





						<!--   <a href="#" class ="next" onclick="return show('Page2','Page1','Page3','Page4','Page5');">Page suivante &raquo;</a>-->



						<button type="button" class="next" id="bt_suivant1"
							style="background-color: green; color: white; width: 150px; height: 30px;"
							onclick="return show('Page2','Page1','Page3','Page4','Page5');">
							Page suivante &raquo;</button>

					</div>






					<div id="Page2" style="display: none">
						<div class="widget-box">
							<div class="widget-header">
								<h4>CHOIX DU SUPPORT MARCHAND</h4>
							</div>
							<div class="widget-body">
								<div class="widget-main">

									<label class="smaller header lighter blue"
										style="margin-bottom: 5px"> <i
										class="ace-icon fa fa-pencil-square-o"></i>Veuillez
										sélectionner le type de credit
									</label>
									<div class="radio">
										<label id="label-codetypecredit"> Type de produit: </label> <select
											class="form-inline" id="form-field-select-codetypecredit"
											th:field="*{codeCredit}">
											<option id="form-field-select-option"
												th:each="codeCredit: ${codeCredit}"
												th:value="${codeCredit.codeTypeCredit}"
												th:text="${codeCredit.libTypeCredit}"></option>

										</select>

									</div>
									<label class="smaller header lighter blue"
										style="margin-bottom: 5px"> <i
										class="ace-icon fa fa-pencil-square-o"></i> Veuillez
										sélectionner le non récurrent en cas d'usage du Bon d'Achat
									</label>

									<div class="control-group">
										<div class="radio" style="margin-left: 20px">
											<label id="label-radior" style="display: none"> <input
												type="radio" name="form-field-radio" id="form-vente-radior"
												style="display: none" /> Recurrent
											</label> <select class="form-inline" style="display: none"
												id="form-field-select-limite" th:field="*{recurrents}">

												<option th:each="r : ${recurrents}" th:value="${r}"
													th:text="${r}"></option>

											</select> <label id="label-produit" style="display: none">
												Produit: </label> <select class="form-inline" style="display: none"
												id="form-field-select-bps" th:field="*{bps}">
												<option th:each="r : ${bps}" th:value="${r.idBps}"
													th:text="${r.designation}"></option>

											</select> <label id="label-frequence" style="display: none">
												Fréquence de cumul(jours): </label> <select class="form-inline"
												id="form-field-select-frequence" style="display: none">
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
												<option>6</option>
												<option>7</option>
												<option>8</option>
												<option>9</option>
												<option>10</option>
												<option>11</option>
												<option>12</option>
												<option>13</option>
												<option>14</option>
												<option>15</option>

											</select>

											<div class="radio" style="margin-left: 20px">
												<label id="label-domicilie" style="display: none"> <input
													type="radio" name="" id="form-produit-domicilie"
													style="display: none" />Domicilier le recurrent
												</label>
											</div>



											<div class="form-check" style="margin-left: 20px">
												<label> <input type="checkbox"
													name="form-field-radio" id="form-vente-radionr" /> Non
													recurrent
												</label> <label id="label-prk" style="display: none"> PRK: </label>
												<select class="form-inline" id="form-field-select-prk"
													style="display: none">

													<option id="form-field-select-option"></option>

												</select>
											</div>



											<label class="smaller header lighter blue"
												style="margin-bottom: 10px"> <i
												class="ace-icon fa fa-pencil-square-o"></i>Veuillez choisir
												le type de bon à utiliser pour l'achat
											</label>
											<div class="radio" style="margin-left: 20px">
												<label> <input type="radio" name="form-field-radioa"
													id="form-vente-radioDefaut" /> DEFAUT
												</label> <label style="display: none" id="label-cumul">
													TOTAL: <input type="number" name="" id="text-montant-cumul"
													style="display: none" value="0" disabled="disabled" />
												</label><label style="display: none" id="label-montant-bc-cumul">Montant
													du Bon de Consommation: <input type="number" name=""
													id="text-montant-bc-cumul" disabled="disabled"
													style="display: none" value="0" />
												</label>
											</div>
											<div class="radio" style="margin-left: 20px">

												<label style="display: none" id="label-montant-bc-opi">Montant
													du Bon de Consommation: <input type="number" name=""
													id="text-montant-bc-opi" disabled="disabled"
													style="display: none" value="0" />
												</label>


											</div>
											<div class="radio" style="margin-left: 20px">
												<label> <input type="radio" name="form-field-radiob"
													id="form-vente-radioBn" /> <span class="lbl"> Bon
														d'Achat neutre (BAn) </span>
												</label> <label style="display: none" id="label-montant-ban">Montant
													du BAn: <input type="number" name=""
													id="text-montant-vente-bn" style="display: none" value="0" />

												</label> <label style="display: none" id="label-montant-bc-ban">Montant
													du Bon de Consommation: <input type="number" name=""
													id="text-montant-bc-ban" disabled="disabled"
													style="display: none" value="0" />
												</label>
											</div>

											<div class="radio" style="margin-left: 20px">
												<label> <input type="radio" name="form-field-radiob"
													id="form-vente-radioBa" /> <span class="lbl"> Bon
														d'Achat (BA) interne </span></label> <label id="label-typeBa"
													style="margin-left: 20px; display: none"> Type BA:
												</label> <select class="form-inline" id="form-field-select-tba"
													style="display: none"></select> <label
													style="display: none" id="label-montant-ba">Montant
													du BA: <input type="number" name="" id="text-montant-ba"
													style="display: none" value="0" disabled="disabled" />
												</label> <label style="display: none" id="label-montant-bc-ba">Montant
													du Bon de Consommation: <input type="number" name=""
													id="text-montant-bc-ba" disabled="disabled"
													style="display: none" value="0" />
												</label>
											</div>


											<div class="radio" style="margin-left: 20px">
												<label> <input type="radio" name="form-field-radiob"
													id="form-vente-radioBc" /> <span class="lbl"> Bon
														de Consommation </span>
												</label>
												<!-- <label id="label-typeBa" style="margin-left: 20px; display: none"> Type BA: </label> 
										<select class="form-inline" id="form-field-select-tba" style="display: none">
										</select> -->


												<label style="display: none" id="label-montant-bc-bc">Montant
													du Bon de Consommation: <input type="number" name=""
													id="text-montant-bc-bc" style="display: none" value="0" />
												</label>
											</div>
										</div>
									</div>
								</div>

							</div>




							<!--    <a href="#" onclick="return show('Page3','Page1','Page2','Page4','Page5');">Page suivante</a>-->

							<button type="button" class="previous" id="bt_precedent2"
								style="background-color: grey; color: white; width: 150px; height: 30px;"
								onclick="return show('Page1','Page2','Page3','Page4','Page5');">
								&laquo; Page précédente</button>

							<button type="button" class="next" id="bt_suivant2"
								style="background-color: green; color: white; width: 150px; height: 30px;"
								onclick="return show('Page3','Page1','Page2','Page4','Page5');">
								Page suivante &raquo;</button>

						</div>
					</div>


						<div id="Page3" style="display: none">
							<div class="widget-box">
								<div class="widget-header">
									<h4>MODE DE LIVRAISON</h4>
								</div>
								<div class="widget-body">
									<div class="widget-main">
										<div class="form-inline form-group has-info">

											<label class="smaller header lighter blue"
												style="margin-bottom: 10px"><i
												class="ace-icon fa fa-pencil-square-o"></i>Veuillez choisir
												le mode de livraison </label>
										</div>
										<div class="radio" style="margin-left: 20px">
											<label style="display: inline"> <input type="radio"
												name="form-vente-radio" id="form-vente-surplace"
												style="display: inline" /> SUR PLACE
											</label>
										</div>
										<div class="radio" style="margin-left: 20px">
											<label style="display: inline"> <input type="radio"
												name="form-vente-radio" id="form-vente-domicile"
												style="display: inline" /> A DOMICILE
											</label>

										</div>
										<div class="radio" style="margin-left: 20px">
											<label style="display: none" id="label-adresseLivraison">
												ADRESSE DE LIVRAISON: </label> <input type="text" name=""
												style="border-color: #8C316A; margin-left: 15px; display: none"
												id="form-vente-adresseLivraison" class="input-xxlarge" /> <label
												style="display: none" id="label-frais-livraison">
												FRAIS DE LIVRAISON: <input type="number" name=""
												id="text-montant-frais-livraison"
												style="display: none; margin-left: 15px;" value="0" />
											</label>
										</div>
									</div>
								</div>

							</div>




							<!--  <a href="#" onclick="return show('Page4','Page1','Page2','Page3','Page5');">Page suivante</a>-->

							<button type="button" class="previous" id="bt_precedent3"
								style="background-color: grey; color: white; width: 150px; height: 30px;"
								onclick="return show('Page2','Page1','Page3','Page4','Page5');">
								&laquo; Page précédente</button>

							<button type="button" class="next" id="bt_suivant3"
								style="background-color: green; color: white; width: 150px; height: 30px;"
								onclick="return show('Page4','Page1','Page2','Page3','Page5');">
								Page suivante &raquo;</button>


						</div>

						<div id="Page4" style="display: none">
							<div class="widget-box">
								<div class="widget-header">
									<h4>INFORMATIONS ADDITIVES</h4>
								</div>
								<div class="widget-body">
									<div class="widget-main">
										<label class="smaller header lighter blue"
											style="margin-bottom: 10px"><i
											class="ace-icon fa fa-pencil-square-o"></i>Informations
											spécifiques pour certains articles. Exemple: Numéro de carte
											de carburant </label>
										<div class="form-inline form-group has-info"
											style="margin-left: 20px">
											<label id="label-reference-additive"> Référence
												additive: <input type="text" name=""
												id="text-reference-additive" style="margin-left: 15px;" />
											</label>
										</div>
									</div>
								</div>

							</div>




							<!--  <a href="#" onclick="return show('Page5','Page1','Page2','Page4','Page3');">Page suivante</a>-->

							<button type="button" class="previous" id="bt_precedent4"
								style="background-color: grey; color: white; width: 150px; height: 30px;"
								onclick="return show('Page3','Page2','Page1','Page4','Page5');">
								&laquo; Page précédente</button>

							<button type="button" class="next" id="bt_suivant4"
								style="background-color: green; color: white; width: 150px; height: 30px;"
								onclick="return show('Page5','Page1','Page2','Page4','Page3')">
								Page suivante &raquo;</button>
						</div>



						<div id="Page5" style="display: none">
							<div class="widget-box">
								<div class="widget-header">
									<h4>CONFIRMATION ET VALIDATION</h4>
								</div>
								<div class="widget-body">
									<div class="widget-main">

										<div class="form-inline form-group has-info"
											style="margin-left: 20px">
											<button type="button" class="btn btn-danger"
												id="form-vente-btOK">
												<i class="ace-icon fa fa-envelope bigger-100"></i>CONFIRMATION
											</button>
											<span id="load_createbon_vente" style="display: none">Veuillez
												patienter SVP</span> <i id="load_createbon_vente_icone"
												class="ace-icon fa fa-spinner fa-spin orange bigger-125"
												style="position: absolute; font-size: 4em !important; margin-left: 14px; display: none"></i>

										</div>
										<div class="form-inline form-group has-info" id="qrcaptcha"
											style="display: none"></div>
										<div class="form-inline form-group has-info">
											<button type="button" id="form-vente-valider"
												class="btn btn-info">
												<i class="ace-icon fa fa-shopping-cart bigger-160"></i>
												VALIDER L'OPERATION
											</button>
											<button type="button" id="form-vente-annuler"
												class="btn btn-light">
												<i class="ace-icon fa fa-undo bigger-160"></i> ANNULER
											</button>
											<span id="load_validate_vente" style="display: none">Veuillez
												patientez SVP</span> <i id="load_validate_vente_icone"
												class="ace-icon fa fa-spinner fa-spin orange bigger-125"
												style="position: absolute; font-size: 4em !important; margin-left: 14px; display: none">
											</i>
										</div>
										<!-- data-dismiss="alert" -->
										<div id="esmc_notification2"></div>
										<div id="esmc_notification_final" class="alert alert-info"
											style="display: none">
											<button type="button" class="close"
												id="esmc_notification_final_close">
												<i class="ace-icon fa fa-times"></i>
											</button>
											Operation de vente bien effectuée
										</div>

									</div>
								</div>

							</div>



	<!-- <div>
    <a href="#" onclick="return show('Page1','Page2','Page3','Page4','Page5');">Retour à la première page</a>
    </div>
    <div>	
    <a href="#" onclick="return show('Page4','Page2','Page3','Page1','Page5');">Page précédente</a>
     </div> -->
							<button type="button" class="previous" id="bt_precedent5"
								style="background-color: grey; color: white; width: 150px; height: 30px;"
								onclick="return show('Page4','Page1','Page2','Page3','Page5');">
								&laquo; Page précédente</button>


						</div>



					</div>
				</div>
			</div>
	</div>

	
	



</body>

</html>
