<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/template">
<head>
<meta charset="UTF-8" />

<title>REGLEMENT FACTURES</title>
</head>


<body>
	<ul layout:fragment="navbar">
		<li class=""><a href="index.html" th:href="@{/home}"> <i
				class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
					ACCUEIL </span>
		</a> <b class="arrow"></b></li>
		<li class="" sec:authorize="hasAuthority('cnp_tegcp')"><a
			href="#" class="dropdown-toggle"> <i
				class="menu-icon fa fa-desktop"></i> <span class="menu-text">
					Consommations </span> <b class="arrow fa fa-angle-down"></b>
		</a> <b class="arrow"></b>
			<ul class="submenu">
				<li class=""><a href="mcnp/distributeur/boutique.html"
					th:href="@{/boutique}"> <i class="menu-icon fa fa-caret-right"></i>
						<span class="menu-text"> BPS</span>
				</a></li>
				<li class=""><a href="mcnp/distributeur/boutique_reappro.html"
					th:href="@{/boutiquereappro}"> <i
						class="menu-icon fa fa-caret-right"></i> <span class="menu-text">
							Reapprovisionnement </span>
				</a></li>

			</ul></li>


	</ul>


	<div class="page-content">
		<div class="container" layout:fragment="content">
			<div class="row">
				<div class="col-sm-4">
					<input type="text" style="border-color: #8C316A;"
						class="form-group input-xxlarge" id="text-interim-facture"
						disabled="disabled" th:value="*{raisoninterim}" />
				</div>
				<div id="notif_facture"></div>
				

			</div>
			<h4>REGLEMENT DES BPS SANS STOCKS / FACTURES</h4>
			<form id="form-facture" action="executionfacture/simple"
				th:action="@{/executionfacture/simple}" method="post" role="form">

				<div class="widget-box ui-sortable-handle"
					id="widget-sortable-cmd-header">
					<div class="widget-header widget-header-large" id="first-window"
						style="padding-top: 5px; padding-bottom: 10px">

						<div class="row">
							<div class="col-sm-4">
								<!-- <div class="form-inline" style="margin-bottom: 5px">
									<label class=" smaller header lighterblue"
										style="font-weight: bold"> <i
										class="ace-icon fa fa-pencil-square-o"></i>MARCHANDISE:
									</label>
									<div class="radio" style="margin-left: 20px">
										<label id="label-radioor-facture" style="display: none">
											<input type="radio" name="form-field-radiom"
											id="form-facture-radio-ordinaire" style="display: none" />
											ORDINAIRE
										</label>
									</div>
									<div class="radio" style="margin-left: 20px">
										<label id="label-radios-facture" style="display: none">
											<input type="radio" name="form-field-radiom"
											id="form-facture-radio-speciale" style="display: none" />
											SPECIALE
										</label>
									</div>
								</div> -->
								<div class="form-inline form-group has-info"
									style="margin-bottom: 5px">
									<label class="smaller lighter blue">CODE MEMBRE: </label> <span
										class="block input-icon input-icon-right"> <input
										type="text" style="border-color: #8C316A;"
										class="form-group input-xxlarge" id="text-codemembre-facture" />
										<i class="ace-icon fa fa-pencil"></i>
									</span>
								</div>
								<div class="form-inline form-group has-info" style="margin-bottom: 5px;
									 display: none" id="form_facture_nom_telephone">
									<div class="form-inline form-group has-info"
										style="margin-bottom: 5px">
										<label class="">NOM MEMBRE: </label> <input type="text"
											style="width: 300px;" class="form-group"
											id="form-facture-nom-membre" />
									</div>
									<div class="form-inline form-group has-info"
										style="margin-bottom: 5px">
										<label>NUMERO TELEPHONE: </label> <select class="form-inline"
											id="form-facture-select-telephone">
										</select>
									</div>
								</div>
								<label class="smaller header lighter blue"
									style="margin-bottom: 15px"><i
									class="ace-icon fa fa-pencil-square-o"></i>Veuillez saisir les
									informations du produit </label>
								<div class="form-inline form-group has-info"
									style="margin-bottom: 21px">
									<div class="radio">
										<label> TYPE DE PRODUIT: </label> <select class="form-inline"
											id="form-facture-select-codetypecredit"
											th:field="*{codeCreditf}">

											<option id="form-facture-select-option"
												th:each="codeCredit: ${codeCreditf}"
												th:value="${codeCredit.codeTypeCredit}"
												th:text="${codeCredit.libTypeCredit}"></option>

										</select>

									</div>
								</div>


								<div class="form-inline form-group has-info"
									style="margin-bottom: 21px">
									<label>DESIGNATION: </label> <span
										class="block input-icon input-icon-right"> <input
										type="text" style="border-color: #8C316A;"
										class="form-group input-xxlarge" id="text-produit-facture"
										 /><i
										class="ace-icon fa fa-pencil"></i>
									</span>
								</div>
								<!-- 								<div class="form-inline form-group has-info"
									style="margin-bottom: 21px">
									<label>POLICE: </label> <span
										class="block input-icon input-icon-right"> <input
										type="text" style="border-color: #8C316A;"
										class="form-group input-xxlarge" id="text-police-facture"
										data-rel="tooltip" data-placement="bottom"
										data-original-title="Hello Tooltip!"
										aria-describedby="tooltip444027" /> <i
										class="ace-icon fa fa-pencil"></i>
									</span>
								</div>
 -->
								<div class="form-inline form-group has-info"
									style="margin-bottom: 21px">
									<label class="smaller lighter blue">REFERENCE FACTURE:
									</label> <span class="block input-icon input-icon-right"> <input
										type="text" style="border-color: #8C316A;"
										class="form-group input-xxlarge" id="text-reference-facture" />
										<i class="ace-icon fa fa-pencil"></i>
									</span>
								</div>

								<div class="form-inline form-group has-info"
									style="margin-bottom: 21px">
									<label class="smaller lighter blue">PERIODE DE
										FACTURATION: </label> <span class="block input-icon input-icon-right">
										<input type="text" style="border-color: #8C316A;"
										class="form-group input-xxlarge" id="text-periode-facture" />
										<i class="ace-icon fa fa-pencil"></i>
									</span>
								</div>

								<div id="esmc_notification"></div>
								<div id="notification_final" class="alert alert-info"
									style="display: none">
									<button type="button" class="close" data-dismiss="alert"
										id="notification_final_close">
										<i class="ace-icon fa fa-times"></i>
									</button>
									Operation de règlement de facture bien effectuée
								</div>


							</div>
							<div class="col-sm-8">
								<div class="widget-box">
									<div class="widget-header">
										<h4>PAIEMENT</h4>
									</div>
									<div class="widget-body">
										<div class="widget-main">

											<div class="control-group">
												<div class="radio">
													<label id="label-radior-facture"> <input
														type="radio" name="form-field-radio"
														id="form-facture-radior" /> Recurrent
													</label> <label></label> <select class="form-inline"
														style="display: none"
														id="form-field-select-limite-facture"
														th:field="*{recurrentsint}">

														<option th:each="r : ${recurrentsint}" th:value="${r}"
															th:text="${r}"></option>

													</select>
												</div>
												<div class="radio">
													<label> <input type="radio" name="form-field-radio"
														id="form-facture-radionr" /> Non recurrent
													</label> <label id="label-prk-facture" style="display: none">
														PRK: </label> <select class="form-inline"
														id="form-field-select-prk-facture" style="display: none">

														<option></option>

													</select>



												</div>

											</div>
											<label class="smaller header lighter blue"
												style="margin-bottom: 15px"><i
												class="ace-icon fa fa-pencil-square-o"></i>Veuillez choisir
												le type de bon à utiliser pour l'achat </label>

											<div class="radio">
												<label> <input type="radio" name="form-field-radioa"
													id="form-facture-radioDefaut" /> DEFAUT
												</label> <label style="display: none" id="label-cumul-facture">
													TOTAL: <input type="number" name=""
													id="text-montant-cumul-facture" style="display: none"
													value="0" disabled="disabled" />

												</label><label style="display: none"
													id="label-montant-bc-cumul-facture">Montant du BC:
													<input type="number" name=""
													id="text-montant-bc-cumul-facture" style="display: none"
													value="0" />
												</label>
											</div>
											<div class="radio">
												<!-- <label> <input type="radio" name="form-field-radiob"
											id="form-facture-radioOpi" /> Ordre de Prelevement
											Irrevocable(OPI)
										</label><label style="display: none" id="label-montant-opi-facture">
											Montant OPI: <input type="number" name=""
											id="text-montant-facture-opi" style="display: none" value="0" disabled="disabled" />

										</label>  -->
												<label style="display: none"
													id="label-montant-bc-opi-facture">Montant du BC: <input
													type="number" name="" id="text-montant-bc-opi-facture"
													style="display: none" value="0" />
												</label>


											</div>




											<div class="radio">
												<label> <input type="radio" name="form-field-radiob"
													id="form-facture-radioBn" /> Bon d'Achat neutre (BAn)
												</label> <label style="display: none" id="label-montant-ban-facture">
													Montant BAn: <input type="number" name=""
													id="text-montant-ban-facture" style="display: none"
													disabled="disabled" value="0" width="102px" />

												</label> <label style="display: none"
													id="label-montant-bc-ban-facture">Montant du BC: <input
													type="number" name="" id="text-montant-bc-ban-facture"
													style="display: none" value="0" width="102px" />
												</label>

											</div>

											<div class="radio">
												<label> <input type="radio" name="form-field-radiob"
													id="form-facture-radioBa" /> Bon d'Achat (BA) interne
												</label> <label style="display: none" id="label-montant-ba-facture">Montant
													du BA: <input type="number" name=""
													id="text-montant-ba-facture" style="display: none"
													value="0" disabled="disabled" />
												</label><label style="display: none"
													id="label-montant-bc-ba-facture">Montant du BC: <input
													type="number" name="" id="text-montant-bc-ba-facture"
													style="display: none" value="0" />
												</label>
											</div>
											<div class="radio">
												<label> <input type="radio" name="form-field-radiob"
													id="form-facture-radioBc" /> Bon de Consommation
												</label> <label style="display: none" id="label-montant-bc-facture">Montant
													du BA: <input type="number" name=""
													id="text-montant-bc-facture" style="display: none"
													value="0" disabled="disabled" />
												</label><label style="display: none"
													id="label-montant-bc-bc-facture">Montant du BC: <input
													type="number" name="" id="text-montant-bc-bc-facture"
													style="display: none" value="0" />
												</label>

											</div>
											<div class="form-inline form-group has-info">
												<button type="button" class="btn btn-danger"
													id="form-facture-btOK">
													<i class="ace-icon fa fa-envelope bigger-100"></i>CREER LE
													BON
												</button>
												<span id="load_createbon_facture" style="display: none">Veuillez
													patienter SVP</span> <i id="load_createbon_icone"
													class="ace-icon fa fa-spinner fa-spin orange bigger-125"
													style="position: absolute; font-size: 4em !important; margin-left: 14px; display: none">
												</i>

											</div>

											<div id="notification_sms_facture" class="alert alert-info"
												style="display: none">
												<button type="button" class="close"
													id="notification_sms_final_close_facture">
													<i class="ace-icon fa fa-times"></i>
												</button>
												Veuillez communiquer le code suivant à l'acheteur à envoyer
												sur<br /> TOGOCEL: 3162 OU MOOV: 4555 <br /> <input
													type="text" name=""
													style="border-color: #8C316A; margin-left: 15px"
													id="text-codesms_facture" class="input" />

											</div>

											<label class="smaller header lighter blue"
												style="margin-bottom: 15px"><i
												class="ace-icon fa fa-pencil-square-o"></i>Veuillez saisir
												le code du bon de consommation </label>

											<div class="form-inline">
												<label class="inline" style="margin-bottom: 15px">
													CODE DU BON DE CONSOMMATION: </label> <input type="text" name=""
													id="form-facture-bonConso" class="input-large" />
											</div>


											<button type="button" id="form-facture-valider"
												class="btn btn-info">
												<i class="ace-icon fa fa-shopping-cart bigger-160"></i>VALIDER
												L'OPERATION
											</button>
											<button type="reset" id="form-facture-annuler"
												class="btn btn-light">
												<i class="ace-icon fa fa-undo bigger-160"></i> ANNULER
											</button>
											<span id="load_validate_facture" style="display: none">Veuillez
												patientez SVP</span> <i id="load_validate_icone"
												class="ace-icon fa fa-spinner fa-spin orange bigger-125"
												style="position: absolute; font-size: 4em !important; margin-left: 14px; display: none">
											</i>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div id="viewMontantBn-modal-facture" class="modal fade">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div id="modal-wizard-container">
								<div class="modal-header">
									<label><h3>CONFIRMATION DE L'OPERATION</h3></label>
									<button type="button" class="close" data-dismiss="modal"
										aria-hidden="true">&times;</button>

								</div>
								<div class="modal-body">
									<form id="frm" action="#" method="post">
										&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
										&nbsp; &nbsp; &nbsp;
										<div class="row">
											<div class="col-sm-4">
												<div class="form-inline form-group has-info">
													<label>VOUS AVEZ CHOISI LE TYPE:</label> &nbsp; &nbsp;
													&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
													&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
													&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
												</div>
												<div class="form-inline form-group has-info">
													<label> LE MONTANT DE LA FACTURE A REGLER EST: </label>

												</div>


												<div class="form-inline form-group has-info">
													<label> LE MONTANT DE BON D'ACHAT NEUTRE A UTILISER
														EST: </label>
												</div>

											</div>
											<div class="col-sm-4">
												<div class="form-inline form-group has-info">
													<input type="text" name="" id="texteRecurrent-facture"
														class="input-large" disabled="disabled" />
												</div>
												&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
												&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
												&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
												<div class="form-inline form-group has-info">
													<input type="text" name="" id="montantAchatModal-facture"
														class="input-large" disabled="disabled" />

												</div>
												&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
												&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
												&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
												<div class="form-inline form-group has-info">
													<input type="text" name=""
														id="montantBonNeutreUtiliser-facture" class="input-large"
														disabled="disabled" />
												</div>
											</div>

											<div class="col-sm-12">
												<div class="form-actions">
													<button type="button" id="form-facture-confirmer"
														class="btn btn-info" data-dismiss="modal">
														<i class="ace-icon fa fa-check bigger-110"></i>CONTINUER
														L'OPERATION?
													</button>

													<button class="btn btn-light" data-dismiss="modal"
														aria-hidden="true" style="margin-left: 20px">
														<i class="ace-icon fa fa-undo bigger-110"></i> ANNULER
													</button>
												</div>
											</div>
										</div>
										<!-- 
										<div>
											<label class="inline">VOUS AVEZ CHOISI LE TYPE:</label> <input
												type="text" name="" id="texteRecurrent-facture"
												class="input-large" disabled="disabled" />
										</div>
										&nbsp; &nbsp; &nbsp;
										<div>
											<label class="inline"> LE MONTANT DE LA FACTURE A
												REGLER EST: </label> <input type="text" name=""
												id="montantAchatModal-facture" class="input-large"
												disabled="disabled" />
										</div> 
										&nbsp; &nbsp; &nbsp;
										<div>
											<label class="inline"> LE MONTANT DE BON D'ACHAT
												NEUTRE A UTILISER EST: </label> <input type="text" name=""
												id="montantBonNeutreUtiliser-facture" class="input-large"
												disabled="disabled" />
										</div>
										&nbsp; &nbsp; &nbsp;-->
										<!-- <div class="form-actions">
											<button type="button" id="form-facture-confirmer"
												class="btn btn-pink">
												<i class="ace-icon fa fa-check bigger-110"></i>CONFIRMER
												L'OPERATION
											</button>
											&nbsp; &nbsp; &nbsp;
											<button class="btn btn-yellow " data-dismiss="modal"
												aria-hidden="true">
												<i class="ace-icon fa fa-undo bigger-110"></i> ANNULER
											</button>
										</div> -->
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>

	</div>
















































	<!-- <div class="page-content">
		<div class="container" layout:fragment="content">
			<div id="esm c_notification"></div>
			<h2>REGLEMENT DE FACTURES - FOURNISSEURS SPECIFIQUES</h2>
			<form id="form-facture" action="executionfacture/simple"
				th:action="@{/executionfacture/simple}" method="post" role="form">

				

						<div class="form-inline form-group has-info"
							style="margin-bottom: 21px">
							<label class="inline smaller lighter"> CODE MEMBRE </label> <span
								class="block input-icon input-icon-right"> <input type="text"
								name="" style="border-color: #8C316A;" class="input-xlarge"
								id="form-interim-code-membre" />
							</span>
						</div>
						<div class="form-inline form-group has-info"
							style="margin-bottom: 21px">
							<label class="inline smaller lighter"> PRODUIT </label> <span
								class="block input-icon input-icon-right"> <input type="text"
								name="" style="border-color: #8C316A;" class="input-xlarge"
								id="form-interim-produit" />
							</span>
						</div>

						<div class="form-inline form-group has-info"
							style="margin-bottom: 21px">
							<label class="smaller lighter blue">REFERENCE POLICE: </label> <span
								class="block input-icon input-icon-right"> <input
								type="text" style="border-color: #8C316A;"
								class="form-group input-xxlarge"
								id="text-police-facture-interim" /> 
							</span>
						</div>

						<div class="form-inline form-group has-info"
							style="margin-bottom: 21px">
							<label class="smaller lighter blue">REFERENCE FACTURE: </label> <span
								class="block input-icon input-icon-right"> <input
								type="text" style="border-color: #8C316A;"
								class="form-group input-xxlarge"
								id="text-reference-facture-interim" /> 
							</span>
						</div>

						<div class="form-inline form-group has-info"
							style="margin-bottom: 21px">
							<label class="smaller lighter blue">PERIODE: </label> <span
								class="block input-icon input-icon-right"> <input
								type="text" style="border-color: #8C316A;"
								class="form-group input-xxlarge"
								id="text-periode-facture-interim" /> 
							</span>
						</div>
						
						<div class="form-inline form-group has-info"
							style="margin-bottom: 21px">
							<label class="smaller lighter blue" style="display: block">MONTANT
								FACTURE: </label> <span class="block input-icon input-icon-right">
								<input type="number" style="border-color: #8C316A;"
								class="form-group input-xxlarge"
								id="text-montant-facture-interim" value="0" />
							</span>
						</div>


						<div class="form-inline form-group has-info"
							style="margin-bottom: 21px">
							<label class="smaller lighter blue" style="display: block">MONTANT
								NET A PAYER: </label> <span class="block input-icon input-icon-right">
								<input type="number" style="border-color: #8C316A;"
								class="form-group input-xxlarge"
								id="text-montant-facture-net-interim" value="0" /><i
								class="ace-icon fa fa-pencil"></i>
							</span>
						</div>
					
				     	<div class="col-sm-8">
						<div class="widget-box" style="position: relative; left: -9px;">
							<div class="widget-header">
								<label class="smaller lighter blue">SOURCE DE PAIEMENT</label>
							</div>
							<div class="widget-body">
								<div class="widget-main">


									<div class="control-group">
										<div class="radio">
											<label> <input type="radio" name="form-field-radio"
												id="form-radior-facture-interim" /> Recurrent
											</label>
										</div>
										<div class="radio">
											<label> <input type="radio" name="form-field-radio"
												id="form-radionr-facture-interim" /> Non recurrent
											</label>
										</div>

									</div>
									<label class="smaller header lighter blue"
										style="margin-bottom: 15px"><i
										class="ace-icon fa fa-pencil-square-o"></i>Veuillez choisir le
										type de bon à utiliser pour l'achat </label>

									<div class="radio">
										<label> <input type="radio" name="form-field-radiob"
											id="form-interim-radioBn" /> <span class="lbl"> Bon
												d'Achat neutre (BAn): </span>
										</label>


									</div>

									<div class="radio">
										<label> <input type="radio" name="form-field-radiob"
											id="form-interim-radioBa" disabled="disabled" /> <span
											class="lbl"> Bon d'Achat (BA) interne </span>
										</label>
										<div>
											<label style="display: none">Type de BA interne:</label>
										</div>
									</div>

									<div class="radio">
										<label> <input type="radio" name="form-field-radiob"
											id="form-interim-radioBc" disabled="disabled" /> Bon de
											Consommation récurrent(BCr)
										</label>

									</div>

									<div class="form-inline form-group has-info"
										style="margin-top: 19px; margin-bottom: 19px;">

										<button type="button" class="btn btn-pink"
											id="form-facture-interim-btOk">
											<i class="ace-icon fa fa-envelope bigger-100"></i>OK
										</button>
									</div>
									<label class="smaller header lighter blue"
										style="margin-bottom: 15px"><i
										class="ace-icon fa fa-pencil-square-o"></i>Veuillez saisir le
										code du bon de consommation </label>
									<div class="form-inline form-group has-info"
										style="margin-bottom: 15px; margin-top: 12px;">
										<label class="inline  smaller lighter "
											style="margin-right: 13px;"> Numero de Bon de
											Consommation </label> <span class="input-icon input-icon-right">
											<input type="text" name="" style="border-color: #8C316A;"
											id="form-facture-interim-bonConso" class="input-xlarge" />
										</span>
									</div>
									<button class="btn btn-pink" id="form-facture-interim-valider">
										<i class="ace-icon fa fa-shopping-cart bigger-160"></i>
										VALIDER L'OPERATION
									</button>
									<button type="reset" id="form-facture-interim-annuler"
										class="btn btn-pink">
										<i class="ace-icon fa fa-undo bigger-160"></i> ANNULER
									</button>

								</div>

							</div>



						</div>

					</div>


				
		
	
	<div id="viewMontantBn-modal-interim" class="modal fade">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div id="modal-wizard-container">
					<div class="modal-header">
						<label><h3>CONFIRMATION DE L'OPERATION</h3></label>
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>

					</div>
					<div class="modal-body">
						<form id="frm" action="#" method="post">
							&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
							&nbsp; &nbsp; &nbsp;
							<div>
								<label class="inline">VOUS AVEZ CHOISI LE TYPE:</label> <input
									type="text" name="" id="texteRecurrentInterim"
									class="input-large" disabled="disabled" />
							</div>
							&nbsp; &nbsp; &nbsp;
							<div>
								<label class="inline"> LE MONTANT DE LA FACTURE A REGLER
									EST: </label> <input type="text" name="" id="montantAchatModalinterim"
									class="input-large" disabled="disabled" />
							</div>
							&nbsp; &nbsp; &nbsp;
							<div>
								<label class="inline"> LE MONTANT DE BON D'ACHAT NEUTRE
									A UTILISER EST: </label> <input type="text" name=""
									id="montantBonNeutreUtiliserinterim" class="input-large"
									disabled="disabled" />
							</div>
							&nbsp; &nbsp; &nbsp;
							<div class="form-actions">
								<button type="button" id="form-facture-interim-createBonConso"
									class="btn btn-pink">
									<i class="ace-icon fa fa-check bigger-110"></i>CONFIRMER
									L'OPERATION
								</button>
								&nbsp; &nbsp; &nbsp;
								<button class="btn btn-yellow " data-dismiss="modal"
									aria-hidden="true">
									<i class="ace-icon fa fa-undo bigger-110"></i> ANNULER
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
</form>
</div>
</div> -->

</body>

</html>
