<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/template">
<head>
<meta charset="UTF-8" />
<title>Generer codebarres</title>
</head>

<body>
	<ul layout:fragment="navbar">
		<li class=""><a href="index.html" th:href="@{/home}"> <i
				class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
					ACCUEIL </span>
		</a> <b class="arrow"></b></li>
		
		<li class="" sec:authorize="hasAuthority('technopole')"><a
			href="mcnp/distributeur/generer_codebarre.html"
			th:href="@{/codebarre}"> <i
				class="menu-icon fa fa-pencil-square-o"></i> <span class="menu-text">
					Création codebarres </span>

		</a></li>
	</ul>

	<div class="page-content">
		<div class="container" layout:fragment="content">
			

			<form id="form-vente" action="executionvente/simple"
				th:action="@{/executionvente/simple}" method="post" role="form">
				<div class="widget-box">
							<div class="widget-header">
								<h4>CREER LES CODEBARRES</h4>
							</div>
							<div class="widget-body">
								<div class="widget-main">
						<div class="row">
							<div class="col-sm-4">
								<div class="form-inline form-group has-info"
									style="margin-bottom: 5px">
									<label class="">Code Membre du demandeur:<br /> <br />
									</label>
								</div>

								<div class="form-inline form-group has-info"
									style="margin-bottom: 5px">
									<label class="">Est-il?:<br /> <br />
									</label>
								</div>
								<div class="form-inline form-group has-info"
									style="margin-bottom: 5px">
									<label class="">Nombre de codes:<br /> <br />
									</label>
								</div>
								<div class="form-inline form-group has-info"
									style="margin-bottom: 5px">
									<label class="" id="label-nbre-sg" style="display: none">Nombre de codes semi-grossistes par code grossiste:<br /> <br />
									</label>
								</div>
								<div class="form-inline form-group has-info"
									style="margin-bottom: 5px">
									<label class="" id="label-nbre-det" style="display: none">Nombre de codes détaillants par code semi-grossiste:<br /> <br />
									</label>
								</div>


							</div>
							<div class="col-sm-4">
								<div class="form-inline form-group has-info"
									style="margin-bottom: 20px">
									<input type="text" style="width: 300px;" class="form-group"
										id="form-generer-codemembre" />
								</div>
								<div class="form-inline" style="margin-bottom: 20px">
									
										<label id="label-radiob1" > <input type="radio"
											name="form-field-radiob" id="form-generer-grossiste" /> GROSSISTE
										</label>

										<label id="label-radiob2" style="margin-left: 10px"> <input type="radio"
											name="form-field-radiob" id="form-generer-semi-grossiste" /> SEMI-GROSSISTE
										</label>
									
										<label id="label-radiob3" style="margin-left: 10px"> <input type="radio"
											name="form-field-radiob" id="form-generer-detaillant"/> DETAILLANT
										</label>
									
								</div>
								<div class="form-inline form-group has-info"
									style="margin-bottom: 20px">
									<input type="text" style="width: 300px;" class="form-group"
										id="form-generer-nb" value="0" />
								</div>
								<div class="form-inline form-group has-info"
									style="margin-bottom: 20px">
									<input type="text" style="width: 300px; display: none" class="form-group"
										id="form-generer-nbsg" value="0"/>
								</div>
								<div class="form-inline form-group has-info"
									style="margin-bottom: 20px">
									<input type="text" style="width: 300px; display: none" class="form-group"
										id="form-generer-nbdet" value="0" />
								</div>
							</div>

						</div>
						
						<div class="row">
							<div class="col-sm-4"></div>
							<div class="col-sm-8">
								<div class="form-inline form-group has-info">
									<button type="button" class="btn btn-danger"
										id="form-generer-enregistrer">
										<i class="ace-icon fa fa-envelope bigger-100"></i>ENREGISTRER

									</button>
									<button type="button" id="form-generer-reprendre"
										class="btn btn-light">
										<i class="ace-icon fa fa-undo bigger-160"></i> REPRENDRE
									</button>
									
									<!-- <button type="button" class="btn btn-info"
										id="form-generer-exporter" style="margin-left: 25px">
										<i class="ace-icon fa fa-envelope bigger-100"></i>EXPORT EN EXCEL
									</button>
									
									 -->
									
									<span id="load_generer" style="display: none">Veuillez
										patienter SVP</span> <i id="load_generer_icone"
										class="ace-icon fa fa-spinner fa-spin orange bigger-125"
										style="position: absolute; font-size: 4em !important; margin-left: 14px; display: none">
									</i>
								</div>
							</div>
					</div>

						<div class="row">
							<div class="col-sm-12">

								<div id="notification_generer" >
									
								</div>
								<div id="notification_generer_final" class="alert alert-info"
									style="display: none">
									<button type="button" class="close"
										id="notification_generer_final_close">
										<i class="ace-icon fa fa-times"></i>
									</button>
									Enregistrement des codebarres bien effectué!!

								</div>
								
								<div id="confirm-generer-modal" class="modal fade">
									<div class="modal-dialog modal-lg">
										<div class="modal-content">
											<div id="modal-wizard-container">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal"
														aria-hidden="true">&times;</button>
													CONFIRMATION
												</div>
												<div class="modal-body">

													&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
													&nbsp; &nbsp; &nbsp; &nbsp;

													<div class="row">
														<div class="col-sm-8">

															ÊTES-VOUS SÛR DE VOULOIR ENREGISTRER LES CODEBARRES CREES?
															<div>
																<button type="button" id="form-generer-oui"
																	data-dismiss="modal" class="btn btn-info">
																	<i class="ace-icon fa fa-check bigger-110"></i>OUI
																</button>

																<button class="btn btn-light" data-dismiss="modal"
																	aria-hidden="true" style="margin-left: 20px">
																	<i class="ace-icon fa fa-undo bigger-110"></i> NON
																</button>
															</div>
														</div>
													</div>

												</div>
											</div>

										</div>
									</div>
								</div>

						</div>
						</div>
						
					</div>
				</div>
				</div>
			</form>
		</div>
	</div>

</body>
</html>