<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/admin">
    <head>
        <title>FGFN</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <th:block layout:fragment="navbar">
            <div th:include="fgfn/menu :: navbar" th:remove="tag"></div>
            <li class=""><a href="/mcnp/fgfn/maj" th:href="@{/majfgfn}">
                    <i class="menu-icon fa fa-plus purple"></i>Mise à jour FGFN
                </a> <b class="arrow"></b></li>
            <li class=""><a href="/mcnp/fgfn/dat" th:href="@{/listdat}">
                    <i class="menu-icon fa fa-plus purple"></i>DAT
                </a> <b class="arrow"></b></li>
        </th:block>
        <ul class="breadcrumb" layout:fragment="breadcrumb">
            <li><i class="ace-icon fa fa-home home-icon"></i> <a
                    th:href="@{/}">Accueil</a></li>
            <li class="active">FGFN</li>
        </ul>
        <div layout:fragment="content">
            
        </div>
</body>
</html>