<th:block xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
          th:fragment="navbar">
    <li>
        <a class="collapsible-header waves-effect" href="index.html"
           th:href="@{/home}"> <i class="menu-icon fas fa-home"></i> <span
                class="menu-text"> Accueil </span>
        </a>
    </li>
    <li>
        <a href="#" class="collapsible-header waves-effect arrow-r">
            <i class="menu-icon fa fa-list"></i> <span class="menu-text">
				Liste des FGFN </span><b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>
        <div class="collapsible-body">
            <ul>
                <li><a href="/mcnp/smcipn/smci" th:href="@{/list}"
                       class="collapsible-header waves-effect"> <i
                        class="menu-icon fa fa-book-open"></i> <span class="menu-text">
							Consolidés </span>
                </a> <b class="arrow"></b></li>
                <li><a
                        href="/mcnp/smcipn/charge" th:href="@{/listDet}"
                        class="collapsible-header waves-effect"> <i
                        class="menu-icon fa fa-plus"></i> <span class="menu-text">
							Détails </span>
                </a> <b class="arrow"></b></li>
            </ul>
        </div>
    </li>
    <li>
        <a href="#" class="collapsible-header waves-effect arrow-r">
            <i class="menu-icon fa fa-list"></i> <span class="menu-text">
				Etat des DAT </span><b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>
        <div class="collapsible-body">
            <ul>
                <li><a
                        href="/mcnp/smcipn/smci" th:href="@{/dat}"
                        class="collapsible-header waves-effect"> <i
                        class="menu-icon fa fa-plus"></i> <span class="menu-text">
							Consolidés </span>
                </a> <b class="arrow"></b></li>
                <li><a
                        href="/mcnp/smcipn/charge" th:href="@{/listdat}"
                        class="collapsible-header waves-effect"> <i
                        class="menu-icon fa fa-plus"></i> <span class="menu-text">
							Détails </span>
                </a> <b class="arrow"></b></li>
            </ul>
        </div>
    </li>
    <li>
        <a href="#" class="collapsible-header waves-effect arrow-r">
            <i class="menu-icon fa fa-list"></i> <span class="menu-text">
				Etat des BAn </span><b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>
        <div class="collapsible-body">
            <ul>
                <li><a href="#" th:href="@{/bonNeutre/ban}"
                       class="collapsible-header waves-effect"> <i
                        class="menu-icon fa fa-plus"></i> <span class="menu-text">
							Bon d'Achat Neutre </span>
                </a> <b class="arrow"></b></li>
                <li><a
                        href="#" th:href="@{/bonNeutre/banDetail}"
                        class="collapsible-header waves-effect"> <i
                        class="menu-icon fa fa-plus"></i> <span class="menu-text">
							Details BAn </span>
                </a> <b class="arrow"></b></li>
                <li><a
                        href="#" th:href="@{/bonNeutre/banUtilise}"
                        class="collapsible-header waves-effect"> <i
                        class="menu-icon fa fa-plus"></i> <span class="menu-text">
							BAn Utilises </span>
                </a> <b class="arrow"></b></li>
            </ul>
        </div>
    </li>
    <li>
        <a href="#" class="collapsible-header waves-effect arrow-r">
            <i class="menu-icon fa fa-list"></i> <span class="menu-text">
				Etat des OPI </span><b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>
        <div class="collapsible-body">
            <ul>
                <li><a href="/mcnp/smcipn/smci" th:href="@{/tabOpiEmis}"
                       class="collapsible-header waves-effect"> <i
                        class="menu-icon fa fa-plus"></i> <span class="menu-text">
							Consolidés </span>
                </a> <b class="arrow"></b></li>
                <li><a
                        href="/mcnp/smcipn/charge" th:href="@{/opis}"
                        class="collapsible-header waves-effect"> <i
                        class="menu-icon fa fa-plus"></i> <span class="menu-text">
							OPI détaillés </span>
                </a> <b class="arrow"></b></li>
            </ul>
        </div>
    </li>
    <li>
        <a href="#" class="collapsible-header waves-effect arrow-r">
            <i class="menu-icon fa fa-list"></i> <span class="menu-text">
				Etat des BC </span><b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>
        <div class="collapsible-body">
            <ul>
                <li><a href="/mcnp/smcipn/smci" th:href="@{/cm/comptes}"
                       class="collapsible-header waves-effect"> <i
                        class="menu-icon fa fa-plus"></i> <span class="menu-text">
							Comptes Marchands </span>
                </a> <b class="arrow"></b></li>
                <li><a
                        href="/mcnp/smcipn/charge" th:href="@{/cm/credits}"
                        class="collapsible-header waves-effect"> <i
                        class="menu-icon fa fa-plus"></i> <span class="menu-text">
							BC détaillés </span>
                </a> <b class="arrow"></b></li>
            </ul>
        </div>
    </li>
    <li sec:authorize="hasAnyAuthority('cnp_tegcp', 'FILIERE', 'FDD')">
        <a href="/mcnp/bon" th:href="@{/gcp}" class="collapsible-header waves-effect">
            <i class="menu-icon fa fa-edit"></i>
            <span class="menu-text">Etat des GCp </span>
        </a>
        <b class="arrow"></b>
    </li>
</th:block>