<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/admin">
<head>
    <title>Espace Bancaire</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:fragment="style" th:remove="tag">
        <!--<link rel="stylesheet" th:href="@{/resources/js/jqgrid/ui.jqgrid.css}">-->
        <link rel="stylesheet"
              th:href="@{/resources/js/jqgrid/ui.jqgrid-bootstrap4.css}">
        <link rel="stylesheet"
              th:href="@{/resources/js/jqgrid/ui.jqgrid-bootstrap-ui.css}">
        <style type="text/css">
            input[type='checkbox'], input[type='checkbox']:checked, input[type='checkbox']:not(:checked) {
                display: inline-block;
                position: relative;
                pointer-events: auto;
                opacity: 1;
            }
        </style>
    </th:block>
</head>
<body>
<th:block layout:fragment="navbar">
    <div th:include="fgfn/menu :: navbar" th:remove="tag"></div>
</th:block>
<ul class="breadcrumb" layout:fragment="breadcrumb">
    <li><i class="ace-icon fa fa-home home-icon"></i> <a
            th:href="@{/}">Accueil</a></li>
    <li class="active">OPI</li>
</ul>
<ul class="breadcrumb" layout:fragment="breadcrumb">
    <li><i class="ace-icon fa fa-home home-icon"></i> <a
            th:href="@{/}">Accueil</a></li>
    <li class="active">Espace Bancaire</li>
</ul>
<!-- /.breadcrumb -->
<div layout:fragment="content">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Détails des OPI Emis</h5>
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 md-form">
                        <div class="input-group">
                            <input type="text" id="codeMembre" name="codeMembre"
                                   class="form-control" th:value="${codeMembre}">
                            <div class="input-group-append">
                                <button class="btn btn-sm btn-blue"
                                        type="button" id="qrCodeReadBut">QrCode
                                </button>
                            </div>
                        </div>
                        <label for="codeMembre" class="active">Code Membre</label>
                    </div>
                    <div class="custom-control custom-checkbox col-md-4">
                        <select id="ckbOpiEchu" class="mdb-select md-form">
                            <option value="" selected>Selectionner</option>
                            <option value="0">Non Echu</option>
                            <option value="1">Echu</option>
                        </select>
                        <label class="mdb-main-label" for="ckbOpiEchu">Opi Echu</label>
                    </div>
                    <div class="col-md-4">
                        <select id="ckbOpiPaye" class="mdb-select md-form">
                            <option value="" selected>Selectionner</option>
                            <option value="0">Non Paye</option>
                            <option value="1">Paye</option>
                        </select>
                        <label class="mdb-main-label" for="ckbOpiPaye">OPI Paye</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 md-form">
                        <input id="dateDebut" name="dateDebut" type="date" class="form-control">
                        <label for="dateDebut" class="active">Date Debut</label>
                    </div>
                    <div class="col-md-6 md-form">
                        <div class="input-group">
                            <input id="dateFin" type="date" name="dateFin" class="form-control">
                            <div class="input-group-append">
                                <button id="searchOpiBtn" type="button" class="btn btn-sm btn-secondary">Rechercher
                                </button>
                            </div>
                            <label for="dateFin" class="active">Date Fin</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card" style="margin-top: 7px;">
        <div class="card-header">
            <div class="float-left">
                <button id="btnExportEx" type="button" class="btn btn-sm btn-default">Export Excel</button>
            </div>
        </div>
        <div class="card-body">
            <table id="tbDetOpiEmis"></table>
            <!-- Pagination Bar -->
            <div id="pgDetOpiEmis">
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script" th:remove="tag">
    <script th:src="@{/resources/js/jszip/jszip.min.js}"></script>
    <script th:src="@{/resources/js/jqgrid/grid.locale-fr.js}"></script>
    <script th:src="@{/resources/js/jqgrid/jquery.jqGrid.min.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        var contextRoot = /*[[@{/}]]*/
        $(function () {
            var opiTable = $("#tbDetOpiEmis");
            opiTable.jqGrid({
                url: contextRoot + 'listopi',
                mtype: "GET",
                styleUI: 'Bootstrap4',
                iconSet: "fontAwesome",
                postData: {
                    codeMembre: function () {
                        return $("#codeMembre").val();
                    },
                    deb: function () {
                        return $("input#dateDebut").val();
                    },
                    fin: function () {
                        return $("input#dateFin").val();
                    },
                    echu: function () {
                        return $("select#ckbOpiEchu").val();
                    },
                    payer: function () {
                        return $("select#ckbOpiPaye").val();
                    }
                },
                datatype: "json",
                colModel: [
                    {label: 'ID', name: 'traiteId', key: true, width: 80},
                    {label: 'Banque', name: 'traiteCodeBanque', width: 100},
                    {label: 'TPA', name: 'traiteTegcp', width: 100},
                    {label: 'Date Debut', name: 'traiteDateDebut', width: 120},
                    {label: 'Date Fin', name: 'traiteDateFin', width: 120},
                    {label: 'Montant', name: 'traiteMontant', width: 120, summaryTpl: "Sum: {0}", summaryType: "sum"},
                    {label: 'Mode Paiement', name: 'modePaiement', width: 120},
                    {label: 'Imprimer', name: 'traiteImprimer', formatter: intformatter, width: 90},
                    {label: 'Payer', name: 'traitePayer', formatter: intformatter, width: 90}
                ],
                page: 1,
                autowidth: true,
                height: 370,
                rowNum: 100,
                rowList: [100, 250, 500],
                rownumWidth: 25,
                sortname: 'traiteId',
                multiselect: false,
                viewrecords: true,
                emptyrecords: 'Pas d\'OPI trouves', // the message will be displayed at the bottom
                pager: "#pgDetOpiEmis",
                footerrow: true, // set a footer row
                userDataOnFooter: true, // the calculated sums and/or strings from server are put at footer row.
                grouping: true,
                groupingView: {
                    groupField: ["traiteTegcp"],
                    groupColumnShow: [true],
                    groupText: ["<b>{0}</b>"],
                    groupOrder: ["desc"],
                    groupSummary: [true],
                    groupCollapse: false

                }
            });

            $("#btnExportEx").on("click", function () {
                opiTable.jqGrid("exportToExcel", {
                    includeLabels: true,
                    includeGroupHeader: true,
                    includeFooter: true,
                    fileName: "opi.xlsx",
                    maxlength: 40 // maxlength for visible string data
                })
            })

            function intformatter(cellValue, options, rowObject) {
                if (cellValue === 0) {
                    return '<input name="" type="checkbox" disabled>';
                } else {
                    return '<input type="checkbox" checked disabled>';
                }
            }

            $("#searchOpiBtn").click(function (e) {
                e.preventDefault();
                opiTable.jqGrid().trigger('reloadGrid');
            });
        });
    </script>
</th:block>
</body>
</html>
