<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/admin">
<head>
    <title>Utilisateurs</title>
    <th:block th:fragment="style" th:remove="tag">
        <!--<link rel="stylesheet" th:href="@{/resources/js/jqgrid/ui.jqgrid.css}">-->
        <link rel="stylesheet" th:href="@{/resources/js/jqgrid/ui.jqgrid-bootstrap.css}">
        <link rel="stylesheet" th:href="@{/resources/js/jqgrid/ui.jqgrid-bootstrap4.css}">
        <!--<link rel="stylesheet" th:href="@{/resources/js/jqgrid/ui.jqgrid-bootstrap-ui.css}">-->
        <style type="text/css">
            .white-skin a.btn:not([href]):not([tabindex]), .white-skin a.btn:not([href]):not([tabindex]):focus, .white-skin a.btn:not([href]):not([tabindex]):hover, .white-skin table.table a.btn.btn-default {
                color: inherit;
            }
        </style>
    </th:block>
</head>
<body>
<ul layout:fragment="navbar">
    <div th:include="signup/menu :: navbar" th:remove="tag"></div>
</ul>
<ul class="breadcrumb" layout:fragment="breadcrumb">
    <li><i class="ace-icon fa fa-home home-icon active"></i>Accueil</li>
</ul>
<div layout:fragment="content">
    <div class="card">
        <div class="card-header widget-header-small">
            <h5 class="card-header-title">Liste Groupes de rôles</h5>
        </div>
        <div class="card-body">
            <span id="error-message" class="error-message"></span>
            <table id="groupeGrid" class="table table-condensed"></table>
            <div id="gpGridPager"></div>
        </div>
    </div>
</div>
<th:block layout:fragment="script" th:remove="tag">
    <script th:src="@{/resources/js/jqgrid/grid.locale-fr.js}"></script>
    <script th:src="@{/resources/js/jqgrid/jquery.jqGrid.min.js}"></script>
    <script>
        $.jgrid.defaults.width = 780;
        //$.jgrid.defaults.responsive = true;
        $.jgrid.defaults.styleUI = 'Bootstrap4';
    </script>
    <script th:inline="javascript">
        $(document).ready(function () {
            $("#groupeGrid").jqGrid({
                url: 'groupeRoles/',
                editurl: 'groupeRoles',
                mtype: "GET",
                iconSet: "fontAwesome",
                datatype: "json",
                ajaxRowOptions : {
                    error : function(response, status, error) {
                        /// code when error in inline edit only
                    }
                },
                colModel: [
                    {
                        label: 'ID', name: 'id', width: 200, key: true, editable: true,  editoptions : { readonly: true}
                    },
                    {label: 'Libellé', name: 'libelleGroupeRoles', width: 900, editable: true}
                ],
                page: 1,
                width: null,
                shrinkToFit: false,
                height: 350,
                rowNum: 20,
                rowList: [20, 50, 100],
                sortname: 'idGroupeRoles',
                sortorder : 'asc',
                loadonce: true,
                viewrecords: true,
                emptyrecords: 'Pas de Groupes trouves', // the message will be displayed at the bottom
                pager: "#gpGridPager"
            });
            $.extend($.jgrid.edit, {
                bSubmit: "Valider",
                bCancel: "Annuler",
                width: 370,
                recreateForm: true,
                beforeShowForm: function () {
                    $('<a href="#">Save and New<span class="ui-icon ui-icon-disk"></span></a>')
                        .click(function() {
                            alert("click!");
                        }).addClass("fm-button ui-state-default ui-corner-all fm-button-icon-left")
                        .prependTo("#Act_Buttons>td.EditButton");
                }
            });
            $('#groupeGrid').navGrid('#gpGridPager',
                // the buttons to appear on the toolbar of the grid
                {
                    edit: true,
                    add: true,
                    del: true,
                    search: false,
                    refresh: true,
                    view: false,
                    position: "left",
                    cloneToTop: false
                },
                // options for the Edit Dialog
                {
                    editCaption: "Edition Groupe de Rôle",
                    recreateForm: true,
                    serializeEditData:serializeEditDataCallback,
                    checkOnUpdate: true,
                    checkOnSubmit: true,
                    closeAfterEdit: true,
                    errorTextFormat: function (data) {
                        return 'Error: ' + data.responseText
                    }
                },
                // options for the Add Dialog
                {
                    closeAfterAdd: true,
                    recreateForm: true,
                    serializeEditData:serializeEditDataCallback,
                    errorTextFormat: function (data) {
                        return 'Error: ' + data.responseText
                    }
                },
                // options for the Delete Dailog
                {
                    errorTextFormat: function (data) {
                        return 'Error: ' + data.responseText
                    }
                });
            // Serialize the data passed to the AJAX request. The function should return the serialized data.
// This event can be used when a custom data should be passed to the server (JSON, XML, etc.)
// The method receives the data which will be posted to the server.
            function serializeEditDataCallback(data) {
                // create a copy
                var modifiedData = $.extend({}, data);

                // if it's a new record, replace its ID
                if(modifiedData.id == "_empty" || modifiedData.id == '') {
                    modifiedData.id = 0;
                }

                // the operation is passed as an HTTP method, this field is not necessary
                delete modifiedData.oper;

                //The "autoencode:true" option HTML-encodes incoming and posted data.
                //The posted data should not be encoded. It is de-encoded here.
                //modifiedData.name = $.jgrid.htmlDecode(modifiedData.name);

                // encode the data in `application/x-www-form-urlencoded`
                return $.param(modifiedData);

                // Remove the comment to return JSON instead
                // return JSON.stringify(modifiedData);
                // You also need to add `ajaxEditOptions: { contentType: "application/json" }` to `edit` options
            }
        });
    </script>
</th:block>
</body>
</html>