<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout/admin">
<head>
    <title>Espace Bancaire</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<th:block th:fragment="navbar">
    <li class=""><a href="index.html" th:href="@{/home}"> <i
            class="menu-icon fa fa-home"></i> <span class="menu-text">
					Accueil </span>
    </a> <b class="arrow"></b></li>
    <!---->
    <div sec:authorize="hasAuthority('ADMIN')">
        <li class=" "><a href="/mcnp/user" th:href="@{/admin/utilisateur}"> <i
                class="menu-icon fa fa-user"></i> <span class="menu-text">
					Utilisateurs</span>
        </a> <b class="arrow"></b></li>
        <li class=""><a href="mcnp/signup/register.html"
                        th:href="@{/admin/register}"> <i class="menu-icon fa fa-user-plus"></i>
            <span class="menu-text"> Ajouter Utilisateur</span>

        </a></li>
        <li class=" "><a href="/mcnp/roles" th:href="@{/admin/roles}">
            <i class="menu-icon fa fa-bell"></i> <span class="menu-text">
					Rôles et Permissions </span>
        </a> <b class="arrow"></b></li>
        <li class=" "><a href="/mcnp/role" th:href="@{/admin/role}"> <i
                class="menu-icon fa fa-concierge-bell"></i> <span class="menu-text">
					Ajout de Rôles et Permissions </span>
        </a> <b class="arrow"></b></li>
        <li class=" "><a href="/mcnp/grouperoles" th:href="@{/admin/groupes}">
            <i class="menu-icon fa fa-bell"></i> <span class="menu-text">
					Groupes de Rôles</span>
        </a> <b class="arrow"></b></li>
    </div>
</th:block>
</body>
</html>