<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/admin">

<head>
    <meta charset="UTF-8"/>
    <title>Ajout de rôles et Permissions</title>
</head>

<body>
<ul layout:fragment="navbar">
    <div th:include="signup/menu :: navbar" th:remove="tag"></div>
</ul>
<ul class="breadcrumb" layout:fragment="breadcrumb">
    <li><i class="ace-icon fa fa-home home-icon"></i> <a
            th:href="@{/}">Accueil</a></li>
    <li class="active">Ajout de Role</li>
</ul>
<!-- /.breadcrumb -->
<div layout:fragment="content">
    <div class="card">
        <div class="card-body">
            <form class="form-horizontal" action="#" th:action="@{/admin/role}"
                  th:object="${role}" method="post">
                <div class="form-header">
                    <h5>Ajout de Rôles</h5>
                </div>
                <div class="alert alert-info" th:if="${message}">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="ace-icon fa fa-times"></i>
                    </button>
                    <p th:text="${message}"></p>
                </div>
                <div class="md-form" th:hidden="true">
                    <input type="text" class="form-control" id="idRole"
                           th:field="*{id}"/>
                    <label for="idRole">ID</label>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <select id="idGroupeRole" th:field="*{groupeRoles.id}" class="mdb-select md-form"
                                searchable="Rechercher ici">
                            <option th:each="gr : ${groupeRoles}" th:value="${gr.id}"
                                    th:text="${gr.libelleGroupeRoles}">GROUPE
                            </option>
                        </select>
                        <label class="mdb-main-label">Groupe Role</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <select id="idRoleParent" th:field="*{roleParent.id}" class="mdb-select md-form"
                                searchable="Rechercher ici">
                            <option value="" selected>Choisir un rôle</option>
                            <option th:each="role : ${roles}" th:value="${role.id}"
                                    th:text="${role.libelleRoles}">ROLE
                            </option>
                        </select>
                        <label class="mdb-main-label">Role Parent</label>
                    </div>
                </div>
                <div class="md-form">
                    <input type="text" class="form-control" id="txtCodeRoles"
                           placeholder="Code Rôle" th:field="*{codeRoles}"/>
                    <label for="txtCodeRoles">Code Rôle</label>
                </div>
                <div class="md-form">
                    <input type="text" class="form-control" id="txtLibelleRoles"
                           placeholder="Libelle Rôle" th:field="*{libelleRoles}"/>
                    <label for="txtLibelleRoles">Libellé Rôle</label>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <select th:name="permissions" class="mdb-select colorful-select dropdown-primary md-form"
                                multiple
                                searchable="Search here..">
                            <option value="" disabled selected>Choisir une Permission</option>
                            <option th:each="p : ${permissions}" th:value="${p.id}"
                                    th:text="${p.libellePermissions}">PERMISSION
                            </option>
                        </select>
                        <label class="mdb-main-label">Permissions</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-3 col-lg-9">
                        <button type="submit" class="btn btn-sm btn-primary">Enregistrer</button>
                        <a th:href="@{/admin/roles}" class="btn btn-sm btn-default">Annuler</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>