<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:sd="http://www.thymeleaf.org/spring-data"
	layout:decorator="layout/template">
<head>
<title>Offreur de projets</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<ul layout:fragment="navbar">
		<li class=""><a href="index.html" th:href="@{/home}"> <i
				class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
					Accueil </span>
		</a> <b class="arrow"></b></li>
		<!-- <li><a href="/mcnp/smcipn/charge" th:href="@{/psalaire}"> <i
				class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
					Salaire </span>
		</a> <b class="arrow"></b></li> -->
		<li><a href="#" class="dropdown-toggle"> <i
				class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
					Prestataires </span>
		</a> <b class="arrow"></b>
			<ul class="submenu">
				<li class=""><a href="/mcnp/paiement/offreurp"
					th:href="@{/offreurp}"> <i class="menu-icon fa fa-plus purple"></i>Offreurs
						de Projet
				</a> <b class="arrow"></b></li>
				<!-- <li class=""><a href="/mcnp/paiement/offreurt"
					th:href="@{/offreurt}"> <i class="menu-icon fa fa-plus purple"></i>Offreurs
						de Travail
				</a> <b class="arrow"></b></li> -->
				<li class=""><a href="/mcnp/paiement/prestataires"
					th:href="@{/prestataires}"> <i
						class="menu-icon fa fa-plus purple"></i>Mes Prestataires
				</a> <b class="arrow"></b></li>
			</ul></li>
		<li><a href="/mcnp/smcipn/budget" th:href="@{/reglement}"> <i
				class="menu-icon fa fa-tachometer"></i> <span class="menu-text">Reglement
					Prestataire</span>
		</a> <b class="arrow"></b></li>
	</ul>
	<ul class="breadcrumb" layout:fragment="breadcrumb">
		<li><i class="ace-icon fa fa-home home-icon"></i> <a
			th:href="@{/}">Accueil</a></li>
		<li class="active">Offreurs de projet</li>
	</ul>
	<!-- /.breadcrumb -->
	<div layout:fragment="content">
		<div class="widget-box widget-color-blue">
			<div class="widget-header widget-header-small">
				<h5 class="widget-title">Ajout de Prestataires</h5>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<form id="frm_prestataire" action="#"
						th:action="@{/addPrestataire}" th:object="${prestataire}"
						method="post" class="form-horizontal">
						<div class="alert alert-info" th:if="${message}">
							<button type="button" class="close" data-dismiss="alert">
								<i class="ace-icon fa fa-times"></i>
							</button>
							<p th:text="${message}"></p>
						</div>
						<div id="opi-widget" class="widget-box">
							<div id="opi-widget-header"
								class="widget-header widget-header-small">
								<h6>Liste de mes Prestataires</h6>
							</div>
							<div id="opi-widget-body" class="widget-body">
								<div class="widget-main">
									<table id="offreurProjetTable"
										class="table table-striped table-bordered table-hover">
										<!-- Header Table -->
										<thead>
											<tr>
												<th class="sorted" sd:pagination-sort="id">ID</th>
												<th class="sorted" sd:pagination-sort="codeMembre">Code
													Membre</th>
												<th class="sorted" sd:pagination-sort="raisonSociale">Raison
													Sociale</th>
												<th class="sorted" sd:pagination-sort="modePaiement">Mode de Paiement</th>
												<th class="sorted" sd:pagination-sort="descriptionProjet">Numero de Compte</th>
												<th class="sorted" sd:pagination-sort="canton">Nombre OPI</th>
												<th class="sorted" sd:pagination-sort="operationnel">Montant</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="row : ${page}">
												<td th:text="${row.id}">1</td>
												<td><a href="/mcnp/paiement/reglement"
													th:href="@{/reglement(id=${row?.codeMembrePrestataire})}"
													th:text="${row?.codeMembrePrestataire}">0010010010010000000P</a></td>
												<td th:text="${row.nomMembrePrestataire}">Raison</td>
												<td th:text="${row.modePaiement}">Produit</td>
												<td th:text="${row.numeroCompte}">Description</td>
												<td th:text="${row.nombreOpi}">Canton</td>
												<td th:text="${row.montantPrestation}">1</td>
											</tr>
										</tbody>
									</table>
									<div class="row">
										<div class="col-sm-6">
											<div sd:pagination-summary="">info</div>
										</div>
										<div class="col-sm-6">
											<nav class="pull-right">
												<ul class="pagination" sd:pagination="full">
													<!-- Pagination created by SpringDataDialect, this content is just for mockup -->
													<li class="disabled"><a href="#" aria-label="Previous"><span
															aria-hidden="true">&laquo;</span></a></li>
													<li class="active"><a href="#">1 <span
															class="sr-only">(current)</span></a></li>
												</ul>
											</nav>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>