            .commande-right{
                transform: translate3d(150%,0,0);
                -webkit-transform: translate3d(150%,0,0);
                -moz-transform: translate3d(150%,0,0);
                -o-transform: translate3d(150%,0,0);
            }
            .commande-left{
                transform: translate3d(-150%,0,0);
                -webkit-transform: translate3d(-150%,0,0);
                -moz-transform: translate3d(-150%,0,0);
                -o-transform: translate3d(-150%,0,0);
            }
            .commande-center{
                transform: translate3d(0,0,0);
                -webkit-transform: translate3d(0,0,0);
                -moz-transform: translate3d(0,0,0);
                -o-transform: translate3d(0,0,0);
            }
            .dist-cmd-first,.dist-cmd-second{
                transition-duration: 0.5s;
                -webkit-transition-duration: 0.5s;
                -moz-transition-duration: 0.5s;
                -o-transition-duration: 0.5s;

            }
                        .commande-loading{
                position: absolute;
                background-color: #000;
                width: 98.1%;
                height: 100%;
                opacity: 0.6;
                z-index: 9999;
                top: 1px;
                color: #FFF;
                display: block;
                text-align: center;
                line-height: 570px;
                font-weight: bold;
                font-size: 2em;
              
            }     