<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/admin">
<head>
    <meta charset="UTF-8"/>
    <title>Edition de KSU</title>
</head>
<body>
<th:block layout:fragment="navbar">
    <div th:include="ksu/menu :: navbar" th:remove="tag"></div>
</th:block>
<ul class="breadcrumb" layout:fragment="breadcrumb">
    <li><i class="ace-icon fa fa-home home-icon"></i> <a
            th:href="@{/}">Accueil</a></li>
    <li class="active">KSU</li>
</ul>
<!-- /.breadcrumb -->
<div layout:fragment="content">
    <section class="section">
        <!--Form with header -->
        <div class="card mt-3">

            <div class="card-body">
                <!--Header -->
                <div class="form-header narrower blue accent-1">
                    <h3>
                        <i class="fas fa-card"></i> KSU
                    </h3>
                </div>

                <!--Body -->
                <form id="frmCarte" method="post" th:action="@{/ksu/carte}" th:object="${carte}">
                    <div class="alert alert-info" th:if="${message}">
                        <button type="button" class="close" data-dismiss="alert">
                            <i class="ace-icon fa fa-times"></i>
                        </button>
                        <p th:text="${message}"></p>
                    </div>
                    <div class="md-form input-group mb-3">
                        <input type="text" id="codeMembre" th:field="*{euMembre.codeMembre}" class="form-control"
                               placeholder="Code Membre">
                        <div class="input-group-append">
                            <button class="btn btn-md btn-secondary m-0 px-3" type="button"
                                    id="qrcodeBtn">QrCode
                            </button>
                            <div style="width: 5px;"></div>
                            <button class="btn btn-md btn-secondary m-0 px-3" type="button"
                                    id="btnAfficher">Afficher
                            </button>
                        </div>
                    </div>
                    <div class="md-form">
                        <input type="text" id="idCarte" th:field="*{idCarte}" class="form-control"
                               placeholder="ID KSU" readonly/>
                    </div>

                    <div class="md-form">
                        <input type="text" id="nom_membre" th:field="*{euMembre.nomMembre}" class="form-control"
                               placeholder="Nom Membre" readonly/>
                    </div>

                    <div class="md-form">
                        <input type="date" id="dateDemandeKsu" th:name="dateDemande"
                               th:value="${#temporals.format(carte.dateDemande, 'yyyy-MM-dd')}" class="form-control"
                               readonly>
                        <label for="dateDemandeKsu">Date Demande</label>
                    </div>

                    <fieldset class="form-check">
                        <input id="ckbImprimer" class="form-check-input" th:name="imprimer" th:value="${carte.imprimer}"
                               type="checkbox" disabled>
                        <label class="form-check-label" for="ckbImprimer">Imprimer</label>
                    </fieldset>

                    <div class="md-form">
                        <input type="date" id="dateImpressionKsu" th:name="dateImpression"
                               th:value="${#temporals.format(carte.dateImpression, 'yyyy-MM-dd')}" class="form-control"
                               readonly>
                        <label for="dateImpressionKsu">Date Impression</label>
                    </div>

                    <fieldset class="form-check">
                        <input id="ckbLivrer" class="form-check-input" th:name="livrer" th:value="${carte.livrer}"
                               type="checkbox">
                        <label class="form-check-label" for="ckbLivrer">Livrer</label>
                    </fieldset>

                    <div class="md-form">
                        <input type="date" id="dateLivraisonKsu" th:name="dateLivraison"
                               th:value="${#temporals.format(carte.dateLivraison, 'yyyy-MM-dd')}" class="form-control">
                        <label for="dateLivraisonKsu">Date Livraison</label>
                    </div>

                    <div>
                        <button id="btnValiderLiv" type="submit" class="btn btn-primary">Valider</button>
                        <button type="reset" class="btn btn-default">Annuler</button>
                    </div>
                </form>
            </div>

        </div>
        <!--Form with header -->
    </section>
</div>
<th:block layout:fragment="script" th:remove="tag">
    <script th:src="@{/resources/app/qrcode-decoder/qcode-decoder.min.js}"></script>
    <script th:src="@{/resources/app/outil-qr.js}"></script>
    <script type="text/javascript">
        function myparser(s) {
            if (!s) return "";
            var ss = s.split("/");
            var d = parseInt(ss[0], 10);
            var m = parseInt(ss[1], 10);
            var y = parseInt(ss[2], 10);
            if (!isNaN(y) && !isNaN(m) && !isNaN(d)) {
                var mon = m.toString();
                if (mon.length == 1) {
                    mon = "0" + mon;
                }
                var jour = d.toString();
                if (jour.length == 1) {
                    jour = "0" + jour;
                }
                return (y.toString() + "-" + mon + "-" + jour);
            } else {
                return "";
            }
        }

        $('#btnAfficher').click(function () {
            $.ajax({
                url: 'find?codeMembre=' + $('#codeMembre').val(),
                type: 'GET',
                datatype: 'json',
            }).done(function (data, status) {
                console.log(status);
                if (status === 'success') {
                    var dateDem = myparser(data.dateDemande);
                    $('#idCarte').val(data.idCarte);
                    $('#dateDemandeKsu').val(dateDem);
                    $('#ckbImprimer').prop('checked', data.imprimer);
                    $('#dateImpressionKsu').val(myparser(data.dateImpression));
                    $('#ckbLivrer').prop('checked', data.livrer);
                    $('#dateLivraisonKsu').val(myparser(data.dateLivraison));
                }
            }).fail(function (xhr, status, error) {
                //var resp = JSON.parse(xhr.responseText);
                alert('Error - cette carte n\'existe pas');
            });
        });

        $('#frmCarte').submit(function (e) {
            e.preventDefault();
            $.ajax({
                url: 'edit/' + $('#idCarte').val() + '/liv',
                type: 'GET',
                datatype: 'json',
            }).done(function (data, status) {
                if (status === 'success') {
                    alert(data);
                    location.reload();
                }
            }).fail(function (xhr, status, error) {
                alert('Error - cette carte n\'existe pas');
            });
        });

        $('#ckbLivrer').click(function () {
            if ($(this).checked()) {
                var date = new Date();
                $('#dateLivraisonKsu').val(myparser(date));
            } else {
                $('#dateLivraisonKsu').val("");
            }
        });

        outilqrbouton_cm("frmCarte", "qrcodeBtn", "codeMembre");
    </script>
</th:block>
</body>
</html>