<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sd="http://io.github.jpenren/sd"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/admin">
<head>
    <meta charset="UTF-8"/>
    <title>Souscription du Bon</title>
</head>
<body>
<th:block layout:fragment="navbar">
    <div th:include="ksu/menu :: navbar" th:remove="tag"></div>
</th:block>
<ul class="breadcrumb" layout:fragment="breadcrumb">
    <li><i class="ace-icon fa fa-home home-icon"></i> <a
            th:href="@{/}">Accueil</a></li>
    <li class="active">KSU</li>
</ul>
<!-- /.breadcrumb -->
<div layout:fragment="content">
    <section class="section">
        <div class="card mt-3">

            <div class="card-body">
                <!--Header -->
                <div class="form-header narrower blue accent-1">
                    <h3>
                        <i class="fas fa-card"></i> Demande de Livraison
                    </h3>
                </div>

                <!--Body -->
                <form th:method="post" th:action="@{/carte/envoi}"
                      th:object="${livraison}">
                    <div class="alert alert-info" th:if="${message}">
                        <button type="button" class="close" data-dismiss="alert">
                            <i class="ace-icon fa fa-times"></i>
                        </button>
                        <p th:text="${message}"></p>
                    </div>
                    <div class="md-form">
                        <input type="hidden" id="idLivraison" th:field="*{id}"
                               class="form-control" readonly="readonly">
                    </div>

                    <div class="md-form">
                        <div class="input-group">
                            <input type="text" id="codeSuiviLiv" th:field="*{codeSuivi}"
                                   class="form-control">
                            <div class="input-group-append">
                                <button class="btn btn-sm btn-primary">Afficher</button>
                            </div>
                            <label for="codeSuiviLiv">Code Suivi</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="md-form col-lg-6">
                            <input type="text" id="nombre" th:field="*{nombre}"
                                   class="form-control" readonly="readonly"> <label
                                for="nombre">Nombre</label>
                        </div>

                        <div class="md-form col-lg-6">
                            <input type="text" id="dateDemandeLiv" th:name="dateDemande"
                                   th:value="${#temporals.format(livraison.dateDemande, 'dd/MM/yyyy')}"
                                   class="form-control" placeholder="dd/MM/yyyy"
                                   readonly="readonly"> <label for="dateDemandeLiv">Date
                            Demande</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="md-form col-lg-6 mb-1">
                            <input type="text" id="dateLivraisonKsu" th:name="dateLivraison"
                                   th:value="${#temporals.format(livraison.dateLivraison, 'dd/MM/yyyy')}"
                                   class="form-control" placeholder="dd/MM/yyyy"
                                   readonly="readonly"><label for="dateLivraisonKsu">Date
                            d'Envoi</label>
                        </div>
                        <div class="col-lg-6">
                            <select id="statutLivraison" th:field="*{status}"
                                    class="mdb-select md-form">
                                <option value="ENCOURS">ENCOURS</option>
                                <option value="ENVOYE">ENVOYE</option>
                                <option value="RECU">RECU</option>
                            </select>
                            <!-- <label class="mdb-main-label">Status</label> -->
                        </div>
                    </div>
                    <div th:if="${not #lists.isEmpty(livraison.cartes)}">
                        <div class="table-responsive">
                            <table id="tbcartes" class="table table-sm table-hover mb-0">
                                <thead>
                                <tr>
                                    <th style="display: none">ID</th>
                                    <th class="th-lg"><a class="sorted"
                                                         sd:pagination-sort="dateDemande">Date <i
                                            class="fas fa-sort ml-1"></i></a></th>
                                    <th class="th-lg"><a class="sorted"
                                                         sd:pagination-sort="euMembre.codeMembre">Code Membre <i
                                            class="fas fa-sort ml-1"></i></a></th>
                                    <!--<th class="th-lg">Imprimer</th>-->
                                    <th class="th-lg">Date Impression</th>
                                    <th class="th-lg">Livrer</th>
                                    <th class="th-lg" style="width: 20px;">Date Livraison</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="row,rowStat : ${livraison.cartes}">
                                    <th><input class="select form-check-input"
                                               type="checkbox" th:id="${'checkbox' + rowStat.count}">
                                        <label th:for="${'checkbox' + rowStat.count}"
                                               class="form-check-label label-table"></label></th>
                                    <td style="display: none" th:text="${row.idCarte}">id</td>
                                    <td th:text="${row.dateDemande}">Date</td>
                                    <td><a th:href="@{|/ksu/edit/${row.idCarte}|}"
                                           th:text="( (${row.euMembre} != null)? ${row.euMembre.codeMembre} : '')">Code
                                        Membre</a></td>
                                    <!--<td th:text="( (${row.imprimer} == true)? 'OUI' : 'NON')">OUI</td>-->
                                    <td th:text="${row.dateImpression}">Montant Bc</td>
                                    <td th:text="( (${row.livrer} == true)? 'OUI' : 'NON')">OUI</td>
                                    <td th:text="${row.dateLivraison}">NON</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div sd:pagination-summary="">info</div>
                            </div>
                            <div class="col-sm-6">
                                <nav class="pull-right">
                                    <ul class="pagination" sd:pagination-split="7"
                                        sd:pagination="full">
                                        <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                        <li class="disabled"><a href="#" aria-label="Previous"><span
                                                aria-hidden="true">&laquo;</span></a></li>
                                        <li class="active"><a href="#">1 <span
                                                class="sr-only">(current)</span></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Valider</button>
                        <button type="reset" class="btn btn-default">Annuler</button>
                    </div>
                </form>
            </div>

        </div>
        <!--Form with header -->
    </section>
</div>
</body>
</html>