<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sd="http://io.github.jpenren/sd"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/admin">
<head>
    <meta charset="UTF-8"/>
    <title>Souscription du Bon</title>
</head>
<body>
<th:block layout:fragment="navbar">
    <div th:include="ksu/menu :: navbar" th:remove="tag"></div>
</th:block>
<ul class="breadcrumb" layout:fragment="breadcrumb">
    <li><i class="ace-icon fa fa-home home-icon"></i> <a
            th:href="@{/}">Accueil</a></li>
    <li class="active">KSU</li>
</ul>
<!-- /.breadcrumb -->
<div layout:fragment="content">
    <section>
        <h5 class="my-1 dark-grey-text font-weight-bold">LIVRAISON KSU</h5>
        <!-- Top Table UI -->
        <div class="card p-2 mb-5">
            <!-- Grid row -->
            <div class="container-fluid">
                <form th:method="get" th:action="@{/carte/livraison}">
                    <div class="row">
                        <div class="md-form col-lg-5" style="margin-top: 1.5rem">
                            <input type="date" id="dateDeb" name="deb" class="form-control">
                            <label for="dateDeb">De</label>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="md-form col-lg-6" style="margin-top: 1.5rem">
                            <input type="date" id="dateFin" name="fin" class="form-control">
                            <label for="dateFin">A</label>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="md-form col-lg-1" style="margin-top: 1.5rem">
                            <button type="submit" class="btn btn-sm btn-primary ml-2 px-1">
                                <i class="fas fa-search"></i>
                                Afficher
                            </button>
                        </div>
                        <!-- Grid column -->
                    </div>
                </form>
            </div>
            <!-- Grid row -->

        </div>
        <!-- Top Table UI -->
        <div class="card card-cascade narrower z-depth-1">

            <!-- Card image -->
            <div
                    class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

                <div></div>

                <a href="" class="white-text mx-3">KSU</a>

                <div></div>

            </div>
            <!-- /Card image -->

            <div class="px-4">
                <!-- Table -->
                <div th:if="${not #lists.isEmpty(livraisons)}">
                    <div class="table-responsive">
                        <table id="tbcartes" class="table table-sm table-hover mb-0">
                            <thead>
                            <tr>
                                <th style="display: none">ID</th>
                                <th class="th-lg"><a class="sorted"
                                                     sd:pagination-sort="dateDemande">Date <i
                                        class="fas fa-sort ml-1"></i></a></th>
                                <th class="th-lg">Nombre</th>
                                <th class="th-lg"><a class="sorted"
                                                     sd:pagination-sort="status">Code Suivi <i
                                        class="fas fa-sort ml-1"></i></a></th>
                                <th class="th-lg">Statut</th>
                                <th class="th-lg">Date Envoi</th>
                                <th class="th-lg">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="row,rowStat : ${livraisons}">
                                <td style="display: none" th:text="${row.id}">id</td>
                                <td th:text="${row.dateDemande}">Date</td>
                                <td th:text="${row.nombre}">1</td>
                                <td><a th:href="@{|/carte/envoi?id=${row.id}|}"
                                       th:text="${row.status}">ab123</a></td>
                                <td th:text="${row.codeSuivi}">EnCours</td>
                                <td th:text="${row.dateLivraison}">01/01/2020</td>
                                <td>
                                    <a class="btn btnSelect btn-indigo btn-sm m-0"
                                       th:href="@{|/carte/envoi?id=${row.id}|}"
                                    >Envoyer</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div sd:pagination-summary="">info</div>
                        </div>
                        <div class="col-sm-6">
                            <nav class="pull-right">
                                <ul class="pagination" sd:pagination-split="7"
                                    sd:pagination="full">
                                    <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                    <li class="disabled"><a href="#" aria-label="Previous"><span
                                            aria-hidden="true">&laquo;</span></a></li>
                                    <li class="active"><a href="#">1 <span
                                            class="sr-only">(current)</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>