<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout/admin">
<head>
    <title>Espace KSU</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<th:block th:fragment="navbar">
    <li>
        <a href="index.html" th:href="@{/home}"
           class="collapsible-header waves-effect">
            <i class="fa fa-home"></i>
            Accueil
        </a>
    </li>
    <li sec:authorize="hasAuthority('KSU')">
        <a href="index.html" th:href="@{/ksu/carte}" class="collapsible-header waves-effect">
            <i class="fa fa-address-card"></i>
            Livraison KSU
        </a>
    </li>
    <li sec:authorize="hasAuthority('KSU')">
        <a href="index.html" th:href="@{/ksu/myksu}" class="collapsible-header waves-effect">
            <i class="fa fa-address-card"></i>
            Mes KSU
        </a>
    </li>
    <li sec:authorize="hasAuthority('KSUI')">
        <a href="index.html" th:href="@{/ksu/search}" class="collapsible-header waves-effect">
            <i class="fa fa-address-card"></i>
            Impression KSU
        </a>
    </li>
    <li sec:authorize="hasAuthority('KSUI')">
        <a href="index.html" th:href="@{/ksu/impression}" class="collapsible-header waves-effect">
            <i class="fa fa-address-card"></i>
            Télécharger KSU
        </a>
    </li>
    <li sec:authorize="hasAuthority('KSU')">
        <a href="index.html" th:href="@{/carte/demande}" class="collapsible-header waves-effect">
            <i class="fa fa-address-card"></i>
            Demande de KSU
        </a>
    </li>
    <li sec:authorize="hasAuthority('KSU')">
        <a href="index.html" th:href="@{/carte/demandes}" class="collapsible-header waves-effect">
            <i class="fa fa-address-card"></i>
            Mes Demandes KSU
        </a>
    </li>
    <li sec:authorize="hasAuthority('KSUI')">
        <a href="index.html" th:href="@{/carte/livraison}" class="collapsible-header waves-effect">
            <i class="fa fa-address-card"></i>
            Envoie de KSU
        </a>
    </li>
    <li sec:authorize="hasAuthority('KSU')">
        <a href="index.html" th:href="@{/carte/reception}" class="collapsible-header waves-effect">
            <i class="fa fa-address-card"></i>
            Réception KSU
        </a>
    </li>
    <li sec:authorize="hasAuthority('KSUI')">
        <a href="index.html" th:href="@{/carte/envoi}" class="collapsible-header waves-effect">
            <i class="fa fa-address-card"></i>
            Livraison KSU
        </a>
    </li>
</th:block>
</body>
</html>