<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout/template">
<head>
<title>SMCIPN</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<ul layout:fragment="navbar">
		<li class=""><a href="index.html" th:href="@{/home}"> <i
				class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
					Accueil </span>
		</a> <b class="arrow"></b></li>
		<li><a href="#" class="dropdown-toggle"> <i
				class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
					SMCIPN </span>
		</a> <b class="arrow"></b>
			<ul class="submenu">
				<li sec:authorize="hasAnyAuthority('detentrice')"
					th:if="${#strings.equalsIgnoreCase(role,'SOURCE')}"><a
					href="/mcnp/fgfn/list" th:href="@{/list}"> <i
						class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
							KIT Technopole </span>
				</a> <b class="arrow"></b></li>
				<li sec:authorize="hasAnyAuthority('detentrice')" class=""><a
					href="/mcnp/smcipn/transfert_smcipn" th:href="@{/transfertSmcipn}">
						<i class="menu-icon fa fa-plus purple"></i>Transfert SMCIPN
				</a> <b class="arrow"></b></li>
				<li class=""><a href="/mcnp/smcipn/transfert_bai"
					th:href="@{/transfertBai}"> <i
						class="menu-icon fa fa-plus purple"></i>Affectation BAi
				</a> <b class="arrow"></b></li>
				<li class=""><a href="/mcnp/smcipn/liaison"
					th:href="@{/liaison}"> <i class="menu-icon fa fa-plus purple"></i>Liaison
						de Compte d'Anim
				</a> <b class="arrow"></b></li>
			</ul></li>
		<li class=""><a href="/mcnp/smcipn/transfert_recu"
			th:href="@{/transfertrec}"> <i
				class="menu-icon fa fa-plus purple"></i>SMCIPN Reçus
		</a> <b class="arrow"></b></li>
		<li class=""><a href="/mcnp/smcipn/transfert_eff"
			th:href="@{/transferteff}"> <i
				class="menu-icon fa fa-plus purple"></i>SMCIPN Transférés
		</a> <b class="arrow"></b></li>
	</ul>
	<ul class="breadcrumb" layout:fragment="breadcrumb">
		<li><i class="ace-icon fa fa-home home-icon"></i> <a
			th:href="@{/}">Accueil</a></li>
		<li class="active">Liaison de compte d'animation</li>
	</ul>
	<!-- /.breadcrumb -->
	<div layout:fragment="content">
		<div class="widget-box widget-color-blue">
			<div class="widget-header widget-header-small">
				<h5 class="widget-title">Liaison de Compte d'Animation</h5>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<form id="frm_transfert_bai" action="#" th:action="@{/liaison}"
						th:object="${liaison}" method="post">
						<div class="alert alert-info" th:if="${message}">
							<button type="button" class="close" data-dismiss="alert">
								<i class="ace-icon fa fa-times"></i>
							</button>
							<p th:text="${message}"></p>
						</div>
						<div id="opi-widget" class="widget-box">
							<div id="opi-widget-header"
								class="widget-header widget-header-small">
								<h6>SMCIPN</h6>
							</div>
							<div id="opi-widget-body" class="widget-body">
								<div class="widget-main">
									<div>
										<label for="ls_codeMembreAdmin">Code Membre
											Administrateur *</label> <input class="form-control"
											id="ls_codeMembreAdmin" th:field="*{codeCompteadmin}"
											required="required" readonly="readonly" />
									</div>
									<div>
										<label for="ls_codeMembreAnim">Code Membre Animateur*</label>
										<input class="form-control" id="ls_codeMembreAnim"
											th:field="*{codeCompteAnim}" required="required" />
									</div>
									<div>
										<label for="ls_codeMembreAnim">Nom Membre Animateur*</label> <input
											class="form-control" id="ls_nomMembreAnim" required="required" />
									</div>
									<div class="form-actions">
										<button type="submit" id="btn-val-kit-techno"
											class="btn btn-primary">
											<i class="ace-icon fa fa-check bigger-110"></i>Valider
										</button>
										&nbsp; &nbsp; &nbsp;
										<button id="btn-reset-kit-techno" class="btn" type="reset">
											<i class="ace-icon fa fa-undo bigger-110"></i> Réinitialiser
										</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>