<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout/template">
<head>
<meta charset="UTF-8" />
<title>Paiement des charges</title>
</head>
<body>
	<ul layout:fragment="navbar">
		<li class=""><a href="index.html" th:href="@{/home}"> <i
				class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
					Accueil </span>
		</a> <b class="arrow"></b></li>
		<li sec:authorize="hasAnyAuthority('smc_tesmcipnwi')"><a href="/mcnp/smcipn/charge" th:href="@{/salaire}"> <i
				class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
					Salaire </span>
		</a> <b class="arrow"></b></li>
		<li><a href="#" class="dropdown-toggle"> <i
				class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
					SMCIPN </span>
		</a> <b class="arrow"></b>
			<ul class="submenu">
				<li sec:authorize="hasAnyAuthority('detentrice')"  th:if="${#strings.equalsIgnoreCase(role,'SOURCE')}"><a
					href="/mcnp/smcipn/smci" th:href="@{/technopole}"> <i
						class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
							KIT Technopôle </span>
				</a> <b class="arrow"></b></li>
				<li sec:authorize="hasAnyAuthority('detentrice')" th:if="${#strings.equalsIgnoreCase(role,'SOURCE')}"><a href="/mcnp/smcipn/charge" th:href="@{/payerCharge}">
						<i class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
							Budget </span>
				</a> <b class="arrow"></b></li>
				<li sec:authorize="hasAnyAuthority('detentrice')" th:if="${#strings.equalsIgnoreCase(role,'SOURCE')}"><a
					href="/mcnp/smcipn/smcipn" th:href="@{/payer}"> <i
						class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
							Payement de Charges </span>
				</a> <b class="arrow"></b></li>
				<li class=""><a href="/mcnp/smcipn/transfert_smcipn"
					th:href="@{/transfertSmcipn}"> <i
						class="menu-icon fa fa-plus purple"></i>Transfert SMCIPN
				</a> <b class="arrow"></b></li>
				<li class=""><a href="/mcnp/smcipn/liaison"
					th:href="@{/liaison}"> <i class="menu-icon fa fa-plus purple"></i>Liaison
						de Compte d'Anim
				</a> <b class="arrow"></b></li>
			</ul></li>
		<li class=""><a href="/mcnp/smcipn/transfert_recu"
			th:href="@{/transfertrec}"> <i
				class="menu-icon fa fa-plus purple"></i>SMCIPN Reçus
		</a> <b class="arrow"></b></li>
		<li class=""><a href="/mcnp/smcipn/transfert_eff"
			th:href="@{/transferteff}"> <i
				class="menu-icon fa fa-plus purple"></i>SMCIPN Transférés
		</a> <b class="arrow"></b></li>
	</ul>
	<ul class="breadcrumb" layout:fragment="breadcrumb">
		<li><i class="ace-icon fa fa-home home-icon"></i> <a
			th:href="@{/}">Accueil</a></li>
		<li class="active">SMCIPN</li>
	</ul>
	<div layout:fragment="content">
		<div class="widget-box widget-color-blue">
			<div class="widget-header widget-header-small">
				<h5 class="widget-title">Paiement de charges par SMCIPN</h5>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<form id="frm_charge" class="form-horizontal" method="post"
						action="#" th:action="@{/salaire}" th:object="${salaireDto}">
						<div class="alert alert-info" th:if="${message}">
							<button type="button" class="close" data-dismiss="alert">
								<i class="ace-icon fa fa-times"></i>
							</button>
							<p id="opi_message" th:text="${message}"></p>
						</div>
						<input type="hidden" name="cpteur" id="cpteur" value="1" />
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div class="form-group form-group-sm">
										<label for="smcipn_codeCharge"
											class="control-label col-md-4 col-sm-4 col-xs-12">Charge
											à Payer</label>
										<div class="col-md-8 col-sm-8 col-xs-12">
											<select id="smcipn_codeCharge" th:field="*{codeCharge}">
												<option value="SR">Salaire</option>
											</select>
										</div>
									</div>
									<div class="form-group form-group-sm">
										<label for="smcipn_numero"
											class="control-label col-md-4 col-sm-4 col-xs-12">Numéro
											Budget</label>
										<div class="col-md-8 col-sm-8 col-xs-12">
											<input id="smcipn_numero" type="text" class="form-control"
												th:field="*{numeroAppel}" required="required" />
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div class="form-group form-group-sm">
										<label for="smcipn_libelleCharge"
											class="control-label col-md-4 col-sm-4 col-xs-12">Libellé
											Charge</label>
										<div class="col-md-8 col-sm-8 col-xs-12">
											<input id="smcipn_libelleCharge" type="text"
												class="form-control" th:field="*{libelleCharge}"
												required="required" />
										</div>
									</div>
									<div class="form-group form-group-sm">
										<label for="smcipn_montantOp"
											class="control-label col-md-4 col-sm-4 col-xs-12">Montant
											Total</label>
										<div class="col-md-8 col-sm-8 col-xs-12">
											<input id="smcipn_montantOp" type="number"
												class="form-control" th:field="*{montantCharge}"
												required="required" />
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12" style="margin: auto;">
									<table id="tb_creancier"
										class="table table-bordered table-striped">
										<thead>
											<tr>
												<th>Code Membre</th>
												<th>Nom</th>
												<th>Code TE</th>
												<th>Montant</th>
												<th>Mode Paiement</th>
												<th>N° Compte</th>
												<th>Nombre</th>
												<th>Marge</th>
												<th>N° Document</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><input id="codeMembreCreancier1"
													name="codeMembreCreancier1" class="form-control input-sm"
													size="20" required="required" /></td>
												<td><input id="nomMembreCreancier1"
													name="nomMembreCreancier1" class="form-control input-sm"
													readonly="readonly" /></td>
												<td><select id="codeTegc1" name="codeTegc1"
													class="form-control input-sm"></select></td>
												<td><input id="montantOp1" type="number"
													name="montantOp1" class="form-control input-sm" size="15"
													required="required" /></td>
												<td><select id="smcipn_modePaiement1"
													name="smcipn_modePaiement" class="form-control input-sm"
													required="required"></select></td>
												<td><input id="smcipn_refPaiement1" type="text"
													name="smcipn_refPaiement" class="form-control input-sm"
													size="15" required="required" /></td>
												<td><input id="smcipn_nbreOpi1" name="smcipn_nbreOpi"
													class="form-control input-sm" size="5" required="required" /></td>
												<td><input id="smcipn_opimarge1" type="checkbox"
													name="smcipn_opimarge" /></td>
												<td><input id="numDoc1" name="numDoc1"
													class="form-control input-sm" size="5" /></td>
											</tr>
										</tbody>
									</table>
									<div>
										<input type="button" value="+" class="add btn btn-sm"
											onclick="addRow('tb_creancier')" /><input id="remove"
											type="button" class="del btn btn-sm" value="-"
											onclick="deleteRow('tb_creancier')" />
									</div>
								</div>
							</div>
							<div class="form-actions">
								<button type="submit" id="btn-val-salaire"
									class="btn btn-primary btn-sm">
									<i class="ace-icon fa fa-check bigger-110"></i>Valider
								</button>
								&nbsp; &nbsp; &nbsp;
								<button id="btn-reset-salaire" class="btn btn-sm" type="reset">
									<i class="ace-icon fa fa-undo bigger-110"></i> Réinitialiser
								</button>
							</div>
						</div>
						<script type="text/javascript">
                                /*<![CDATA[*/
                                
                                var compteur = 1;
                                function addRow(tableID) {
                                    var table = document.getElementById(tableID);
                                    var rowCount = table.rows.length;
                                    var cpte = rowCount;
                                    var row = table.insertRow(rowCount);

                                    var cell0 = row.insertCell(0);
                                    var element0 = document.createElement("input");
                                    element0.type = "text";
                                    element0.setAttribute("size", "17");
                                    element0.setAttribute("id", "codeMembreCreancier" + cpte);
                                    element0.setAttribute("name", "codeMembreCreancier" + cpte);
                                    element0.setAttribute("required", "true");
                                    element0.classList.toggle("form-control", "input-sm");
                                    cell0.appendChild(element0);

                                    var cell1 = row.insertCell(1);
                                    var element1 = document.createElement("input");
                                    element1.type = "text";
                                    element1.setAttribute("id", "nomMembreCreancier" + cpte);
                                    element1.setAttribute("name", "nomMembreCreancier" + cpte);
//element1.setAttribute("size", "30");
                                    element1.classList.toggle("form-control", "input-sm");
                                    element1.setAttribute("readonly", "true");
                                    cell1.appendChild(element1);

                                    var cell2 = row.insertCell(2);
                                    var element2 = document.createElement("select");
                                    element2.setAttribute("id", "codeTegc" + cpte);
                                    element2.setAttribute("name", "codeTegc" + cpte);
                                    element2.classList.toggle("form-control", "input-sm");
                                    cell2.appendChild(element2);

                                    var cell3 = row.insertCell(3);
                                    var element3 = document.createElement("input");
                                    element3.type = "number";
                                    element3.setAttribute("id", "montantOp" + cpte);
                                    element3.setAttribute("name", "montantOp" + cpte);
                                    element3.setAttribute("required", "true");
                                    element3.setAttribute("size", "20");
                                    element3.classList.toggle("form-control", "input-sm");
                                    cell3.appendChild(element3);

                                    var cell4 = row.insertCell(4);
                                    var element4 = document.createElement("select");
                                    element4.setAttribute("id", "smcipn_modePaiement" + cpte);
                                    element4.setAttribute("name", "smcipn_modePaiement" + cpte);
                                    element4.setAttribute("required", "true");
                                    element4.classList.toggle("form-control", "input-sm");
                                    cell4.appendChild(element4);

                                    var cell5 = row.insertCell(5);
                                    var element5 = document.createElement("input");
                                    element5.type = "text";
                                    element5.setAttribute("id", "smcipn_refPaiement" + cpte);
                                    element5.setAttribute("name", "smcipn_refPaiement" + cpte);
                                    element5.setAttribute("required", "true");
                                    element5.setAttribute("size", "15");
                                    element5.classList.toggle("form-control", "input-sm");
                                    cell5.appendChild(element5);

                                    var cell6 = row.insertCell(6);
                                    var element6 = document.createElement("input");
                                    element6.type = "text";
                                    element6.setAttribute("id", "smcipn_nbreOpi" + cpte);
                                    element6.setAttribute("name", "smcipn_nbreOpi" + cpte);
                                    element6.setAttribute("required", "true");
                                    element6.setAttribute("size", "5");
                                    element6.classList.toggle("form-control", "input-sm");
                                    cell6.appendChild(element6);

                                    var cell7 = row.insertCell(7);
                                    var element7 = document.createElement("input");
                                    element7.type = "checkbox";
                                    element7.setAttribute("id", "smcipn_opimarge" + cpte);
                                    element7.setAttribute("name", "smcipn_opimarge" + cpte);
                                    element7.classList.toggle("form-control", "input-sm");
                                    cell7.appendChild(element7);

                                    var cell8 = row.insertCell(8);
                                    var element8 = document.createElement("input");
                                    element8.type = "text";
                                    element8.setAttribute("id", "numDoc" + cpte);
                                    element8.setAttribute("name", "numDoc" + cpte);
                                    element8.setAttribute("size", "8");
                                    element8.classList.toggle("form-control", "input-sm");
                                    cell8.appendChild(element8);

                                    $.getJSON("listePayement/", function (data) {
                                        var options = $("#smcipn_modePaiement" + cpte);
                                        var i;
                                        for (i = 0; i < data.length; i++) {
                                            options.append(new Option(data[i].codeBanque, data[i].codeBanque));
                                        }
                                    });

                                    $('#codeMembreCreancier' + cpte).blur(function (e) {
                                        e.preventDefault();
                                        if ($(this).val() != '') {
                                            $.get(
                                                    'nomMembre/',
                                                    {
                                                        codeMembre: $(this).val()
                                                    },
                                                    function success(data) {
                                                        if (data != "") {
                                                            $('#nomMembreCreancier' + cpte).val(data);
                                                        } else {
                                                            alert('Pas de Membre correspondant à ce code');
                                                        }
                                                    });
                                            var param = "codeMembre=" + $(this).val();
                                            $.getJSON("te/", param, function (data) {
                                                var options = $("#codeTegc" + cpte);
                                                var i;
                                                for (i = 0; i < data.length; i++) {
                                                    options.append(new Option(data[i].nomTegc, data[i].codeTegc));
                                                }
                                            });
                                        }
                                    });

                                    $('#montantOp' + cpte).blur(function (e) {
                                        e.preventDefault();
                                        if ($(this).val() != '') {
                                            var montant = 0;
                                            if ($('#smcipn_montantOp').val() != '') {
                                                montant = parseFloat($('#smcipn_montantOp').val());
                                            }
                                            montant += parseFloat($(this).val());
                                            $('#smcipn_montantOp').val(montant);
                                        }
                                    });
                                    compteur = compteur + 1;
                                    document.getElementById("cpteur").setAttribute('value', compteur);
                                }

                                function deleteRow(tableID) {
                                    try {
                                        var table = document.getElementById(tableID);
                                        var rowCount = table.rows.length - 1;
                                        if (rowCount > 1) {
                                            var valeur = $("#montantOp" + rowCount).val();
                                            if (valeur != '') {
                                                valeur = parseFloat(valeur);
                                                var montantOp = $("#smcipn_montantOp").val();
                                                if (montantOp != '') {
                                                    montantOp = parseFloat(montantOp) - valeur;
                                                    $("#smcipn_montantOp").val(montantOp);
                                                }
                                            }
                                            table.deleteRow(rowCount);
                                            compteur = compteur - 1;
                                            document.getElementById("cpteur").setAttribute('value', compteur);
                                        }
                                    } catch (e) {
                                        alert(e);
                                    }
                                }
                                /*]]>*/
                            </script>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>