<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout/template">
<head>
<title>SMCIPN</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<ul layout:fragment="navbar">
		<li class=""><a href="index.html" th:href="@{/home}"> <i
				class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
					Accueil </span>
		</a> <b class="arrow"></b></li>
		<li><a href="#" class="dropdown-toggle"> <i
				class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
					SMCIPN </span>
		</a> <b class="arrow"></b>
			<ul class="submenu">
				<li sec:authorize="hasAnyAuthority('detentrice')"
					th:if="${#strings.equalsIgnoreCase(role,'SOURCE')}"><a
					href="/mcnp/smcipn/smci" th:href="@{/technopole}"> <i
						class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
							KIT Technopôle </span>
				</a> <b class="arrow"></b></li>
				<li sec:authorize="hasAnyAuthority('detentrice')"
					th:if="${#strings.equalsIgnoreCase(role,'SOURCE')}"><a
					href="/mcnp/smcipn/charge" th:href="@{/payerCharge}"> <i
						class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
							Budget </span>
				</a> <b class="arrow"></b></li>
				<li sec:authorize="hasAnyAuthority('detentrice')"
					th:if="${#strings.equalsIgnoreCase(role,'SOURCE')}"><a
					href="/mcnp/smcipn/smcipn" th:href="@{/payer}"> <i
						class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
							Payement de Charges </span>
				</a> <b class="arrow"></b></li>
				<li class=""><a href="/mcnp/smcipn/transfert_smcipn"
					th:href="@{/transfertSmcipn}"> <i
						class="menu-icon fa fa-plus purple"></i>Transfert SMCIPN
				</a> <b class="arrow"></b></li>
				<li class=""><a href="/mcnp/smcipn/liaison"
					th:href="@{/liaison}"> <i class="menu-icon fa fa-plus purple"></i>Liaison
						de Compte d'Anim
				</a> <b class="arrow"></b></li>
			</ul></li>
		<li class=""><a href="/mcnp/smcipn/transfert_recu"
			th:href="@{/transfertrec}"> <i
				class="menu-icon fa fa-plus purple"></i>SMCIPN Reçus
		</a> <b class="arrow"></b></li>
		<li class=""><a href="/mcnp/smcipn/transfert_eff"
			th:href="@{/transferteff}"> <i
				class="menu-icon fa fa-plus purple"></i>SMCIPN Transférés
		</a> <b class="arrow"></b></li>
	</ul>
	<ul class="breadcrumb" layout:fragment="breadcrumb">
		<li><i class="ace-icon fa fa-home home-icon"></i> <a
			th:href="@{/}">Accueil</a></li>
		<li class="active">SMCIPN</li>
	</ul>
	<!-- /.breadcrumb -->
	<div layout:fragment="content">
		<div class="widget-box widget-color-blue">
			<div class="widget-header widget-header-small">
				<h5 class="widget-title">Paiement de charges par SMCIPN</h5>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<form id="frm_smcipnkittech" action="#" th:action="@{/payer}"
						th:object="${smcipn}" method="post" class="form-horizontal">
						<div class="alert alert-info" th:if="${message}">
							<button type="button" class="close" data-dismiss="alert">
								<i class="ace-icon fa fa-times"></i>
							</button>
							<p th:text="${message}"></p>
						</div>
						<div id="opi-widget" class="widget-box">
							<div id="opi-widget-header"
								class="widget-header widget-header-small">
								<h6>SMCIPN Kit Technopôle</h6>
							</div>
							<div id="opi-widget-body" class="widget-body">
								<div class="widget-main">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label for="type_paiement" class="control-label col-md-4">Charges
													à Payer</label>
												<div class="col-md-8">
													<select class="form-control" id="type_paiement"
														th:field="*{typePaiement}" required="required">
														<option value=""></option>
														<option value="CF">Charges de Fonctionnement</option>
														<option value="SR">Salaire</option>
														<option value="CI">Charges d'investissement</option>
														<option value="CE">Charges d'Exploitation</option>
													</select>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="smcipn_type" class="col-md-4 control-label">Type
													SMCIPN</label>
												<div class="col-md-8">
													<select class="form-control" id="smcipn_type"
														th:field="*{type}" required="required">
														<option value="I">Investissement</option>
														<option value="TPN">Salaire</option>
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label for="codeMembreSmcipn" class="col-md-4 control-label">N°
													Membre Debiteur </label>
												<div class="col-md-8">
													<input id="codeMembreSmcipn" class="form-control"
														th:field="*{codeMembreSmcipn}" required="required" />
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="nomMembreSmcipn" class="col-md-4 control-label">Nom
													Débiteur </label>
												<div class="col-md-8">
													<input id="nomMembreSmcipn" class="form-control" />
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label for="codeMembreBenef" class="control-label col-md-4">N°
													Membre Créancier</label>
												<div class="col-md-8">
													<input class="form-control" id="codeMembreBenef"
														th:field="*{codeMembre}" required="required" />
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="nomMembreBenef" class="col-md-4 control-label">Nom
													Créancier </label>
												<div class="col-md-8">
													<input id="nomMembreBenef" class="form-control" />
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label for="smcipn_tegc" class="col-md-4 control-label">Terminal
													de Vente</label>
												<div class="col-md-8">
													<select id="smcipn_tegc" th:field="*{codeTe}"
														class="form-control" required="required"></select>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label col-sm-4" for="ckMarge">Avec
													Marge d'attente ? </label>
												<div class="col-sm-6">
													<input type="checkbox" id="ckMarge" th:field="*{marge}"
														value="1" />
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label for="txtModePaiement" class="col-md-4 control-label">Mode
													Paiement</label>
												<div class="col-md-8">
													<select class="form-control" id="txtModePaiement"
														th:field="*{modePaiement}" required="required">
														<option th:each="bk: ${banks}" th:value="${bk.codeBanque}"
															th:text="${bk.libelleBanque}">Banque</option>
													</select>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="txtnumeroCompte" class="col-md-4 control-label">N°
													Compte Bancaire </label>
												<div class="col-md-8">
													<input id="txtnumeroCompte" class="form-control"
														th:field="*{numeroCompte}" required="required" />
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label for="txtNumDoc" class="col-md-4 control-label">N°
													Document</label>
												<div class="col-md-8">
													<input id="txtNumDoc" class="form-control"
														th:field="*{numDoc}" required="required" />
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label col-sm-4" for="ckTva">Avec
													TVA ? </label>
												<div class="col-sm-1">
													<input type="checkbox" id="ckTva" th:field="*{ttc}"
														value="1" />
												</div>
												<label for="txtTauxTva" class="control-label col-sm-2">Taux
													TVA:</label>
												<div class="col-sm-3">
													<input id="txtTauxTva" class="form-control"
														th:field="*{tauxTva}"
														placeholder="Valeur du taux de la TVA" type="number"
														readonly="readonly" />
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label id="txtNbreOpi" class="control-label col-md-4">Nombre
													d'OPI:</label>
												<div class="col-md-6">
													<input id="txtNbreOpi" class="form-control"
														placeholder="Nombre d'OPI" type="text"
														th:field="*{nbreOpi}" required="required" />
												</div>
											</div>
										</div>
										<div class="col-md-6"></div>
									</div>
									<div>
										<label for="nomAppelOffre">Libelle Reglement SMCIPN</label> <input
											id="nomAppelOffre" class="form-control"
											th:field="*{nomAppelOffre}" required="required" />
									</div>
									<div>
										<label for="description">Description SMCIPN</label> <input
											id="description" class="form-control"
											th:field="*{description}" required="required" />
									</div>
									<div>
										<label for="smc_montant">Montant SMCIPN</label> <input
											class="form-control" id="smc_montant" th:field="*{montant}"
											required="required" />
									</div>
									<div class="form-actions">
										<button type="submit" id="btn-val-kit-techno"
											class="btn btn-primary">
											<i class="ace-icon fa fa-check bigger-110"></i>Valider
										</button>
										&nbsp; &nbsp; &nbsp;
										<button id="btn-reset-kit-techno" class="btn" type="reset">
											<i class="ace-icon fa fa-undo bigger-110"></i> Réinitialiser
										</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>