<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/admin">

<head>
    <meta charset="UTF-8" />
    <title>Etat Des Comptes Marchands</title>
    <th:block th:fragment="style" th:remove="tag">
        <!--<link rel="stylesheet" th:href="@{/resources/js/jqgrid/ui.jqgrid.css}">-->
        <link rel="stylesheet" th:href="@{/resources/js/jqgrid/ui.jqgrid-bootstrap4.css}">
        <link rel="stylesheet" th:href="@{/resources/js/jqgrid/ui.jqgrid-bootstrap-ui.css}">
        <style type="text/css">
            input[type='checkbox'],
            input[type='checkbox']:checked,
            input[type='checkbox']:not(:checked) {
                display: inline-block;
                position: relative;
                pointer-events: auto;
                opacity: 1;
            }
        </style>
    </th:block>
</head>

<body>
    <ul class="breadcrumb" layout:fragment="breadcrumb">
        <li><i class="ace-icon fa fa-home home-icon"></i> <a th:href="@{/}">Accueil</a></li>
        <li class="active">Etat Des Comptes Marchands</li>
    </ul>
    <!-- /.breadcrumb -->
    <th:block layout:fragment="topbar">
        <div th:if="${agr == 'OI'}" th:include="oi/menu :: topnav" th:remove="tag"></div>
        <div th:if="${agr == 'OKSU'}" th:include="oksu/menu :: topnav" th:remove="tag"></div>
        <div th:if="${agr == 'OBPS'}" th:include="obps/menu :: topnav" th:remove="tag"></div>
        <div th:if="${agr == 'OBPSD'}" th:include="obpsd/menu :: topnav" th:remove="tag"></div>
        <div th:if="${agr == 'OP'}" th:include="op/menu :: topnav" th:remove="tag"></div>
        <div th:if="${agr == 'OT'}" th:include="ot/menu" th:remove="tag"></div>
    </th:block>
    <div layout:fragment="content" class="mt-1">
        <div class=" card">
            <div class="container">
                <div class="row">
                    <div class="md-form col-lg-4">
                        <input type="text" id="codeMembreCompte" class="form-control" th:value="${codeMembre}">
                        <label for="codeMembreCompte">Code Membre</label>
                    </div>
                    <div class="md-form col-lg-4">
                        <input type="text" id="codeCompte" class="form-control" th:value="${compte.codeCompte}">
                        <label for="codeCompte">Code Compte</label>
                    </div>
                    <div class="md-form col-lg-4" style="margin-top: 11px;">
                        <input type="text" id="libCompte" class="form-control" th:value="${compte.libCompte}">
                        <label for="codeCompte">Libelle Compte</label>
                    </div>
                </div>
                <div class="row">
                    <div class="md-form col-lg-4" style="margin-top: 11px;">
                        <select id="typeBc" class="mdb-select">
                            <option value="" selected>Choisir la catégorie</option>
                            <option value="BCr">BC Récurrent</option>
                            <option value="BCnr">BC Non Récurrent</option>
                        </select>
                        <label class="mdb-main-label" for="typeBc">Type BC</label>
                    </div>
                    <div class="md-form col-lg-4" style="margin-top: 11px;">
                        <select type="text" id="typeRecurrent" class="mdb-select">
                            <option value="" selected>Choisir le Type</option>
                            <option value="illimite">Récurrent Illimité</option>
                            <option value="limite">Récurrent Limité</option>
                            <option value="nr">Non Récurrent PRK</option>
                            <option value="nrpre">Non Récurrent PRE</option>
                        </select>
                        <label class="mdb-main-label" for="typeRecurrent">Type Récurrnt</label>
                    </div>
                    <div class="md-form col-lg-3">
                        <input type="text" id="prkBc" class="form-control">
                        <label for="prkBc">PRK</label>
                    </div>
                    <div class="col-lg-1">
                        <button id="btnSearchCompte" class="btn btn-primary" type="button">
                            <i class="fas fa-search-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="margin-top: 5px;">
            <div class="card-header">
                <div class="float-left align-middle">
                    <button id="btnExportCompte" type="button" class="btn btn-sm btn-default">Export</button>
                    <button id="btnEditCompte" type="button" class="btn btn-sm btn-blue-grey">Editer</button>
                </div>
                <h5 class="card-title align-middle">Etat des Comptes Marchands</h5>
            </div>
            <div class="card-body">
                <table id="tblCc"></table>
                <!-- Pagination Bar -->
                <div id="ccPager"></div>
            </div>
        </div>
    </div>
    <th:block layout:fragment="script" th:remove="tag">
        <script th:src="@{/resources/js/inputmask/jquery.inputmask.min.js}"></script>
        <script th:src="@{/resources/js/jqgrid/grid.locale-fr.js}"></script>
        <script th:src="@{/resources/js/jqgrid/jquery.jqGrid.min.js}"></script>
        <script th:inline="javascript">
            var contextRoot = /*[[@{/}]]*/
            $(function() {
                var ccTable = $("#tblCc");
                ccTable.jqGrid({
                    url: contextRoot + 'cm/bc/',
                    mtype: "GET",
                    styleUI: 'Bootstrap4',
                    iconSet: "fontAwesome",
                    postData: {
                        codeMembre: function() {
                            return $("#codeMembreCompte").val();
                        },
                        codeCompte: function() {
                            return $("#codeCompte").val();
                        },
                        typeBc: function() {
                            return $("#typeBc").val();
                        },
                        typeRecurrent: function() {
                            return $("#typeRecurrent").val();
                        },
                        prk: function() {
                            return $("#prk").val();
                        }
                    },
                    datatype: "json",
                    colModel: [
                        { label: 'ID', name: 'idCredit', key: true, width: 70 },
                        { label: 'Date', name: 'dateOctroi', width: 90 }, 
                        { label: 'Code Membre', name: 'codeMembre', width: 190 },
                        { label: 'Type', name: 'euProduit.codeProduit', width: 90 }, 
                        { label: 'MSBC', name: 'montantPlace', width: 140, summaryTpl: "{0}", summaryType: "sum"},
                        { label: 'Montant BC', name: 'montantCredit', width: 140, summaryTpl: "{0}", summaryType: "sum"}, 
                        { label: 'Debut', name: 'datedeb', width: 90}, 
                        { label: 'Fin', name: 'datefin', width: 90 }, 
                        { label: 'Type Recurrent', name: 'typeRecurrent', width: 120 },
                        { label: 'PRK', name: 'prk', width: 60 }
                    ],
                    page: 1,
                    autowidth: true,
                    height: 300,
                    rowNum: 20,
                    rowList: [20, 50, 100],
                    rownumWidth: 25,
                    sortname: 'codeMembre',
                    multiselect: false,
                    viewrecords: true,
                    emptyrecords: 'Pas de lignes trouvees', // the message will be displayed at the bottom
                    pager: "#ccPager",
                    footerrow: true, // set a footer row
                    userDataOnFooter: true, // the calculated sums and/or strings from server are put at footer row.
                    grouping: true,
                    groupingView: {
                        groupField: ["codeMembre"],
                        groupColumnShow: [true],
                        groupText: ["<b>{0}</b>"],
                        groupOrder: ["desc"],
                        groupSummary: [true],
                        groupCollapse: false

                    }
                });

                $("#btnSearchCompte").click(function(e) {
                    e.preventDefault();
                    ccTable.jqGrid().trigger('reloadGrid');
                });
            });
        </script>
    </th:block>
</body>

</html>