<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/admin">
<head>
    <title>Espace Bancaire</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:fragment="style" th:remove="tag">
        <!--<link rel="stylesheet" th:href="@{/resources/js/jqgrid/ui.jqgrid.css}">-->
        <link rel="stylesheet"
              th:href="@{/resources/js/jqgrid/ui.jqgrid-bootstrap4.css}">
        <link rel="stylesheet"
              th:href="@{/resources/js/jqgrid/ui.jqgrid-bootstrap-ui.css}">
        <!--<style type="text/css">
            input[type='checkbox'], input[type='checkbox']:checked, input[type='checkbox']:not(:checked) {
                display: inline-block;
                position: relative;
                pointer-events: auto;
                opacity: 1;
            }
        </style>-->
    </th:block>
</head>
<body>
<th:block layout:fragment="navbar">
    <div th:include="admin/menu :: navbar" th:remove="tag"></div>
</th:block>
<ul class="breadcrumb" layout:fragment="breadcrumb">
    <li><i class="ace-icon fa fa-home home-icon"></i> <a
            th:href="@{/}">Accueil</a></li>
    <li class="active">Chaine de Distribution</li>
</ul>
<!-- /.breadcrumb -->
<div layout:fragment="content">
    <div class=" card">
        <div class="container">
            <div class="row">
                <div class="md-form col-lg-12">
                    <input type="text" id="codeMembre" class="form-control">
                    <label for="codeMembre">Code Membre</label>
                </div>
            </div>
            <div class="row">
                <div class="md-form col-lg-6" style="margin-top: 11px;">
                    <select type="text" id="typeChaine" class="mdb-select">
                        <option value="" selected>Choisir le Type Chaine de Distribution</option>
                        <option th:each="t : ${types}" th:value="${t}" th:text="${t}">Distributeur</option>
                    </select>
                    <label class="mdb-main-label" for="typeChaine">Type Chaine de Distribution</label>
                </div>
                <div class="md-form col-lg-6" style="margin-top: 11px;">
                    <select type="text" id="cantonChaine" class="mdb-select" searchable>
                        <option value="" selected>Choisir le Canton</option>
                        <option th:each="c : ${cantons}" th:value="${c.idCanton}" th:text="${c.nomCanton}">
                            Distributeur
                        </option>
                    </select>
                    <label class="mdb-main-label" for="cantonChaine">Canton</label>
                </div>
            </div>

            <div class="row">
                <div class="md-form col-lg-6">
                    <div class="form-check">
                        <input type="checkbox" id="validerChaine" class="form-check-input">
                        <label for="validerChaine" class="form-check-label-left">Chaine Validée?</label>
                    </div>
                </div>
                <div class="md-form input-group mb-3 col-lg-6">
                    <div class="form-check">
                        <input type="checkbox" id="chaineAutonome" class="form-check-input">
                        <label for="chaineAutonome" class="form-check-label">Chaine Autonome?</label>
                    </div>
                    <div class="input-group-append pl-4">
                        <button class="btn btn-md btn-secondary m-0 px-3" type="button" id="btnSearchGcp">
                            Rechercher
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card" style="margin-top: 5px;">
        <div class="card-header">
            <div class="float-left align-middle">
                <a id="btnAddChaine" th:href="@{/chaine/add}" class="btn btn-sm btn-primary">Ajout</a>
                <button id="btnExportGcp" type="button" class="btn btn-sm btn-default">Export</button>
                <!--<button id="btnEditGcp" type="button" class="btn btn-sm btn-blue-grey">Editer</button>-->
            </div>
            <h5 class="card-title align-middle">Liste des Chaines de Distribution</h5>
        </div>
        <div class="card-body">
            <table id="tblChaine"></table>
            <!-- Pagination Bar -->
            <div id="chainePager"></div>
        </div>
    </div>
</div>
<th:block layout:fragment="script" th:remove="tag">
    <script th:src="@{/resources/js/inputmask/jquery.inputmask.min.js}"></script>
    <script th:src="@{/resources/js/jqgrid/grid.locale-fr.js}"></script>
    <script th:src="@{/resources/js/jqgrid/jquery.jqGrid.min.js}"></script>
    <script th:inline="javascript">
        $(function () {
            var chaineTable = $("#tblChaine");
            chaineTable.jqGrid({
                url: 'list/',
                mtype: "GET",
                styleUI: 'Bootstrap4',
                iconSet: "fontAwesome",
                postData: {
                    codeMembre: function () {
                        return $("#codeMembre").val();
                    },
                    typeChaine: function () {
                        return $("#typeChaine").val();
                    },
                    idCanton: function () {
                        return $("#cantonChaine").val();
                    },
                    valider: function () {
                        if ($('#validerChaine').is(":checked")) {
                            return true;
                        } else {
                            return false;
                        }
                    },
                    autonome: function () {
                        if ($('#chaineAutonome').is(":checked")) {
                            return true;
                        } else {
                            return false;
                        }
                    }
                },
                datatype: "json",
                colModel: [
                    {label: 'ID', name: 'id', key: true, width: 50, hidden: true},
                    {label: 'Date', name: 'dateCreate', width: 80},
                    {label: 'Code Membre', name: 'proprio.codeMembreMorale', width: 140},
                    {label: 'Nom', name: 'nom', width: 180},
                    {label: 'Adresse', name: 'adresse', width: 120},
                    {label: 'Code Postal', name: 'codePostal', width: 80},
                    {label: 'Telephone', name: 'telephone', width: 80},
                    {label: 'Type Chaîne', name: 'typeChaine', width: 80},
                    {label: 'Canton', name: 'canton.nomCanton', width: 120}
                ],
                page: 1,
                autowidth: true,
                height: 400,
                rowNum: 100,
                rowList: [100, 250, 500],
                rownumWidth: 25,
                sortname: 'id',
                multiselect: false,
                viewrecords: true,
                emptyrecords: 'Pas de lignes trouvees', // the message will be displayed at the bottom
                pager: "#chainePager"
            });

            /*$("#btnEditGcp").click(function (e) {
                e.preventDefault();
                var id = gcpTable.jqGrid('getGridParam', 'selrow');
                if (id) {
                    var data = gcpTable.jqGrid('getRowData', id);
                    //location.href = "traite?id=" + data.idGcp;
                }
            });*/

            $("#btnSearchGcp").click(function (e) {
                e.preventDefault();
                chaineTable.jqGrid().trigger('reloadGrid');
            });
        });
    </script>
</th:block>
</body>
</html>
