<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="~{layout/front}"
>
  <head>
    <meta charset="UTF-8" />
    <title>Fiche ODD</title>
  </head>
  <body>
    <div layout:fragment="content" th:remove="tag">
      <!--Grid row-->
      <div class="row pt-5 mt-3">
        <!--Grid column
			<div class="col-md-3">
			   <div class="card">
			      <div class="card-body"></div>
			   </div>
			</div>-->
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h2 class="font-weight-bold text-center font-weight-bold">
                <strong>Fiche ODD</strong>
              </h2>
              <hr />
              <form
                id="frm_sousbc"
                action="#"
                th:action="@{/public/fiche}"
                th:object="${fiche}"
                method="post"
              >
                <div class="alert alert-info" th:if="${message}">
                  <button type="button" class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>
                  </button>
                  <p th:text="${message}"></p>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="md-form">
                      <input
                        type="text"
                        class="form-control"
                        id="nomMembre"
                        name="catBonConso"
                        th:field="*{nomMembre}"
                      />
                      <label for="nomMembre">Nom</label>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="md-form">
                      <input
                        type="text"
                        class="form-control"
                        id="prenomMembre"
                        th:field="*{prenomMembre}"
                        name="prenomMembre"
                      />
                      <label for="prenomMembre">Prénoms</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="md-form">
                      <input
                        id="dateNaisMembre"
                        type="date"
                        th:field="*{dateNaisMembre}"
                        class="form-control"
                      />
                      <label for="dateNaisMembre">Date de Naissance</label>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="md-form">
                      <input
                        id="lieuNaisMembre"
                        type="text"
                        th:field="*{lieuNaisMembre}"
                        class="form-control"
                      />
                      <label for="lieuNaisMembre">Lieu de Naissance</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="md-form">
                      <input
                        id="pereMembre"
                        type="text"
                        th:field="*{pereMembre}"
                        class="form-control"
                      />
                      <label for="pereMembre">Nom du Père</label>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="md-form">
                      <input
                        id="mereMembre"
                        type="text"
                        th:field="*{mereMembre}"
                        class="form-control"
                      />
                      <label for="mereMembre">Nom de la mère</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <select
                      id="sexeMembre"
                      class="mdb-select md-form"
                      th:field="*{sexeMembre}"
                      required="required"
                    >
                      <option value="">Choisir le sexe</option>
                      <option value="Feminin">Féminin</option>
                      <option value="Masculin">Masculin</option>
                    </select>
                    <label class="mdb-main-label">Sexe</label>
                  </div>
                  <div class="col-lg-6">
                    <select
                      id="sitFamMembre"
                      class="mdb-select md-form"
                      th:field="*{sitfamMembre}"
                      required="required"
                    >
                      <option value="">Choisir la situation familiale</option>
                      <option value="Celibatiaire">Célibataire</option>
                      <option value="Divorce">Divorcé(e)</option>
                      <option value="Marie">Marié(e)</option>
                      <option value="Veuf">Veuf(ve)</option>
                    </select>
                    <label class="mdb-main-label">Situation familiale</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="md-form">
                      <input
                        id="nbrEnfMembre"
                        type="text"
                        class="form-control"
                        th:field="*{nbrenfMembre}"
                        required="required"
                      />
                      <label for="nbrEnfMembre">Nombre d'enfants</label>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="md-form">
                      <input
                        id="formationMembre"
                        type="text"
                        class="form-control"
                        th:field="*{bcFormation}"
                      />
                      <label for="professionMembre">Formation Membre</label>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="md-form">
                      <input
                        id="professionMembre"
                        type="text"
                        class="form-control"
                        th:field="*{professionMembre}"
                      />
                      <label for="professionMembre">Profession Membre</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="md-form">
                      <input
                        type="text"
                        class="form-control"
                        id="bpMembre"
                        th:field="*{bpMembre}"
                        required="required"
                      />
                      <label for="bpMembre">Boîte Postale</label>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="md-form">
                      <input
                        type="text"
                        class="form-control"
                        id="portableMembre"
                        th:field="*{portableMembre}"
                      />
                      <label for="portableMembre">Telephone mobile</label>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="md-form">
                      <input
                        type="text"
                        class="form-control"
                        id="emailMembre"
                        th:field="*{emailMembre}"
                      />
                      <label for="emailMembre">Email Membre</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="md-form">
                      <input
                        type="text"
                        class="form-control"
                        id="quartierMembre"
                        th:field="*{quartierMembre}"
                        required="required"
                      />
                      <label for="quartierMembre">Quartier</label>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="md-form">
                      <input
                        type="text"
                        class="form-control"
                        id="villeMembre"
                        th:field="*{villeMembre}"
                      />
                      <label for="villeMembre">Ville</label>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <select
                      class="mdb-select md-form"
                      id="paysMembre"
                      th:field="*{pays.idPays}"
                    >
                      <option value="">Choisir un Pays</option>
                      <option
                        th:each="p:${pays}"
                        th:value="${p.idPays}"
                        th:text="${p.libellePays}"
                      ></option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <select
                      class="mdb-select md-form"
                      id="religionMembre"
                      th:field="*{religion.idReligionMembre}"
                    >
                      <option value="">Choisir une religion</option>
                      <option
                        th:each="religion:${religions}"
                        th:value="${religion.idReligionMembre}"
                        th:text="${religion.libelleReligion}"
                      ></option>
                    </select>
                    <label class="mdb-main-label">Religion</label>
                  </div>
                  <div class="col-lg-4">
                    <select
                      class="mdb-select md-form"
                      id="oddMembre"
                      th:field="*{odd.idOdd}"
                      required="required"
                    >
                      <option value="">Choisir un ODD</option>
                      <option
                        th:each="odd : ${odds}"
                        th:value="${odd.idOdd}"
                        th:text="${odd.codeOdd}"
                      ></option>
                    </select>
                    <label class="mdb-main-label">ODD</label>
                  </div>
                  <div class="col-lg-4">
                    <select
                      class="mdb-select md-form"
                      id="cantonMembre"
                      th:field="*{canton.idCanton}"
                      searchable="Rechercher ici.."
                    >
                      <option value="">Choisir un Canton</option>
                      <option
                        th:each="canton : ${cantons}"
                        th:value="${canton.idCanton}"
                        th:text="${canton.nomCanton}"
                      ></option>
                    </select>
                    <label class="mdb-main-label">Canton</label>
                  </div>
                </div>
                <div class="form-actions">
                  <button type="submit" class="btn btn-primary">
                    <i class="ace-icon fa fa-check"></i> Valider
                  </button>
                  <button class="btn" type="reset">
                    <i class="ace-icon fa fa-undo"></i> Réinitialiser
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
