<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layout/admin">

<head>
    <title>Espace Bancaire</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <ul class="collapsible collapsible-accordion" layout:fragment="navbar">
        <li class="">
            <a href="index.html" th:href="@{/home}">
                <i class="menu-icon fa fa-home"></i>
                <span class="menu-text">
                    Accueil </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="/mcnp/opi/approvisionner" th:href="@{/approOpi}">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text">
                    Appro OPI </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li>
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text">
                    OPI </span>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li class="">
                    <a href="/mcnp/opi/opi" th:href="@{/opi}">
                        <i class="menu-icon fa fa-plus purple"></i>Emission
                    </a>
                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="/mcnp/opi/validopi" th:href="@{/validopi}">
                        <i class="menu-icon fa fa-plus purple"></i>Validation
                    </a>
                    <b class="arrow"></b>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="breadcrumb" layout:fragment="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a th:href="@{/}">Accueil</a>
        </li>
        <li class="active">Espace Distributeurs/Prestataires</li>
    </ul>
    <!-- /.breadcrumb -->
    <div layout:fragment="content">
        <div class="widget-box widget-color-blue">
            <div class="widget-header widget-header-small">
                <h5 class="widget-title">Approvisionnement d'OPI</h5>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <form id="frm_approOPI" class="form-horizontal" method="POST" action="@{/approOpi}" th:action="@{/approOpi}" th:object="${approOpi}">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group form-group-sm">
                                        <label class="control-label col-sm-4 col-md-4" for="txtMembreBenef">Code Membre Bénéficiaire</label>
                                        <div class="col-sm-8 col-md-8">
                                            <input type="text" name="txtMembreBenef" id="txtMembreBenef" class="form-control" value="" required="required" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="form-group form-group-sm">
                                        <label for="txtMembreBenef" class="control-label col-sm-4 col-md-4">Nom Membre Bénéficiaire</label>
                                        <div class="col-sm-8 col-md-8">
                                            <input type="text" name="txtNomMembreBenef" id="txtNomMembreBenef" class="form-control" readonly="readonly" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group form-group-sm">
                                        <label class="control-label col-sm-4 col-md-4" for="txtModePaiementBenef">Moyen de Paiement</label>
                                        <div class="col-sm-8 col-md-8">
                                            <select name="txtModePaiementBenef" id="txtModePaiementBenef" class="form-control" value="" required="required" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="form-group form-group-sm">
                                        <label for="txtNumCompteBenef" class="control-label col-sm-4 col-md-4">Numéro de Compte</label>
                                        <div class="col-sm-8 col-md-8">
                                            <input type="text" name="txtNumCompteBenef" id="txtNumCompteBenef" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group form-group-sm">
                                        <label class="control-label col-sm-4 col-md-4" for="txtMembreApp">Code Membre Apporteur</label>
                                        <div class="col-sm-8 col-md-8">
                                            <input type="text" name="txtMembreApp" id="txtMembreApp" class="form-control" value="" required="required" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="form-group form-group-sm">
                                        <label for="txtNomMembreBenef" class="control-label col-sm-4 col-md-4">Nom Membre Apporteur</label>
                                        <div class="col-sm-8 col-md-8">
                                            <input type="text" name="txtNomMembreApp" id="txtNomMembreApp" class="form-control" readonly="readonly" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group form-group-sm">
                                        <label class="control-label col-sm-4 col-md-4" for="txtNbreOpi">Nombre OPI Apporteur</label>
                                        <div class="col-sm-8 col-md-8">
                                            <input type="text" name="txtNbreOpi" id="txtNbreOpi"></input>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group form-group-sm">
                                        <label for="txtMontant" class="control-label col-sm-4 col-md-4">Montant Appro</label>
                                        <div class="col-sm-8 col-md-8">
                                            <input type="text" name="txtMontant" id="txtMontant" class="form-control" readonly="readonly" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                    <table id="tbl-tpagcpApp"></table>
                                    <div id="tbl-tpagcpAppPager"></div>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                    <table id="tbl-traiteApp"></table>
                                    <div id="tbl-traiteAppPager"></div>
                                </div>
                            </div>
                            <div class="row" style="margin-left : 20px;">
                                <div class="form-group" style="margin-top : 5px;">
                                    <div>
                                      <button id="btValiderAppro" type="button" class="btn btn-primary">Valider</button>
                                      <button id="btResetAppro" type="reset" class="btn btn-default">Annuler</button>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>