<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/admin">
<head>
<title>Espace Bancaire</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<ul class="collapsible collapsible-accordion" layout:fragment="navbar">
		<li class=""><a href="index.html" th:href="@{/home}"> <i
				class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
					Accueil </span>
		</a> <b class="arrow"></b></li>
		<li class=""><a href="/mcnp/opi/approvisionner" th:href="@{/approOpi}"> <i
				class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
					Appro OPI </span>
		</a> <b class="arrow"></b></li>
		<li><a href="#" class="dropdown-toggle"> <i
				class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
					GCp </span>
		</a> <b class="arrow"></b>
			<ul class="submenu">
				<li class=""><a href="/mcnp/opi/opi"
					th:href="@{/opi}"> <i
						class="menu-icon fa fa-plus purple"></i>Emission
				</a> <b class="arrow"></b></li>
				<li class=""><a href="/mcnp/opi/validopi"
					th:href="@{/validopi}"> <i class="menu-icon fa fa-plus purple"></i>Validation
				</a> <b class="arrow"></b></li>
			</ul></li>
	</ul>
	<ul class="breadcrumb" layout:fragment="breadcrumb">
		<li><i class="ace-icon fa fa-home home-icon"></i> <a
			th:href="@{/}">Accueil</a></li>
		<li class="active">Espace Bancaire</li>
	</ul>
	<!-- /.breadcrumb -->
	<div layout:fragment="content"></div>
</body>
</html>