<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="layout/admin">
<head>
    <title>Budget</title>
    <th:block th:fragment="style" th:remove="tag">
        <!--<link rel="stylesheet" th:href="@{/resources/js/jqgrid/ui.jqgrid.css}">-->
        <link rel="stylesheet" th:href="@{/resources/js/jqgrid/ui.jqgrid-bootstrap4.css}">
        <link rel="stylesheet" th:href="@{/resources/js/jqgrid/ui.jqgrid-bootstrap-ui.css}">
        <link th:href="@{/resources/plugins/toastr/toastr.min.css}" rel="stylesheet" media="screen"/>
        <style type="text/css">
            input[type='checkbox'], input[type='checkbox']:checked, input[type='checkbox']:not(:checked) {
                display: inline-block;
                position: relative;
                pointer-events: auto;
                opacity: 1;
            }
        </style>
    </th:block>
</head>
<body>
<th:block layout:fragment="navbar">
    <div th:include="budget/menu :: navbar" th:remove="tag"></div>
</th:block>
<ul class="breadcrumb" layout:fragment="breadcrumb">
    <li><i class="ace-icon fa fa-home home-icon"></i> <a
            th:href="@{/}">Accueil</a></li>
    <li class="active">Budget</li>
</ul>
<!-- /.breadcrumb -->
<div layout:fragment="content">
    <div class="card">
        <div class="card-body">
            <div class="container" style="padding-left: 5px; padding-right: 5px;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form">
                            <input type="date" class="form-control" th:value="${budget.dateBudget}"
                                   id="txtDateBudget" name="dateBudget">
                            <label>Date Budget</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <select id="slTypeBudget" class="mdb-select md-form"
                                name="typeBudget.id" th:field="${budget.typeBudget.id}">
                            <option value=""></option>
                            <option th:each="t : ${types}" th:value="${t.id}"
                                    th:text="${t.libelleBudget}"></option>
                        </select>
                        <label class="mdb-main-label active">Type Budget</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form">
                            <input type="text" class="form-control" th:value="${budget.codeBudget}"
                                   id="txtCodeBudget" name="codeBudget">
                            <label>Code Budget</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form">
                            <input type="text" class="form-control"
                                   id="txtNomBudget" name="nomBudget" th:value="${budget.nomBudget}">
                            <label>Nom Budget</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <select id="statutBudgetSlt" class="mdb-select md-form" name="statutBudget"
                                th:field="${budget.statutBudget}">
                            <option value="">Choisir le statut</option>
                            <option value="ENCOURS">ENCOURS</option>
                        </select>
                        <label class="mdb-main-label">Statut</label>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form">
                            <input type="text" class="form-control"
                                   id="txtMontantDem" name="montantDemande" th:value="${budget.montantDemande}">
                            <label>Montant Budget</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-cascade narrower z-depth-1 mt-4">
        <!-- Card image -->
        <div class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

            <div>
                <a id="btnAjoutDetBudget" data-toggle="modal" data-target="#modalDetBudget"
                   class="btn btn-outline-white btn-rounded btn-sm px-2">
                    <i class="fas fa-th-large mt-0"></i> Ajouter
                </a>
            </div>

            <a href="" class="white-text mx-3">Details Budgets</a>

            <div>
                <button id="btnEditDetBudget" type="button"
                        class="btn btn-outline-white btn-rounded btn-sm px-2">
                    <i class="fas fa-th-list mt-0"></i> Editer
                </button>
            </div>

        </div>
        <!-- /Card image -->
        <div class="px-4">
            <div class="container-fluid">
                <table id="detBudgetGrid">
                </table>
                <div id="detBudgetPager"></div>
                <div id="row">
                    <div class="col-lg-2 float-right">
                        <a class="btn btn-default btn-sm float-right" th:href="@{/budget/list}">Retour</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalDetBudget" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form id="frmDetBudget" method="post">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Ajout Détail Budget</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">
                        <input type="hidden" id="txtIdBudgetDet" class="form-control" name="id">
                        <div class="md-form mb-5">
                            <i class="fas fa-envelope prefix grey-text"></i>
                            <input type="text" id="txtCodeBudgetDet" class="form-control" name="budget.codeBudget"
                                   readonly>
                            <label data-error="wrong" data-success="right" for="txtCodeBudgetDet">Code Budget</label>
                        </div>
                        <div class="md-form mb-4">
                            <i class="fas fa-envelope prefix grey-text"></i>
                            <input type="text" id="txtLibelleBudget" class="form-control"
                                   name="libelleDetailBudget" required>
                            <label data-error="wrong" data-success="right" for="txtLibelleBudget">Libellé Détail
                                Budget</label>
                        </div>

                        <div class="md-form mb-3">
                            <i class="fas fa-lock prefix grey-text"></i>
                            <input type="text" id="txtMontantInitial" class="form-control"
                                   name="montantInitial">
                            <label data-error="wrong" data-success="right" for="txtMontantInitial">Montant
                                Initial</label>
                        </div>

                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button id="btnValDetBudget" class="btn btn-primary">Valider</button>
                        <button id="btnAnnulerDetBudget" type="button" class="btn btn-secondary">Annuler</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<th:block layout:fragment="script" th:remove="tag">
    <script type="text/javascript"
            th:src="@{/resources/plugins/toastr/toastr.min.js}"></script>
    <script th:src="@{/resources/js/jqgrid/grid.locale-fr.js}"></script>
    <script th:src="@{/resources/js/jqgrid/jquery.jqGrid.min.js}"></script>
    <script th:inline="javascript">
        var ctx = [[${#request.getContextPath()}]];
        $(document).ready(function () {
            $("#detBudgetGrid").jqGrid({
                url: ctx + '/budget/details/',
                editurl: ctx + '/budget/saveDetail/',
                datatype: "json",
                styleUI: 'Bootstrap4',
                iconSet: 'fontAwesome',
                postData: {
                    codeBudget: function () {
                        return $("#txtCodeBudget").val();
                    }
                },
                colModel: [
                    {label: 'ID', name: 'id', width: 75, edittype: 'number', key: true},
                    {
                        label: 'Budget', name: 'budget.codeBudget', width: 240, editable: true, edittype: 'select',
                        editoptions: {
                            dataUrl: ctx + '/budget/budgets',
                            buildSelect: function (data) {
                                var response = jQuery.parseJSON(data);
                                var s = '<select>';
                                if (response && response.length) {
                                    for (var i = 0, l = response.length; i < l; i++) {
                                        var ri = response[i];
                                        if (ri.codeBudget === $('#txtCodeBudget').val()) {
                                            s += '<option value="' + ri.codeBudget + '" selected>' + ri.codeBudget + '</option>';
                                        } else {
                                            s += '<option value="' + ri.codeBudget + '">' + ri.codeBudget + '</option>';
                                        }
                                    }
                                }
                                return s + "</select>";
                            }
                        }
                    },
                    {label: 'Libelle', name: 'libelleDetailBudget', width: 240, editable: true},
                    {label: 'Montant', name: 'montantInitial', width: 120, editable: true}
                ],
                sortname: 'id',
                autowidth: true,
                width: 780,
                height: 200,
                rowNum: 150,
                pager: "#detBudgetPager"
            });
            $('#detBudgetGrid').navGrid("#detBudgetPager", {
                edit: false,
                add: false,
                del: false,
                search: false,
                refresh: true,
                view: false
            });
            $('#detBudgetGrid').inlineNav('#detBudgetPager',
                {
                    edit: true,
                    add: true,
                    cancel: true,
                    cancelicon: "fas fa-reply",
                    editParams: {
                        keys: true,
                    },
                    addParams: {
                        keys: true,
                        rowID: null,
                        addRowParams: {
                            keys: false,
                            successfunc: function (val) {
                                console.log(val);
                                if (val.responseText == 'OK') {
                                    $('#detBudgetGrid').jqGrid('setGridParam', {datatype: 'json'}).trigger('reloadGrid');
                                }

                            }
                        }
                    }
                });

            $('#btnAnnulerDetBudget').click(function (e) {
                $('#modalDetBudget').modal('hide');
            });

            $('#btnEditDetBudget').click(function (e) {
                e.preventDefault();
                var grid = $("#detBudgetGrid");
                var rowKey = grid.jqGrid('getGridParam', "selrow");
                if (rowKey) {
                    var data = grid.jqGrid('getRowData', rowKey);
                    $('#txtIdBudgetDet').val(data.id);
                    $('#txtCodeBudgetDet').val(data['budget.codeBudget']);
                    $('#txtCodeBudgetDet').next("label").addClass('active');
                    $('#txtLibelleBudget').val(data.libelleDetailBudget);
                    $('#txtLibelleBudget').next("label").addClass('active');
                    $('#txtMontantInitial').val(data.montantInitial);
                    $('#txtMontantInitial').next("label").addClass('active');
                    $('#modalDetBudget').modal('show');
                } else {
                    toastr.info("Aucune ligne sélectionée");
                }
            });

            $("#modalDetBudget").on('show.bs.modal', function () {
                $('#txtCodeBudgetDet').val($('#txtCodeBudget').val());
                $('#txtCodeBudgetDet').next("label").addClass('active');
            });

            $('#frmDetBudget').submit(function (e) {
                var formData = $(this).serialize();
                $.ajax({
                    type: 'POST',
                    url: ctx + '/budget/saveDetail',
                    data: formData,
                    dataType: 'json',
                    encode: true
                }).done(function (data, status) {
                    $('#detBudgetGrid').jqGrid().trigger('reloadGrid');
                    $('#modalDetBudget').modal('hide');
                    toastr.info(data.message);
                }).fail(function (xhr, status, error) {
                    var resp = JSON.parse(xhr.responseText);
                    toastr.error(resp.description);
                });
                e.preventDefault();
            });
        });
    </script>
</th:block>
</body>
</html>