<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="layout/admin">
<head>
    <title>Budget</title>
    <th:block th:fragment="style" th:remove="tag">
        <!--<link rel="stylesheet" th:href="@{/resources/js/jqgrid/ui.jqgrid.css}">-->
        <link rel="stylesheet" th:href="@{/resources/js/jqgrid/ui.jqgrid-bootstrap4.css}">
        <link rel="stylesheet" th:href="@{/resources/js/jqgrid/ui.jqgrid-bootstrap-ui.css}">
    </th:block>
</head>
<body>
<ul class="collapsible collapsible-accordion" layout:fragment="navbar">
		<div th:include="budget/menu :: navbar" th:remove="tag"></div>
	</ul>
<ul class="breadcrumb" layout:fragment="breadcrumb">
    <li><i class="ace-icon fa fa-home home-icon"></i> <a
            th:href="@{/}">Accueil</a></li>
    <li class="active">Budget</li>
</ul>
<!-- /.breadcrumb -->
<div layout:fragment="content">
    <div class="card card-cascade narrower z-depth-1">
        <!-- Card image -->
        <div class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

            <div>
                <a id="btnAjout" data-toggle="modal" data-target="#typeBudgetDlg"
                   class="btn btn-outline-white btn-rounded btn-sm px-2">
                    <i class="fas fa-th-large mt-0"></i> Ajouter
                </a>
            </div>

            <a href="" class="white-text mx-3">Liste Budgets Lancés </a>

            <div>
                <button id="btnEdit"
                        class="btn btn-outline-white btn-rounded btn-sm px-2">
                    <i class="fas fa-th-list mt-0"></i> Editer
                </button>
            </div>

        </div>
        <!-- /Card image -->

        <div class="px-4">
            <div class="table-responsive">
                <table id="typeBudgetGrid"></table>
                <div id="typeBudgetGridPager"></div>
            </div>
        </div>
    </div>

    <div id="typeBudgetDlg" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Type Budget</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form id="frmTypeBudget" method="post" th:action="@{/budget/type}">
                            <div class="md-form row mt-0">
                                <input id="idTypeBudget" name="id" class="form-control"
                                       readonly="readonly">
                                <label>ID:</label>
                            </div>
                            <div class="row">
                                <div class="md-form mt-0 col-lg-6">
                                    <input id="codeTypeBudget" type="text" name="codeTypeBudget"
                                           class="form-control"
                                           required="true">
                                    <label>Code</label>
                                </div>
                                <div class="md-form mt-0 col-lg-6">
                                    <input id="libelleBudget" type="text" name="libelleBudget"
                                           class="form-control"
                                           required="true">
                                    <label>Libellé</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <select id="typeDuree" class="mdb-select md-form mt-0" name="typeDuree">
                                        <option value="PABA">PABA</option>
                                        <option value="PABQ">PABQ</option>
                                    </select>
                                    <label class="mdb-main-label">Type Budget</label>
                                </div>
                                <div class="col-lg-6">
                                    <select id="natureBudget" class="mdb-select md-form mt-0"
                                            name="natureBudget">
                                        <option value="DEPENSE">Dépenses</option>
                                        <option value="RECETTE">Recettes</option>
                                    </select>
                                    <label class="mdb-main-label">Nature Budget</label>
                                </div>
                            </div>
                            <div class="md-form mt-0 row">
                                <input id="dureeBudget" type="text" name="dureeBudget"
                                       class="form-control"
                                       required="true">
                                <label>Durée</label>
                            </div>
                            <div class="row">
                                <div class="md-form col-lg-6">
                                    <input id="dateDebutBudget" type="date" name="dateDebut"
                                           class="form-control"
                                           required="true">
                                    <label>Date Début</label>
                                </div>
                                <div class="md-form col-lg-6">
                                    <input id="dateFinBudget" type="date" name="dateFin"
                                           class="form-control"
                                           required="true">
                                    <label>Date Fin</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="md-form col-lg-6">
                                    <input id="dateSoumission" name="dateSoumission" type="date"
                                           class="form-control"
                                           required="true">
                                    <label>Date Soumission</label>
                                </div>
                                <div class="md-form col-lg-6">
                                    <input id="dateValidation" name="dateValidation" type="date"
                                           class="form-control"
                                           required="true">
                                    <label>Date Validation</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <select id="statutBudget" class="mdb-select md-form"
                                            name="statut">
                                        <option value="ENCOURS">En Cours</option>
                                        <option value="VALIDATION">En Validation</option>
                                        <option value="CLOTURE">Validé</option>
                                    </select>
                                    <label class="mdb-main-label">Statut Budget</label>
                                </div>
                            </div>
                            <div class="row">
                                <button id="btnValiderBudget" type="submit" class="btn btn-sm btn-primary">Valider
                                </button>
                                <button class="btn btn-sm btn-default"
                                        onclick="javascript:resetForm()">Annuler
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script" th:remove="tag">
    <script th:src="@{/resources/js/jqgrid/grid.locale-fr.js}"></script>
    <script th:src="@{/resources/js/jqgrid/jquery.jqGrid.min.js}"></script>
    <script th:src="@{/resources/js/jquery-validation/jquery.validate.min.js}"></script>
    <script th:src="@{/resources/js/jquery-validation/localization/messages_fr.min.js}"></script>
    <script type="text/javascript">
	    $.jgrid.defaults.responsive = true;
        function resetForm() {
            $("#frmTypeBudget").trigger("reset");
            $("#typeBudgetGrid").jqGrid('resetSelection');
            $('#typeBudgetDlg').modal('hide');
        }

        $(document).ready(function () {
            $("#typeBudgetGrid").jqGrid({
                url: 'types/',
                mtype: "GET",
                styleUI: 'Bootstrap4',
                iconSet: "fontAwesome",
                datatype: "json",
                colModel: [
                    {label: 'ID', name: 'id', key: true, width: 50},
                    {label: 'Code', name: 'codeTypeBudget', width: 70},
                    {label: 'Type', name: 'typeDuree', width: 100},
                    {label: 'Duree', name: 'dureeBudget', width: 100, hidden: true},
                    {label: 'Nature', name: 'natureBudget', width: 100},
                    {label: 'Libellé', name: 'libelleBudget', width: 295},
                    {label: 'Date', name: 'dateSoumission', width: 100},
                    {label: 'Debut', name: 'dateDebut', width: 100},
                    {label: 'Fin', name: 'dateFin', width: 100},
                    {label: 'Validation', name: 'dateValidation', width: 100},
                    {label: 'Statut', name: 'statut', width: 100}
                ],
                page: 1,
                width: null,
                shrinkToFit: false,
                height: 350,
                rowNum: 20,
                rowList: [20, 50, 100],
                sortname: 'id',
                viewrecords: true,
                emptyrecords: 'Pas de Types Budgets trouvés', // the message will be displayed at the bottom
                pager: "#typeBudgetGridPager"
            });

            $('#frmTypeBudget').submit(function (event) {
                // get the form data
                // there are many ways to get this data using jQuery (you can use the class or id also)
                var formData = $(this).serialize();

                // process the form
                $.ajax({
                    type: 'POST', // define the type of HTTP verb we want to use (POST for our form)
                    url: 'type', // the url where we want to POST
                    data: formData, // our data object
                    dataType: 'json', // what type of data do we expect back from the server
                    encode: true
                }).done(function (data, status) {
                    $('#typeBudgetGrid').jqGrid().trigger('reloadGrid');
                    $('#typeBudgetDlg').modal('hide');
                }).fail(function (xhr, status, error) {
                    var resp = JSON.parse(xhr.responseText);
                    alert('Erreur d\'execution :' + resp.message);
                });

                // stop the form from submitting the normal way and refreshing the page
                event.preventDefault();
            });

            /*setTimeout(function () {
                var $Input = $('input:-webkit-autofill');
                $Input.next("label").addClass('active');
            }, 200);*/

            $('#btnEdit').click(
                function (e) {
                    e.preventDefault();
                    var grid = $("#typeBudgetGrid");
                    var rowKey = grid.jqGrid('getGridParam', "selrow");
                    if (rowKey) {
                        var data = grid.jqGrid('getRowData', rowKey);
                        $('#idTypeBudget').val(data.id);
                        $('#idTypeBudget').next("label").addClass('active');
                        $('#codeTypeBudget').val(data.codeTypeBudget);
                        $('#codeTypeBudget').next("label").addClass('active');
                        $('#libelleBudget').val(data.libelleBudget);
                        $('#libelleBudget').next("label").addClass('active');
                        $('#typeDuree').val(data.typeDuree);
                        $('#natureBudget').val(data.natureBudget);
                        $('#dureeBudget').val(data.dureeBudget);
                        $('#dureeBudget').next("label").addClass('active');
                        $('#dateDebutBudget').val(isoDate(data.dateDebut));
                        $('#dateFinBudget').val(isoDate(data.dateFin));
                        $('#dateSoumission').val(isoDate(data.dateSoumission));
                        $('#dateValidation').val(isoDate(data.dateValidation));
                        $('#statutBudget').val(data.statut);
                        $('#typeBudgetDlg').modal('show');
                    } else {

                    }

                }
            );

            function myformatter(date) {
                var y = date.getFullYear();
                var m = date.getMonth() + 1;
                var d = date.getDate();
                return (d < 10 ? ('0' + d) : d) + '/' + (m < 10 ? ('0' + m) : m) + '/' + y;
            }

            function isoDate(s) {
                if (!s) return "";
                var ss = (s.split('/'));
                var d = parseInt(ss[0], 10);
                var m = parseInt(ss[1], 10);
                var y = parseInt(ss[2], 10);
                return (y + '-' + (m < 10 ? ('0' + m) : m) + '-' + (d < 10 ? ('0' + d) : d));
            }

            function myparser(s) {
                if (!s) return new Date();
                var ss = (s.split('/'));
                var d = parseInt(ss[0], 10);
                var m = parseInt(ss[1], 10);
                var y = parseInt(ss[2], 10);
                if (!isNaN(y) && !isNaN(m) && !isNaN(d)) {
                    return new Date(y, m - 1, d);
                } else {
                    return new Date();
                }
            }
        });
    </script>
</th:block>
</body>
</html>