<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="layout/admin">
<head>
    <title>Budget</title>
    <th:block th:fragment="style" th:remove="tag">
        <!--<link rel="stylesheet" th:href="@{/resources/js/jqgrid/ui.jqgrid.css}">-->
        <link rel="stylesheet" th:href="@{/resources/js/jqgrid/ui.jqgrid-bootstrap4.css}">
        <link rel="stylesheet" th:href="@{/resources/js/jqgrid/ui.jqgrid-bootstrap-ui.css}">
        <style type="text/css">
            input[type='checkbox'], input[type='checkbox']:checked, input[type='checkbox']:not(:checked) {
                display: inline-block;
                position: relative;
                pointer-events: auto;
                opacity: 1;
            }
        </style>
    </th:block>
</head>
<body>
<ul class="collapsible collapsible-accordion" layout:fragment="navbar">
		<div th:include="budget/menu :: navbar" th:remove="tag"></div>
	</ul>
<ul class="breadcrumb" layout:fragment="breadcrumb">
    <li><i class="ace-icon fa fa-home home-icon"></i> <a
            th:href="@{/}">Accueil</a></li>
    <li class="active">Budget</li>
</ul>
<!-- /.breadcrumb -->
<div layout:fragment="content">
    <div class="card">
        <div class="card-body">
            <select id="validerckb" class="mdb-select md-form">
                <option value="" disabled selected>Choisir une option</option>
                <option value="true">Validé</option>
                <option value="false">Non Validé</option>
                <option value="">Tous</option>
            </select>
            <label class="mdb-main-labe" for="validerckb">Budgets à afficher</label>
        </div>
    </div>

    <div class="card card-cascade narrower z-depth-1 mt-5">
        <!-- Card image -->
        <div class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

            <div>
                <a id="btnValBudget"
                   class="btn btn-outline-white btn-rounded btn-sm px-2">
                    <i class="fas fa-th-large mt-0"></i> Valider
                </a>
            </div>

            <a href="" class="white-text mx-3">Budgets A Valider </a>

            <div>
            </div>

        </div>
        <!-- /Card image -->

        <div class="px-4">
            <table id="budgetGrid">
            </table>
            <div id="budgetGridPager"></div>
        </div>
    </div>
    <div id="budgetDlg" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Validation Budget</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form id="frmBudget" action="#" th:action="@{/budget/save}"
                              th:object="${budget}" method="post">
                            <div class="md-form row">
                                <input id="idBudget" name="id" class="form-control"
                                       readonly="readonly">
                                <label>ID</label>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="md-form">
                                        <input type="date" class="form-control"
                                               id="txtDateBudget" th:field="*{dateBudget}" readonly>
                                        <label>Date Budget</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <select id="slTypeBudget" class="mdb-select md-form"
                                            th:field="*{typeBudget.id}" disabled>
                                        <option value=""></option>
                                        <option th:each="t : ${types}" th:value="${t.id}"
                                                th:text="${t.libelleBudget}"></option>
                                    </select>
                                    <label class="mdb-main-label active">Type Budget</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="md-form">
                                        <input type="text" class="form-control"
                                               id="txtCodeBudget" th:field="*{codeBudget}" readonly>
                                        <label>Code Budget</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="md-form">
                                        <input type="text" class="form-control"
                                               id="txtNomBudget" th:field="*{nomBudget}" readonly>
                                        <label>Nom Budget</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="md-form">
                                        <input type="text" class="form-control"
                                               id="txtMontantDem" th:field="*{montantDemande}" readonly>
                                        <label>Montant Budget</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="md-form">
                                        <input type="text" class="form-control"
                                               id="txtMontantValide" th:field="*{montantValide}">
                                        <label>Montant Valide</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <select id="statutBudgetSlt" class="mdb-select md-form" th:field="*{statutBudget}">
                                        <option value="ENCOURS">ENCOURS</option>
                                        <option value="VALIDE" selected>VALIDE</option>
                                    </select>
                                    <label class="mdb-main-label">Statut</label>
                                </div>
                            </div>
                            <div class="row">
                                <button id="btnSubBudget" type="submit" class="btn btn-primary">
                                    <i class="ace-icon fa fa-check"></i> Valider
                                </button>
                                <button id="btnAnnulBudget" type="button" class="btn" onclick="resetFormBudget()">
                                    <i class="ace-icon fa fa-undo"></i> Réinitialiser
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script" th:remove="tag">
    <script th:src="@{/resources/js/jqgrid/grid.locale-fr.js}"></script>
    <script th:src="@{/resources/js/jqgrid/jquery.jqGrid.min.js}"></script>
    <script th:inline="javascript">

        var ctx = [[${#request.getContextPath()}]];

        function resetFormBudget() {
            $("#frmBudget").trigger("reset");
            $("#budgetGrid").jqGrid('resetSelection');
            $('#budgetDlg').modal('hide');
        }

        $(document).ready(function () {

            $('#validerckb').change(function () {
                $("#budgetGrid").jqGrid().trigger('reloadGrid');
            });

            $("#budgetGrid").jqGrid({
                url: 'listeBudgets',
                mtype: "GET",
                styleUI: 'Bootstrap4',
                iconSet: "fontAwesome",
                postData: {
                    valider: function () {
                        return $('#validerckb').val();
                    }
                },
                datatype: "json",
                colModel: [
                    {label: 'ID', name: 'id', key: true, width: 50},
                    {label: 'ID Budget', name: 'typeBudget.id', hidden: true},
                    {label: 'Budget', name: 'typeBudget.codeTypeBudget', width: 90},
                    {label: 'Code', name: 'codeBudget', width: 90},
                    {label: 'Libellé', name: 'nomBudget', width: 250},
                    {label: 'Date', name: 'dateBudget', width: 100},
                    {label: 'Montant Dem', name: 'montantDemande', width: 100},
                    {label: 'Montant', name: 'montantValide', width: 100},
                    {label: 'Statut', name: 'statutBudget', width: 100},
                    {label: 'Valider', name: 'valider', width: 80, formatter: 'checkbox'}
                ],
                page: 1,
                autowidth: true,
                height: 200,
                rowNum: 20,
                rowList: [20, 50, 100],
                sortname: 'id',
                viewrecords: true,
                emptyrecords: 'Pas de Budgets trouvés', // the message will be displayed at the bottom
                pager: "#budgetGridPager"
            });

            /*setTimeout(function () {
                var $Input = $('input:-webkit-autofill');
                $Input.next("label").addClass('active');
            }, 200);
            */

            $('#btnValBudget').click(
                function (e) {
                    var grid = $("#budgetGrid");
                    var rowKey = grid.jqGrid('getGridParam', "selrow");
                    if (rowKey) {
                        var row = grid.jqGrid('getRowData', rowKey);
                        console.log(row);
                        $.ajax({
                            type: 'GET',
                            url: ctx + '/budget/detailBudget/' + row.codeBudget,
                            dataType: 'json',
                            encode: true
                        }).done(function (data, status) {
                            if (data.length > 0) {
                                location.href = ctx + "/budget/valider/" + row.id;
                            } else {
                                editBudget(row);
                                $('#budgetDlg').modal('show');
                            }
                        }).fail(function (xhr, status, error) {
                            var resp = JSON.parse(xhr.responseText);
                            toastr.error(resp.description);
                        });
                    } else {
                        toastr.info("Aucune ligne sélectionnée");
                    }
                    e.preventDefault();
                }
            );

            function editBudget(data) {
                if (data) {
                    $('#idBudget').val(data.id);
                    $('#idBudget').next("label").addClass('active');
                    $('#txtDateBudget').val(isoDate(data.dateBudget));
                    $('#txtDateBudget').next("label").addClass('active');
                    $('#slTypeBudget').val(data['typeBudget.id']);
                    $('#slTypeBudget').next("label").addClass('active');
                    $('#txtCodeBudget').val(data.codeBudget);
                    $('#txtCodeBudget').next("label").addClass('active');
                    $('#txtNomBudget').val(data.nomBudget);
                    $('#txtNomBudget').next("label").addClass('active');
                    $('#txtMontantDem').val(data.montantDemande);
                    $('#txtMontantDem').next("label").addClass('active');
                    $('#txtMontantValide').val(data.montantValide);
                    $('#txtMontantValide').next("label").addClass('active');
                    $('#statutBudgetSlt').val(data.statutBudget);
                    $('#statutBudgetSlt').next("label").addClass('active');
                }
            }

            $('#frmBudget').submit(function (event) {
                // get the form data
                // there are many ways to get this data using jQuery (you can use the class or id also)
                var formData = $(this).serialize();
                // process the form
                $.ajax({
                    type: 'POST', // define the type of HTTP verb we want to use (POST for our form)
                    url: ctx + '/budget/valider', // the url where we want to POST
                    data: formData, // our data object
                    dataType: 'json', // what type of data do we expect back from the server
                    encode: true
                }).done(function (data, status) {
                    $('#budgetGrid').jqGrid().trigger('reloadGrid');
                    $('#budgetDlg').modal('hide');
                    toastr.success(data.message);
                }).fail(function (xhr, status, error) {
                    var resp = JSON.parse(xhr.responseText);
                    toastr.error('Erreur d\'execution :' + resp.message);
                });
                // stop the form from submitting the normal way and refreshing the page
                event.preventDefault();
            });
        });

        function getBaseUrl() {
            var url;
            var origin = document.location.origin;
            console.log("Origine : " + origin);
            if (origin.search("localhost") > 0) {
                url = "https://prod.gacsource.net";
            } else if (origin.search("tom") > 0) {
                url = origin.replace("tom", "prod");
            } else {
                url = origin;
            }
            console.log(url);
            return url;
        }

        function myformatter(date) {
            var y = date.getFullYear();
            var m = date.getMonth() + 1;
            var d = date.getDate();
            return (d < 10 ? ('0' + d) : d) + '/' + (m < 10 ? ('0' + m) : m) + '/' + y;
        }

        function isoDate(s) {
            if (!s) return "";
            var ss = (s.split('/'));
            var d = parseInt(ss[0], 10);
            var m = parseInt(ss[1], 10);
            var y = parseInt(ss[2], 10);
            return (y + '-' + (m < 10 ? ('0' + m) : m) + '-' + (d < 10 ? ('0' + d) : d));
        }
    </script>
</th:block>
</body>
</html>