<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/admin">

<head>
    <title>Etat des Bons Neutres</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <th:block th:fragment="style" th:remove="tag">
        <!--<link rel="stylesheet" th:href="@{/resources/js/jqgrid/ui.jqgrid.css}">-->
        <link rel="stylesheet" th:href="@{/resources/js/jqgrid/ui.jqgrid-bootstrap4.css}">
        <link rel="stylesheet" th:href="@{/resources/js/jqgrid/ui.jqgrid-bootstrap-ui.css}">
        <style type="text/css">
            input[type='checkbox'],
            input[type='checkbox']:checked,
            input[type='checkbox']:not(:checked) {
                display: inline-block;
                position: relative;
                pointer-events: auto;
                opacity: 1;
            }
        </style>
    </th:block>
</head>

<body>
    <ul class="breadcrumb" layout:fragment="breadcrumb">
        <li><i class="ace-icon fa fa-home home-icon"></i> <a th:href="@{/}">Accueil</a></li>
        <li class="active">Details Bon Neutre</li>
    </ul>
    <!-- /.breadcrumb -->
    <th:block layout:fragment="topbar">
        <div th:if="${agr == 'OI'}" th:include="oi/menu :: topnav" th:remove="tag"></div>
        <div th:if="${agr == 'OKSU'}" th:include="oksu/menu :: topnav" th:remove="tag"></div>
        <div th:if="${agr == 'OBPS'}" th:include="obps/menu :: topnav" th:remove="tag"></div>
        <div th:if="${agr == 'OBPSD'}" th:include="obpsd/menu :: topnav" th:remove="tag"></div>
        <div th:if="${agr == 'OP'}" th:include="op/menu :: topnav" th:remove="tag"></div>
        <div th:if="${agr == 'OT'}" th:include="ot/menu" th:remove="tag"></div>
    </th:block>
    <div layout:fragment="content" class="mt-1">
        <div class="card">
            <div class="card-header">
                <div class="float-left">
                    <a class="btn btn-default btn-sm" th:href="@{/bonNeutre/__${agr}__/ban}">Retour</a>
                </div>
                <h5 class="card-title">Détails du Bon d'Achat Neutre</h5>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <div class="row">
                        <input type="hidden" id="bonNeutreId" th:value="${bn.bonNeutreId}" class="form-control">
                        <div class="md-form col-lg-4">
                            <input type="text" id="bnCodeMembre" th:value="${bn.bonNeutreCodeMembre}" class="form-control" th:readonly="true">
                            <label for="bnCodeMembre">Code Membre</label>
                        </div>
                        <div class="md-form col-lg-4">
                            <input th:if="${bn.bonNeutreCodeMembre == null or #strings.endsWith(bn.bonNeutreCodeMembre,'P')}" type="text" id="nomMembre" th:value="${bn.bonNeutreNom}" class="form-control" th:readonly="true">
                            <input th:if="${bn.bonNeutreCodeMembre != null and #strings.endsWith(bn.bonNeutreCodeMembre,'M')}" type="text" id="raisonSociale" th:value="${bn.bonNeutreRaison}" class="form-control" th:readonly="true">
                            <label for="nomMembre">Nom Membre</label>
                        </div>
                        <div class="md-form col-lg-4">
                            <input type="text" id="prenomMembre" th:value="${(bn.bonNeutreCodeMembre == null or #strings.endsWith(bn.bonNeutreCodeMembre,'P')) ? bn.bonNeutrePrenom : ''}" class="form-control" th:readonly="true">
                            <label for="prenomMembre">Prénoms Membre</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="md-form col-lg-4">
                            <input type="text" id="montantGcp" th:value="${bn.bonNeutreMontant}" class="form-control" th:readonly="true">
                            <label for="montantGcp">Montant</label>
                        </div>
                        <div class="md-form col-lg-4">
                            <input type="text" id="montGcpMaj" th:value="${bn.bonNeutreMontantUtilise}" class="form-control" th:readonly="true">
                            <label for="montGcpMaj">Montant Utilise</label>
                        </div>
                        <div class="md-form col-lg-4">
                            <input type="text" id="bnMontantSolde" th:value="${bn.bonNeutreMontantSolde}" class="form-control" th:readonly="true">
                            <label for="bnMontantSolde">Solde</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="md-form col-lg-4">
                            <input type="text" id="bnCode" th:value="${bn.bonNeutreCode}" class="form-control" th:readonly="true">
                            <label for="bnCode">Code</label>
                        </div>
                        <div class="md-form col-lg-4">
                            <input type="text" id="bnType" th:value="${bn.bonNeutreType}" class="form-control" th:readonly="true">
                            <label for="montGcpMaj">Type BAn</label>
                        </div>
                        <div class="md-form col-lg-4">
                            <input type="text" id="bnDate" th:value="${#dates.format(bn.bonNeutreDate, 'dd/MM/yyyy')}" class="form-control" th:readonly="true">
                            <label for="bnDate">Date BAn</label>
                        </div>
                    </div>
                    <table id="bnDetTable">
                    </table>
                    <div id="bnDetTablePg"></div>
                    <br/>
                    <table id="bnUtilTable">
                    </table>
                    <div id="bnUtilTablePg"></div>
                </div>
            </div>
        </div>
    </div>
    <th:block layout:fragment="script" th:remove="tag">
        <script th:src="@{/resources/js/jqgrid/grid.locale-fr.js}"></script>
        <script th:src="@{/resources/js/jqgrid/jquery.jqGrid.min.js}"></script>
        <script th:inline="javascript">
            var ctx = /*[[@{/}]]*/ ;
            $(function() {

                $("#bnDetTable").jqGrid({
                    url: ctx + 'bonNeutre/bnDetail?idbn=' + $('#bonNeutreId').val(),
                    mtype: "GET",
                    styleUI: 'Bootstrap4',
                    iconSet: "fontAwesome",
                    datatype: "json",
                    colModel: [{
                        label: 'ID',
                        name: 'bonNeutreDetailId',
                        key: true,
                        width: 50
                    }, {
                        label: 'Date',
                        name: 'bonNeutreDetailDate',
                        width: 100
                    }, {
                        label: 'Code Membre',
                        name: 'euBonNeutre.bonNeutreId',
                        hidden: true
                    }, {
                        label: 'Code Membre',
                        name: 'euBonNeutre.bonNeutreCodeMembre',
                        width: 140
                    }, {
                        label: 'Code',
                        name: 'bonNeutreDetailCode',
                        width: 150
                    }, {
                        label: 'Montant',
                        name: 'bonNeutreDetailMontant',
                        width: 100,
                        summaryTpl: "Total: {0}",
                        summaryType: "sum"
                    }, {
                        label: 'Montant Utilise',
                        name: 'bonNeutreDetailMontantUtilise',
                        width: 100,
                        summaryTpl: "Total: {0}",
                        summaryType: "sum"
                    }, {
                        label: 'Solde',
                        name: 'bonNeutreDetailMontantSolde',
                        width: 100,
                        summaryTpl: "Total: {0}",
                        summaryType: "sum"
                    }, {
                        label: 'Banque',
                        name: 'bonNeutreDetailBanque',
                        width: 70
                    }, {
                        label: 'Type',
                        name: 'bonNeutreDetailType',
                        width: 80
                    }],
                    page: 1,
                    autowidth: true,
                    viewrecords: true,
                    height: 200,
                    rowNum: 100,
                    rowList: [100, 250, 500],
                    sortname: 'bonNeutreDetailDate',
                    emptyrecords: 'Pas de lignes trouvees',
                    pager: "#bnDetTablePg",
                    caption: 'Details BAn',
                    onSelectRow: function(rowid, selected) {
                        if (rowid != null) {
                            var row = jQuery('#bnDetTable').jqGrid('getRowData', rowid);
                            jQuery("#bnUtilTable").jqGrid('setGridParam', {
                                url: ctx + "bonNeutre/bnUtilise?idDetail=" + rowid + "&idBn=" + row['euBonNeutre.bonNeutreId'],
                                datatype: 'json'
                            }); // the last setting is for demo only
                            console.log(row);
                            jQuery("#bnUtilTable").jqGrid('setCaption', 'Utilisation du BAn ' + rowid);
                            jQuery("#bnUtilTable").trigger("reloadGrid");
                        }
                    }, // use the onSelectRow that is triggered on row click to show a details grid
                    onSortCol: clearSelection,
                    onPaging: clearSelection,
                });

                function clearSelection() {
                    jQuery("#bnUtilTable").jqGrid('setGridParam', {
                        url: ctx + "bonNeutre/bnUtilise?idBn=" + $('#bonNeutreId').val(),
                        datatype: 'json'
                    }); // the last setting is for demo purpose only
                    jQuery("#bnUtilTable").jqGrid('setCaption', 'Liste de tous les BAn Utilisés');
                    jQuery("#bnUtilTable").trigger("reloadGrid");

                }

                $("#bnUtilTable").jqGrid({
                    url: ctx + 'bonNeutre/bnUtilise?idBn=' + $('#bonNeutreId').val(),
                    mtype: "GET",
                    styleUI: 'Bootstrap4',
                    iconSet: "fontAwesome",
                    datatype: "json",
                    colModel: [{
                        label: 'ID',
                        name: 'bonNeutreUtiliseId',
                        key: true,
                        width: 50
                    }, {
                        label: 'Date',
                        name: 'bonNeutreUtiliseDate',
                        width: 100
                    }, {
                        label: 'Code Membre',
                        name: 'euBonNeutre.bonNeutreCodeMembre',
                        width: 140
                    }, {
                        label: 'Code BAn',
                        name: 'euBonNeutre.bonNeutreCode',
                        width: 70
                    }, {
                        label: 'CodeDetail BAn',
                        name: 'bonNeutreDetail.bonNeutreDetailCode',
                        width: 70
                    }, {
                        label: 'Libelle',
                        name: 'bonNeutreUtiliseLibelle',
                        width: 150
                    }, {
                        label: 'Montant',
                        name: 'bonNeutreUtiliseMontant',
                        width: 100,
                        summaryTpl: "Total: {0}",
                        summaryType: "sum"
                    }, {
                        label: 'Type',
                        name: 'bonNeutreUtiliseType',
                        width: 80
                    }],
                    page: 1,
                    autowidth: true,
                    viewrecords: true,
                    height: 200,
                    rowNum: 100,
                    rowList: [100, 250, 500],
                    sortname: 'bonNeutreUtiliseDate',
                    emptyrecords: 'Pas de lignes trouvees',
                    pager: "#bnUtilTablePg",
                    caption: 'BAn Utilisés',
                    footerrow: true, // set a footer row
                    userDataOnFooter: true, // the calculated sums and/or strings from server are put at footer row.
                    grouping: true,
                    groupingView: {
                        groupField: ["euBonNeutre.bonNeutreCodeMembre"],
                        groupColumnShow: [false],
                        groupText: ["Code Membre: <b>{0}</b>"],
                        groupOrder: ["asc"],
                        groupSummary: [true],
                        groupCollapse: false
                    }
                });
                $("#bnUtilTable").jqGrid("navGrid", "#bnUtilTablePg", {
                    add: false,
                    edit: false,
                    del: false,
                    search: false,
                    refresh: false
                }).navButtonAdd('#bnUtilTablePg', {
                    caption: "",
                    buttonicon: "fa-sync",
                    onClickButton: function() {
                        clearSelection();
                    },
                    position: "last"
                });
            });
        </script>
    </th:block>
</body>

</html>