<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="layout/admin">
<head>
    <title>Espace Bancaire</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<ul layout:fragment="navbar">
    <li class=""><a href="index.html" th:href="@{/home}"> <i
            class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
					Accueil </span>
    </a> <b class="arrow"></b></li>
    <li sec:authorize="hasAnyAuthority('detentrice')"><a
            href="/mcnp/salaire" th:href="@{/ban}"> <i
            class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
					Emission de BAn </span>
    </a> <b class="arrow"></b></li>
    <li sec:authorize="hasAnyAuthority('detentrice')"><a
            href="/mcnp/salaire" th:href="@{/affectban}"> <i
            class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
					Affectation de BAn </span>
    </a> <b class="arrow"></b></li>
</ul>
<ul class="breadcrumb" layout:fragment="breadcrumb">
    <li><i class="ace-icon fa fa-home home-icon"></i> <a
            th:href="@{/}">Accueil</a></li>
    <li class="active">Emission de BAn</li>
</ul>
<!-- /.breadcrumb -->
<div layout:fragment="content">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Emission de BAn</h5>
        </div>
        <div class="card-body">
            <form id="frm_ban" action="#" th:action="@{/ban}"
                  th:object="${ban}" method="post">
                <div class="alert alert-info" th:if="${message}">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="ace-icon fa fa-times"></i>
                    </button>
                    <p id="ban_message" th:text="${message}"></p>
                </div>
				<div class="md-form">
					<input id="codeBudget" type="text" class="form-control form-control-sm" th:field="*{codeMembre}"
						required="required"/>
					<label for="codeBudget">Numero Budget</label>
				</div>
                <div class="md-form">
                    <input type="text" id="codeMembreBan" class="form-control form-control-sm" th:field="*{codeMembre}"
                        required="required"/>
					<label for="codeMembreBan">Code Membre</label>
				</div>
                <div class="md-form">
					<input type="text" id="raison_sociale_ban" class="form-control form-control-sm" placeholder="Nom CM"/>
                </div>
                <div class="md-form">
					<input id="montantBan" type="text" class="form-control form-control-sm" th:field="*{montant}"
                        required="required"/>
					<label for="montantBan">Montant transfert</label>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">
                        <i class="ace-icon fa fa-check bigger-110"></i> Valider
                    </button>
                    <button class="btn" type="reset">
                        <i class="ace-icon fa fa-undo bigger-110"></i> Annuler
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>