<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout/template">
<head>
<meta charset="UTF-8" />
<title>ESMC: Emission d'OPI</title>
</head>
<body>
	<ul layout:fragment="navbar">
		<li class=""><a href="index.html" th:href="@{/home}"> <i
				class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
					Accueil </span>
		</a> <b class="arrow"></b></li>
		<li
			sec:authorize="hasAnyAuthority('pbf_detaillant', 'pbf_grossiste', 'pbf_semi_grossiste','cnp_tegcp_pbf')"><a
			href="#" class="dropdown-toggle"> <i
				class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
					GCp </span>
		</a> <b class="arrow"></b>
			<ul class="submenu">
				<li class=""><a href="/mcnp/banque/emettreopi"
					th:href="@{/emettreopi}"> <i
						class="menu-icon fa fa-plus purple"></i>Emission
				</a> <b class="arrow"></b></li>
				<li class=""><a href="/mcnp/banque/validopi"
					th:href="@{/validopi}"> <i class="menu-icon fa fa-plus purple"></i>Validation
				</a> <b class="arrow"></b></li>
			</ul></li>
	</ul>
	<ul class="breadcrumb" layout:fragment="breadcrumb">
		<li><i class="ace-icon fa fa-home home-icon"></i> <a
			th:href="@{/}">Accueil</a></li>
		<li class="active">Emission d'OPI</li>
	</ul>
	<!-- /.breadcrumb -->
	<div layout:fragment="content">
		<div class="widget-box widget-color-blue">
			<div class="widget-header widget-header-small">
				<h5 class="widget-title">Emission d'OPI</h5>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<form id="frm_opi_Emission" class="form-horizontal" action="#"
						th:action="@{/emettreopi}" th:object="${opi}" method="post">
						<div class="alert alert-info" th:if="${message}">
							<button type="button" class="close" data-dismiss="alert">
								<i class="ace-icon fa fa-times"></i>
							</button>
							<p id="opi_message" th:text="${message}"></p>
						</div>
						<div class="form-group">
							<div id="div_codeMembre" class="form-group col-sm-6 pull-left">
								<label for="opi_codeMembre" class="col-sm-4 control-label">Code
									Membre *</label>
								<div class="col-sm-8">
									<input class="form-control" id="opi_codeMembre"
										th:field="*{codeMembre}" required="required"
										th:disabled="${disabled}" />
								</div>
							</div>
							<div id="div_opi_tegc" class="form-group col-sm-6">
								<label for="opi_tegc" class="col-sm-4 control-label">Terminal
									de Vente *</label>
								<div class="col-sm-8">
									<select id="opi_tegc" th:field="*{codeTegc}"
										class="form-control" required="required">
										<option th:if="${not #lists.isEmpty(tegcs)}"
											th:each="te: ${tegcs}" th:value="${te.codeTegc}"
											th:text="${te.nomTegc}">TEGc</option>
									</select>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div id="codeBanque_benef" class="form-group col-sm-6">
								<label for="opi_modePaiement" class="col-sm-4 control-label">Banque
									Bénéficiare</label>
								<div class="col-sm-8">
									<select id="opi_modePaiement" class="form-control"
										th:field="*{modePaiement}">
										<option th:each="bk: ${banks}" th:value="${bk.codeBanque}"
											th:text="${bk.libelleBanque}">BTCI</option>
									</select>
								</div>
							</div>
							<div class="form-group col-sm-6">
								<label for="opi_referencePaiement"
									class="control-label col-sm-4">N° Compte bancaire/Tel</label>
								<div class="col-sm-8">
									<input class="form-control" id="opi_referencePaiement"
										th:field="*{referencePaiement}" />
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="form-group col-sm-6">
								<label for="typeTe" class="control-label col-sm-4">Type
									TE</label>
								<div class="col-sm-8">
									<select id="typeTe" class="form-control" th:field="*{typeOpi}">
										<option value=""></option>
										<option value="P">Prestataire</option>
										<option value="D">Distributeur</option>
									</select>
								</div>
							</div>
							<div class="col-sm-6 form-group">
								<label class="control-label col-sm-4" for="ckMarge">Avec
									Marge d'attente ? </label>
								<div class="col-sm-6">
									<input type="checkbox" id="ckMarge" th:field="*{marge}"
										value="1" />
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="form-group col-sm-6">
								<label for="typeGcp" class="control-label col-sm-4">Type
									GCp</label>
								<div class="col-sm-8">
									<select id="typeGcp" class="form-control" th:field="*{typeGcp}">
										<option value=""></option>
										<option value="DIST">Achat et Vente</option>
										<option value="COM">Commission</option>
										<option value="PS">Prestation</option>
										<option value="SMCIPN">Autres</option>
									</select>
								</div>
							</div>
							<div class="col-sm-6 form-group">
								<label class="control-label col-sm-4" for="ckTva">Avec
									TVA ? </label>
								<div class="col-sm-1">
									<input type="checkbox" id="ckTva" th:field="*{ttc}" value="1" />
								</div>
								<label for="txtTauxTva" class="control-label col-sm-2">Taux
									TVA:</label>
								<div class="col-sm-3">
									<input id="txtTauxTva" class="form-control"
										placeholder="Valeur du taux de la TVA" type="number" readonly="readonly"/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="form-group col-sm-6">
								<label for="opi_montant" class="control-label col-sm-4">Montant
									OPI *</label>
								<div class="col-sm-8">
									<input class="form-control" id="opi_montant"
										th:field="*{montant}" required="required" />
								</div>
							</div>
							<div class="form-group col-sm-6">
								<label for="opi_mont_maj" class="control-label col-sm-4">Montant
									OPI Maj</label>
								<div class="col-sm-8">
									<input class="form-control" id="opi_mont_maj"
										required="required" readonly="readonly" />
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="form-group col-sm-6">
								<label for="opi_tranche1" class="control-label col-sm-4">Montant
									Tranche 1 </label>
								<div class="col-sm-8">
									<input type="text" id="opi_tranche1" class="form-control"
										th:field="*{montTranche1}" value="2000000" />
								</div>
							</div>
							<div class="form-group col-sm-6">
								<label for="opi_nbre" class="control-label col-sm-4">Nombre
									OPI *</label>
								<div class="col-sm-8">
									<input type="number" class="form-control" id="opi_nbre"
										th:field="*{nbre}" required="required"
										th:disabled="${disabled}" />
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="form-group col-sm-6">
								<label for="opi_tranche" class="control-label col-sm-4">Montant
									de la Tranche</label>
								<div class="col-sm-8">
									<input class="form-control" id="opi_tranche"
										readonly="readonly" />
								</div>
							</div>
							<div class="form-group col-sm-6">
								<label for="opi_série" class="control-label col-sm-4">Nombre
									de Tranche</label>
								<div class="col-sm-8">
									<input type="number" class="form-control" id="opi_serie"
										th:field="*{serie}" />
								</div>
							</div>
						</div>
						<div class="form-group">
							<div id="div-opi_diferre" class="form-group col-sm-6">
								<label for="opi_diferre" class="col-sm-4 control-label">Différé</label>
								<div class="col-sm-8">
									<input type="number" id="opi_diferre" class="form-control"
										th:field="*{diferre}" value="1" />
								</div>
							</div>
							<div class="form-group col-sm-6">
								<label for="opi_dateDebut" class="control-label col-sm-4">Date
									Début </label>
								<div class="col-sm-8">
									<div class="input-group">
										<input type="text" id="opi_dateDebut"
											class="form-control date-picker"
											data-date-format="dd-mm-yyyy" th:field="*{dateDebut}"
											value="2017-01-27"> <span class="input-group-addon">
											<i class="fa fa-calendar bigger-110"></i>
										</span> </input>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group"></div>
						<div class="form-actions">
							<button type="submit" class="btn btn-primary" id="opi_btnValider">
								<i class="ace-icon fa fa-check bigger-110"></i>Valider
							</button>
							&nbsp; &nbsp; &nbsp;
							<button class="btn" type="reset" id="opi_btnReset">
								<i class="ace-icon fa fa-undo bigger-110"></i> Réinitialiser
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>