<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/admin">
<head>
    <title>Espace Bancaire</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<ul class="collapsible collapsible-accordion" layout:fragment="navbar">
    <li class=""><a href="index.html" th:href="@{/home}"> <i
            class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
					Accueil </span>
    </a> <b class="arrow"></b></li>
    <li class=""><a href="index.html" th:href="@{/uploadWari}"> <i
            class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
					Chargement Wari </span>
    </a> <b class="arrow"></b></li>
    <li><a href="#" class="collapsible-header waves-effect arrow-r">
        <i class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
					GCp </span>
    </a> <b class="arrow"></b>
        <div class="collapsible-body">
            <ul>
                <li class=""><a href="/mcnp/banque/emettreopi"
                                th:href="@{/emettreopi}"> <i
                        class="menu-icon fa fa-plus purple"></i>Emission
                </a> <b class="arrow"></b></li>
                <li class=""><a href="/mcnp/banque/validopi"
                                th:href="@{/validopi}"> <i class="menu-icon fa fa-plus purple"></i>Validation
                </a> <b class="arrow"></b></li>
            </ul>
        </div>
    </li>
    <li class=""><a href="/mcnp/banque/update"
                    th:href="@{/updateopi}"> <i class="menu-icon fa fa-tachometer"></i>Mise
        à jour
    </a> <b class="arrow"></b></li>
    <li class=""><a href="/mcnp/banque/updateTraite"
                    th:href="@{/updateTraite}"> <i class="menu-icon fa fa-tachometer"></i>Mise
        à jour OPI
    </a> <b class="arrow"></b></li>
</ul>
<ul class="breadcrumb" layout:fragment="breadcrumb">
    <li><i class="ace-icon fa fa-home home-icon"></i> <a
            th:href="@{/}">Accueil</a></li>
    <li class="active">Espace Bancaire</li>
</ul>
<!-- /.breadcrumb -->
<div layout:fragment="content"></div>
</body>
</html>