<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/admin">
    <head>
        <title>Transfert de Bons</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <ul class="collapsible collapsible-accordion" layout:fragment="navbar">
            <li class=""><a href="index.html" th:href="@{/home}"> <i
                        class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
                        Accueil </span>
                </a> <b class="arrow"></b></li>
            <li><a href="/mcnp/banque/payerba" th:href="@{/payerba}"> <i
                        class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
                        Salaire </span>
                </a> <b class="arrow"></b></li>
            <li class=""><a href="/mcnp/banque/opi" th:href="@{/payeropi}">
                    <i class="menu-icon fa fa-plus purple"></i>OPI
                </a> <b class="arrow"></b></li>
            <li class=""><a href="/mcnp/opi" th:href="@{/validationopi}">
                    <i class="menu-icon fa fa-plus purple"></i>Paiement Non Abouti
                </a> <b class="arrow"></b></li>
            <li class=""><a href="/mcnp/banque/update"
					th:href="@{/updateopi}"> <i class="menu-icon fa fa-plus purple"></i>Mise
						à jour
				</a> <b class="arrow"></b></li>
        </ul>
        <ul class="breadcrumb" layout:fragment="breadcrumb">
            <li><i class="ace-icon fa fa-home home-icon"></i> <a
                    th:href="@{/}">Accueil</a></li>
            <li class="active">Paiement OPI</li>
        </ul>
        <!-- /.breadcrumb -->
        <div layout:fragment="content">
            <div class="widget-box widget-color-purple">
                <div class="widget-header widget-header-small">
                    <h5 class="widget-title">Paiement des OPI</h5>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <form class="form-horizontal" role="form" th:action="@{/escompte}"
                              method="post">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="codeBanque"
                                               class="col-sm-2 control-label no-padding-right">Banque</label>
                                        <div class="col-sm-10">
                                            <select id="codeBanque" class="form-control">
                                                <option th:each="bk: ${banks}" th:value="${bk.codeBanque}"
                                                        th:text="${bk.libelleBanque}">Banque</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="typeOpi"
                                               class="col-sm-6 control-label no-padding-right">Moyen
                                            de Reglement</label>
                                        <div class="col-sm-6">
                                            <select id="typeOpi" class="form-control">
                                                <option value="OPI">OPI</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="codeMembreOpi"
                                               class="col-sm-4 control-label no-padding-right">Code
                                            Membre</label>
                                        <div class="col-sm-8">
                                            <input id="codeMembreOpi" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button id="btFetchOpi" class="btn btn-sm btn-purple">
                                    <i class="ace-icon fa fa-arrow-right icon-on-right"></i>Lister
                                </button>
                                &nbsp; &nbsp; &nbsp;
                                <button class="btn btn-sm btn-purple" type="reset">
                                    <i class="ace-icon fa fa-undo bigger-110"></i> Réinitialiser
                                </button>
                            </div>

                            <div id="opi-widget" class="widget-box">
                                <div id="opi-widget-header"
                                     class="widget-header widget-header-small">
                                    <h6>Liste des OPI</h6>
                                </div>
                                <div id="opi-widget-body" class="widget-body">
                                    <div class="widget-toolbox padding-4">
                                        <div class="btn-toolbar">
                                            <div class="form-inline">
                                                <div class="input-group col-sm-2">
                                                    <span class="input-group-addon">Mode</span> <select
                                                        class="form-control" id="modeRegOpi">
                                                        <option value="ESC">Escompte</option>
                                                        <option value="ENC">Encaissement</option>
                                                    </select>
                                                </div>
                                                <div class="input-group col-sm-3">
                                                    <span class="input-group-addon">Type escompte</span> <select
                                                        class="form-control" id="typeEscOpi">
                                                        <option value="T">Total</option>
                                                        <option value="P">Partiel</option>
                                                    </select>
                                                </div>
                                                <div class="input-group col-sm-3">
                                                    <span class="input-group-addon">Nombre de tranches</span> <input
                                                        type="text" id="nbreEscOpi" class="form-control"
                                                        disabled="disabled" />
                                                </div>
                                                <div class="input-group col-sm-3">
                                                    <span class="input-group-addon">Montant</span> <input
                                                        type="text" id="montantOpi" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-main no-padding">
                                        <table id="topis"></table>
                                        <div id="dovis"></div>
                                    </div>
                                    <div class="widget-toolbox padding-8 clearfix">
                                        <button class="btn btn-xs btn-danger pull-left" type="reset">
                                            <i class="ace-icon fa fa-times"></i> Annuler
                                        </button>
                                        <button class="btn btn-xs btn-purple pull-right"
                                                id="btnValOpi" disabled="disabled">
                                            Valider <i class="ace-icon fa fa-check"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div id="valideOpi_modal" class="modal fade">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div id="modal-wizard-container">
                                            <div class="modal-header" style="display: none;">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-hidden="true">&times;</button>
                                                <h3 class="smaller lighter blue no-margin">Validation de
                                                    l'OPI</h3>
                                            </div>
                                            <div class="modal-body">
                                                <form id="frm_valOpiDialog" action="#" method="post">
                                                    <div class="alert alert-info" style="display: none">
                                                        <button type="button" class="close" data-dismiss="alert">
                                                            <i class="ace-icon fa fa-times"></i>
                                                        </button>
                                                        <p id="message"></p>
                                                    </div>
                                                    <div>
                                                        <label for="codeMembre">Code Membre</label> <input
                                                            class="form-control" id="codeMembre" />
                                                    </div>
                                                    <div>
                                                        <label for="modeReg">Mode Reglement</label> <input
                                                            id="modeReg" class="form-control" />
                                                    </div>
                                                    <div>
                                                        <label for="typeEsc">Mode Escompte</label> <input
                                                            id="typeEsc" class="form-control" />
                                                    </div>
                                                    <div>
                                                        <label for="nbre">Nombre de OPI</label> <input id="nbre"
                                                                                                       class="form-control" />
                                                    </div>
                                                    <div>
                                                        <label for="montant">Montant transfert</label> <input
                                                            class="form-control" id="montant" />
                                                    </div>
                                                    <div>
                                                        <label for="codeMembrePbf">Code Membre PBF</label> <input
                                                            id="codeMembrePbf" class="form-control" />
                                                    </div>
                                                    <div>
                                                        <label for="numeroBonOp">numéro du Bon</label> <input
                                                            class="form-control" id="numeroBonOp" />
                                                    </div>
                                                    <div class="form-actions">
                                                        <button type="button" id="btn-valOpi"
                                                                class="btn btn-purple">
                                                            <i class="ace-icon fa fa-check bigger-110"></i>Valider
                                                        </button>
                                                        &nbsp; &nbsp; &nbsp;
                                                        <button class="btn btn-purple" type="reset">
                                                            <i class="ace-icon fa fa-undo bigger-110"></i> Fermer
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>