<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout/template">
<head>
<meta charset="UTF-8" />
<title>ESMC: Emission d'OPI</title>
</head>
<body>
	<ul layout:fragment="navbar">
		<li class=""><a href="index.html" th:href="@{/home}"> <i
				class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
					Accueil </span>
		</a> <b class="arrow"></b></li>
		<li><a href="#" class="dropdown-toggle"> <i
				class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
					OPI </span><b class="arrow fa fa-angle-down"></b>
		</a>
			<ul class="submenu">
				<li class=""><a href="/mcnp/banque/opi" th:href="@{/emettreopi}">
						<i class="menu-icon fa fa-plus purple"></i>Emission
				</a> <b class="arrow"></b></li>
				<li class=""><a href="/mcnp/banque/confirmeropi"
					th:href="@{/validopi}"> <i
						class="menu-icon fa fa-plus purple"></i>Confirmation
				</a> <b class="arrow"></b></li>
				<li class=""><a href="/mcnp/distributeur/update"
					th:href="@{/updateopi}"> <i class="menu-icon fa fa-plus purple"></i>Mise
						à jour
				</a> <b class="arrow"></b></li>
				<li class=""><a href="/mcnp/banque/updateTraite"
					th:href="@{/updateTraite}"> <i class="menu-icon fa fa-tachometer"></i>Mise
						à jour OPI
				</a> <b class="arrow"></b></li>
			</ul></li>
	</ul>
	<ul class="breadcrumb" layout:fragment="breadcrumb">
		<li><i class="ace-icon fa fa-home home-icon"></i> <a
			th:href="@{/}">Accueil</a></li>
		<li class="active">Mise à jour d'OPI</li>
	</ul>
	<!-- /.breadcrumb -->
	<div layout:fragment="content">
		<div class="widget-box widget-color-blue">
			<div class="widget-header widget-header-small">
				<h5 class="widget-title">Mise à Jour des dates d'OPI</h5>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<form id="frm_opi_Emission" class="form-horizontal" action="#"
						th:action="@{/updateTraite}" th:object="${dateOpi}" method="post">
						<div class="alert alert-info" th:if="${message}">
							<button type="button" class="close" data-dismiss="alert">
								<i class="ace-icon fa fa-times"></i>
							</button>
							<p id="opi_message" th:text="${message}"></p>
						</div>
						<div class="form-group col-sm-6">
							<label for="opi_dateDebut" class="control-label col-sm-4">Date
								Début </label>
							<div class="col-sm-8">
								<div class="input-group">
									<input type="text" id="opi_dateDebut"
										class="form-control date-picker" data-date-format="dd-mm-yyyy"
										th:field="*{dateDebut}" value="2017-01-27"> <span
										class="input-group-addon"> <i
										class="fa fa-calendar bigger-110"></i></span> </input>
								</div>
							</div>
						</div>
						<div class="form-group col-sm-6">
							<label for="opi_dateFin" class="control-label col-sm-4">Date
								Début </label>
							<div class="col-sm-8">
								<div class="input-group">
									<input type="text" id="opi_dateFin"
										class="form-control date-picker" data-date-format="dd-mm-yyyy"
										th:field="*{dateFin}" value="2017-01-27"> <span
										class="input-group-addon"> <i
										class="fa fa-calendar bigger-110"></i></span> </input>
								</div>
							</div>
						</div>
						<div class="form-actions">
							<button type="submit" class="btn btn-primary" id="opi_btnValider">
								<i class="ace-icon fa fa-check bigger-110"></i>Valider
							</button>
							&nbsp; &nbsp; &nbsp;
							<button class="btn" type="reset" id="opi_btnReset">
								<i class="ace-icon fa fa-undo bigger-110"></i> Réinitialiser
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>