<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout/template">
<head>
<meta charset="UTF-8" />
<title>ESMC: Emission d'OPI</title>
</head>
<body>
	<ul layout:fragment="navbar">
		<li class=""><a href="index.html" th:href="@{/home}"> <i
				class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
					Accueil </span>
		</a> <b class="arrow"></b></li>
		<li class=""><a href="index.html" th:href="@{/uploadWari}"> <i
				class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
					Chargement Wari </span>
		</a> <b class="arrow"></b></li>
	</ul>
	<ul class="breadcrumb" layout:fragment="breadcrumb">
		<li><i class="ace-icon fa fa-home home-icon"></i> <a
			th:href="@{/}">Accueil</a></li>
		<li class="active">Mise à jour d'OPI</li>
	</ul>
	<!-- /.breadcrumb -->
	<div layout:fragment="content">
		<div class="widget-box widget-color-blue">
			<div class="widget-header widget-header-small">
				<h5 class="widget-title">Mise à Jour des dates d'OPI</h5>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<form id="frm_updloadWari" class="form-horizontal" action="#"
						th:action="@{/uploadWari}" method="post"
						enctype="multipart/form-data">
						<div class="alert alert-info" th:if="${message}">
							<button type="button" class="close" data-dismiss="alert">
								<i class="ace-icon fa fa-times"></i>
							</button>
							<p id="opi_message" th:text="${message}"></p>
						</div>
						<div class="form-group">
							<label for="uploadedFile_name0" class="control-label col-sm-3">Sélectionner
								un fichier</label>
							<div class="col-sm-9">
								<input type="file" id="uploadedFile_name0" name="files" />
							</div>
						</div>
						<div class="form-group">
							<label for="uploadedFile_name1" class="control-label col-sm-3">Sélectionner
								un fichier</label>
							<div class="col-sm-9">
								<input type="file" id="uploadedFile_name1" name="files" />
							</div>
						</div>
						<div class="form-group">
							<label for="uploadedFile_name2" class="control-label col-sm-3">Sélectionner
								un fichier</label>
							<div class="col-sm-9">
								<input type="file" id="uploadedFile_name2" name="files" />
							</div>
						</div>
						<div class="form-group">
							<label for="uploadedFile_name3" class="control-label col-sm-3">Sélectionner
								un fichier</label>
							<div class="col-sm-9">
								<input type="file" id="uploadedFile_name3" name="files" />
							</div>
						</div>
						<div class="form-group">
							<label for="uploadedFile_name4" class="control-label col-sm-3">Sélectionner
								un fichier</label>
							<div class="col-sm-9">
								<input type="file" id="uploadedFile_name4" name="files" />
							</div>
						</div>
						<div class="form-group">
							<label for="uploadedFile_name5" class="control-label col-sm-3">Sélectionner
								un fichier</label>
							<div class="col-sm-9">
								<input type="file" id="uploadedFile_name5" name="files" />
							</div>
						</div>
						<div class="form-actions">
							<button type="submit" class="btn btn-primary" id="opi_btnValider">
								<i class="ace-icon fa fa-check bigger-110"></i>Valider
							</button>
							&nbsp; &nbsp; &nbsp;
							<button class="btn" type="reset" id="opi_btnReset">
								<i class="ace-icon fa fa-undo bigger-110"></i> Réinitialiser
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>