<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/template">
<head>
<title>Espace Bancaire</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<ul layout:fragment="navbar">
		<li class=""><a href="index.html" th:href="@{/home}"> <i
				class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
					Accueil </span>
		</a> <b class="arrow"></b></li>
		<li><a href="/mcnp/salaire" th:href="@{/salaire}"> <i
				class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
					Salaire </span>
		</a> <b class="arrow"></b></li>
		<li class=""><a href="/mcnp/opi" th:href="@{/opi}"> <i
				class="menu-icon fa fa-plus purple"></i>OPI
		</a> <b class="arrow"></b></li>
		<li class=""><a href="/mcnp/opi" th:href="@{/validationopi}"> <i
				class="menu-icon fa fa-plus purple"></i>Emission
				Non Validée
		</a> <b class="arrow"></b></li>
	</ul>
	<ul class="breadcrumb" layout:fragment="breadcrumb">
		<li><i class="ace-icon fa fa-home home-icon"></i> <a
			th:href="@{/}">Accueil</a></li>
		<li class="active">Paiement de Salaire / Bon d'Achat Convertible
			en Espèces</li>
	</ul>
	<!-- /.breadcrumb -->
	<div layout:fragment="content">
		<div class="widget-box widget-color-blue">
			<div class="widget-header widget-header-small">
				<h5 class="widget-title">Paiement de Salaire / Bon d'Achat
					Convertible en Espèces</h5>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<form id="frm_transfertba" action="#" th:action="@{/banque}"
						th:object="${paiement}" method="post">
						<div class="message">
							<p th:text="${message}"></p>
						</div>
						<div>
							<label for="typaBaValider" th>Type Bon à payer</label> <select
								class="form-control" id="typaBaValider" th:field="*{typeBa}">
								<option value="BA">BA convertible/option>
								<option value="CHEQUE">Chèques</option>
								<option value="OPI">OPI</option>
								<option value="CNCS">Salaire</option>
							</select>
						</div>
						<div>
							<label for="codeMembre">Code Membre</label> <input
								class="form-control" id="codeMembreValider"
								th:field="*{codeMembreValider}" required="required"
								readonly="readonly" />
						</div>
						<div>
							<label for="montant">Numero du Bon</label> <input
								class="form-control" id="numeroBon" th:field="*{numeroBon}"
								required="required" />
						</div>
						<div>
							<label for="montant">Montant transfert</label> <input
								class="form-control" id="montantValider"
								th:field="*{montantValider}" required="required"
								readonly="readonly" />
						</div>
						<div class="form-actions">
							<button type="submit" class="btn btn-primary">
								<i class="ace-icon fa fa-check bigger-110"></i>Valider
							</button>
							&nbsp; &nbsp; &nbsp;
							<button class="btn" type="reset">
								<i class="ace-icon fa fa-undo bigger-110"></i> Annuler
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>