<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/template">
<head>
<title>Validation de l'Opération de règlement des OPI</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<ul layout:fragment="navbar">
		<li class=""><a href="index.html" th:href="@{/home}"> <i
				class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
					Accueil </span>
		</a> <b class="arrow"></b></li>
		<li><a href="/mcnp/banque/payerba" th:href="@{/payerba}"> <i
				class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
					OPI Salaire </span>
		</a> <b class="arrow"></b></li>
		<li class=""><a href="/mcnp/banque/opi" th:href="@{/emettreopi}">
				<i class="menu-icon fa fa-plus purple"></i>OPI
		</a> <b class="arrow"></b></li>
		<li class=""><a href="/mcnp/opi" th:href="@{/validopi}">
				<i class="menu-icon fa fa-plus purple"></i>Emission
				Non Validée
		</a> <b class="arrow"></b></li>
		<li class=""><a href="/mcnp/distributeur/update"
					th:href="@{/updateopi}"> <i class="menu-icon fa fa-plus purple"></i>Mise
						à jour
				</a> <b class="arrow"></b></li>
	</ul>
	<ul class="breadcrumb" layout:fragment="breadcrumb">
		<li><i class="ace-icon fa fa-home home-icon"></i> <a
			th:href="@{/}">Accueil</a></li>
		<li class="active">Paiement de Salaire / Bon d'Achat Convertible
			en Espèces</li>
	</ul>
	<!-- /.breadcrumb -->
	<div layout:fragment="content">
		<div class="widget-box widget-color-blue">
			<div class="widget-header widget-header-small">
				<h5 class="widget-title">Paiement de Salaire / Bon d'Achat
					Convertible en Espèces</h5>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<form id="frm_payeropi" action="#" th:action="@{/valideropi}"
						th:object="${valopi}" method="post">
						<div class="alert alert-info" th:if="${message}">
							<button type="button" class="close" data-dismiss="alert">
								<i class="ace-icon fa fa-times"></i>
							</button>
							<p th:text="${message}"></p>
						</div>
						<div class="row">
							<div class="col-sm-8">
								<div class="form-group">
									<label for="codeBon" class="control-label col-sm-3">Numéro
										du Bon</label>
									<div class="col-sm-7">
										<input class="form-control" id="numeroBonOp"
											th:field="*{numeroBon}" required="required" />
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<button id="btn-display" class="btn btn-sm">Afficher</button>
							</div>
						</div>
						<div id="opi-widget" class="widget-box">
							<div id="opi-widget-header"
								class="widget-header widget-header-small">
								<h6>L'OPI à Valider</h6>
							</div>
							<div id="opi-widget-body" class="widget-body">
								<div class="widget-main">
									<div>
										<label for="codeMembrePbf">Code Membre PBF</label> <input
											id="codeMembrePbf" class="form-control" />
									</div>
									<div>
										<label for="codeMembre">Code Membre</label> <input
											class="form-control" id="codeMembre" th:field="*{codeMembre}"
											required="required" />
									</div>
									<div>
										<label for="modeReg">Mode Reglement</label> <input
											id="modeReg" class="form-control" />
									</div>
									<div>
										<label for="typeEsc">Mode Escompte</label> <input id="typeEsc"
											class="form-control" />
									</div>
									<div>
										<label for="nbre">Nombre de OPI</label> <input id="nbre"
											class="form-control" />
									</div>
									<div>
										<label for="montant">Montant transfert</label> <input
											class="form-control" id="montant" th:field="*{montant}"
											required="required" />
									</div>
									<div class="form-actions">
										<button type="button" id="btn-val-payeropi"
											class="btn btn-primary">
											<i class="ace-icon fa fa-check bigger-110"></i>Valider
										</button>
										&nbsp; &nbsp; &nbsp;
										<button class="btn" type="reset">
											<i class="ace-icon fa fa-undo bigger-110"></i> Réinitialiser
										</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>