<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/template">
<head>
<title>Paiement de Salaire / Bon d'Achat Convertible</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<ul layout:fragment="navbar">
		<li class=""><a href="index.html" th:href="@{/home}"> <i
				class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
					Accueil </span>
		</a> <b class="arrow"></b></li>
		<li><a href="#" class="dropdown-toggle"> <i
				class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
					Salaire </span>
		</a> <b class="arrow"></b>
			<ul class="submenu">
				<li><a href="/mcnp/banque/payerba" th:href="@{/payerba}"> <i
						class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
							Emission </span>
				</a> <b class="arrow"></b></li>
				<li><a href="/mcnp/banque/validerba" th:href="@{/validerba}">
						<i class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
							Validation </span>
				</a> <b class="arrow"></b></li>
			</ul></li>
		<li><a href="#" class="dropdown-toggle"> <i
				class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
					GCp </span>
		</a> <b class="arrow"></b>
			<ul class="submenu">
				<li class=""><a href="/mcnp/banque/emettreopi"
					th:href="@{/emettreopi}"> <i
						class="menu-icon fa fa-plus purple"></i>Emission
				</a> <b class="arrow"></b></li>
				<li class=""><a href="/mcnp/banque/validopi"
					th:href="@{/validopi}"> <i class="menu-icon fa fa-plus purple"></i>Validation
				</a> <b class="arrow"></b></li>
			</ul></li>
	</ul>
	<ul class="breadcrumb" layout:fragment="breadcrumb">
		<li><i class="ace-icon fa fa-home home-icon"></i> <a
			th:href="@{/}">Accueil</a></li>
		<li class="active">Paiement de Salaire / Bon d'Achat Convertible
			en Espèces</li>
	</ul>
	<!-- /.breadcrumb -->
	<div layout:fragment="content">
		<div class="widget-box widget-color-blue">
			<div class="widget-header widget-header-small">
				<h5 class="widget-title">Paiement de Salaire / Bon d'Achat
					Convertible en Espèces</h5>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<form id="frm_transfertba" action="#" th:action="@{/validerba}"
						th:object="${paiement}" method="post">
						<div class="message">
							<p th:text="${message}"></p>
						</div>
						<div>
							<label for="vbac_numeroBon">Numero du Bon</label> <input
								class="form-control" id="vbac_numeroBon" th:field="*{numeroBon}"
								required="required" />
						</div>
						<div>
							<label for="vbac_codeBanque">Banque</label> <input
								class="form-control" id="vbac_codeBanque"
								th:field="*{codeBanque}" required="required" readonly="readonly" />
						</div>
						<div>
							<label for="vbac_typaBa">Type Bon Achat</label> <input
								class="form-control" id="vbac_typaBa" th:field="*{typeBa}"
								readonly="readonly" />
						</div>
						<div>
							<label for="vbac_codeMembre">Code Membre</label> <input
								class="form-control" id="vbac_codeMembre"
								th:field="*{codeMembre}" required="required" readonly="readonly" />
						</div>
						<div>
							<label for="vbac_montant">Montant transfert</label> <input
								class="form-control" id="vbac_montant" th:field="*{montant}"
								required="required" readonly="readonly" />
						</div>
						<div class="form-actions">
							<button type="submit" class="btn btn-primary">
								<i class="ace-icon fa fa-check bigger-110"></i>Valider
							</button>
							&nbsp; &nbsp; &nbsp;
							<button class="btn" type="reset">
								<i class="ace-icon fa fa-undo bigger-110"></i> Annuler
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>