<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="layout/admin">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Accueil</title>

</head>

<body>
<th:block layout:fragment="navbar">
    <div th:include="admin/menu :: navbar" th:remove="tag"></div>
</th:block>

<div layout:fragment="content">
    <section class="section card">
        <div class="card-body">
            <form id="frmAjoutCentre" action="#" th:action="@{/agence/ajout}"
                  th:object="${agenceOdd}" method="post" class="form-horizontal">
                <div class="form-header"><h4 class="card-title w-100 font-weight-normal">Ajout d'Agence ODD</h4></div>
                <div class="alert alert-info" th:if="${message}">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="ace-icon fa fa-times"></i>
                    </button>
                    <p th:text="${message}"></p>
                </div>
                <input type="hidden" id="idAgencesOdd" th:field="*{id}"/>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="md-form">
                            <input id="txtSurfaceCentre" type="text" th:field="*{codeAgencesOdd}" class="form-control">
                            <label for="txtSurfaceCentre">Code Agence</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="md-form">
                            <input type="text" class="form-control"
                                   id="txtLibelleCentre" th:field="*{libelleAgencesOdd}">
                            <label for="txtLibelleCentre">Libelle</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="md-form">
                            <input id="txtAdresseCentre" type="text" th:field="*{adresseAgencesOdd}"
                                   class="form-control"
                                   required="true">
                            <label for="txtAdresseCentre">Adresse</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="md-form">
                            <input type="text" class="form-control"
                                   id="txtBpCentre" th:field="*{bpAgencesOdd}">
                            <label for="txtBpCentre">BP</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="md-form">
                            <input type="text" class="form-control"
                                   id="txtTelephone" th:field="*{telephoneAgencesOdd}">
                            <label for="txtTelephone">Telephone</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <select id="slTypeCentre" class="mdb-select md-form" th:field="*{euOdd.idOdd}" searchable>
                            <option value="" selected>Choisir l'ODD</option>
                            <option th:each="o : ${odds}" th:value="${o.idOdd}"
                                    th:text="${o.codeOdd}"></option>
                        </select>
                        <label class="mdb-main-label">ODD</label>
                    </div>
                    <div class="col-lg-6">
                        <select id="slLocalite" class="mdb-select md-form" th:field="*{canton.idCanton}" searchable>
                            <option value="" selected>Choisir le Canton</option>
                            <option th:each="c : ${canton}" th:value="${c.idCanton}"
                                    th:text="${c.nomCanton}"></option>
                        </select>
                        <label class="mdb-main-label active">Localité</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="md-form">
                            <input type="text" id="txtLogin" name="login" class="form-control"/>
                            <label for="txtLogin">Login Responsable</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="md-form">
                            <input type="password" id="txtPassword" name="password" class="form-control"/>
                            <label for="txtPassword">Mot de Passe Responsable</label>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="md-form">
                            <input type="password" id="txtPasswordConf" name="passwordConf" class="form-control"/>
                            <label for="txtPasswordConf">Confirmer le Mot de Passe</label>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">
                        <i class="ace-icon fa fa-check"></i> Valider
                    </button>
                    <a class="btn" th:href="@{/agence/list}">
                        <i class="ace-icon fa fa-undo"></i> Réinitialiser
                    </a>
                </div>
            </form>
        </div>
    </section>
</div>
</body>

</html>