<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/admin">
<head>
    <title>Utilisateurs</title>
    <th:block th:fragment="style" th:remove="tag">
        <!--<link rel="stylesheet" th:href="@{/resources/js/jqgrid/ui.jqgrid.css}">-->
        <link rel="stylesheet" th:href="@{/resources/js/jqgrid/ui.jqgrid-bootstrap4.css}">
        <link rel="stylesheet" th:href="@{/resources/js/jqgrid/ui.jqgrid-bootstrap-ui.css}">
    </th:block>
</head>
<body>
<ul layout:fragment="navbar">
    <div th:include="signup/menu :: navbar" th:remove="tag"></div>
</ul>
<ul class="breadcrumb" layout:fragment="breadcrumb">
    <li><i class="ace-icon fa fa-home home-icon active"></i>Accueil</li>
</ul>
<div layout:fragment="content">
    <div class="card card-cascade narrower z-depth-1">
        <!-- Card image -->
        <div class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

            <div>
                <a id="btnImp" th:href="@{/agent/add}"
                   class="btn btn-outline-white btn-rounded btn-sm px-2">
                    <i class="fas fa-th-large mt-0"></i> Ajouter
                </a>
            </div>

            <a href="" class="white-text mx-3">Liste des Utilisateurs</a>

            <div></div>

        </div>
        <!-- /Card image -->

        <div class="px-4">
            <div class="table-responsive">
                <table id="userGrid"></table>
                <div id="userGridPager"></div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script" th:remove="tag">
    <script th:src="@{/resources/js/jqgrid/grid.locale-fr.js}"></script>
    <script th:src="@{/resources/js/jqgrid/jquery.jqGrid.min.js}"></script>
    <script th:inline="javascript">
        $(document).ready(function () {
            $("#userGrid").jqGrid({
                url: 'list/',
                mtype: "GET",
                styleUI: 'Bootstrap4',
                iconSet: "fontAwesome",
                datatype: "json",
                colModel: [
                    {label: 'ID', name: 'idUtilisateur', key: true, width: 75},
                    {label: 'Nom', name: 'nomUtilisateur', width: 230},
                    {label: 'Prenoms', name: 'prenomUtilisateur', width: 230},
                    {label: 'Code Membre', name: 'codeMembre', width: 200},
                    {label: 'Login', name: 'login', width: 200},
                    {label: 'Groupe', name: 'userGroup.codeGroupe', width: 150}
                ],
                page: 1,
                width: null,
                shrinkToFit: false,
                height: 350,
                rowNum: 20,
                rowList: [20, 50, 100],
                sortname: 'idUtilisateur',
                viewrecords: true,
                emptyrecords: 'Pas d\'utilisateurs trouves', // the message will be displayed at the bottom
                pager: "#userGridPager"
            });
        });
    </script>
</th:block>
</body>
</html>