<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="layout/admin">

<head>

    <title>Centrales</title>
    <th:block th:fragment="style" th:remove="tag">
        <link rel="stylesheet"
              th:href="@{/resources/js/jquery-easyui/themes/material-teal/easyui.css}">
        <link rel="stylesheet"
              th:href="@{/resources/js/jquery-easyui/themes/icon.css}">
        <link rel="stylesheet"
              th:href="@{/resources/js/jquery-easyui/themes/color.css}">
    </th:block>
</head>

<body>
<th:block layout:fragment="navbar">
    <div th:include="admin/menu :: navbar" th:remove="tag"></div>
</th:block>

<div layout:fragment="content">
    <section class="section">
        <table id="centraleGrid" class="easyui-datagrid" title="Centrales"
               style="width: 100%; height: 350px"
               data-options="rownumbers:true,singleSelect:true,url:'centrales',method:'get',toolbar:'#toolbar'">
            <thead>
            <tr>
                <th data-options="field:'id',width:60">ID</th>
                <th data-options="field:'dateCreationCentrales',width:90,align:'center'">Date</th>
                <th data-options="field:'referenceCentrale',width:100">Reference</th>
                <th data-options="field:'libelleCentrale',width:250,align:'center'">Libelle</th>
                <th data-options="field:'agencesOdd.libelleAgencesOdd',formatter:function(value,row){if(row.agencesOdd != null) {return row.agencesOdd.libelleAgencesOdd} else { return ''}},width:240,align:'center'">
                    Agence ODD
                </th>
                <th data-options="field:'euTypeCentrale.libelleTypeCentrales',formatter:function(value,row){return row.euTypeCentrale.libelleTypeCentrales},width:270">
                    Type Centrale
                </th>
            </tr>
            </thead>
        </table>
        <div id="toolbar">
            <a href="javascript:void(0)" class="easyui-linkbutton"
               iconCls="icon-add" plain="true" onclick="newType()">Nouveau</a> <a
                href="javascript:void(0)" class="easyui-linkbutton"
                iconCls="icon-edit" plain="true" onclick="editType()">Editer</a> <a
                href="javascript:void(0)" class="easyui-linkbutton"
                iconCls="icon-remove" plain="true" onclick="destroyType()">Supprimer</a>
        </div>

        <div id="dlg" class="easyui-dialog" style="width: 570px"
             data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons'">
            <form id="frmTypeCentrale" method="post" th:object="${centrale}" novalidate
                  style="margin: 0; padding: 20px 50px">
                <h3>Centrales</h3>
                <div style="margin-bottom: 10px">
                    <input name="id" class="easyui-textbox" readonly="readonly"
                           label="ID:" style="width: 100%">
                </div>
                <div style="margin-bottom: 10px">
                    <input name="libelleCentrale" class="easyui-textbox" required="true"
                           label="Libelle:" style="width: 100%">
                </div>
                <div style="margin-bottom: 10px">
                    <input id="typeCentraleId" class="easyui-combobox" label="Type Centrale"
                           name="euTypeCentrale.idTypeCentrales" style="width: 100%;"
                           data-options="valueField:'idTypeCentrales',textField:'libelleTypeCentrales',method:'get',url:'typeCentrale'">
                </div>
                <div style="margin-bottom: 10px">
                    <input id="agenceOddId" class="easyui-combobox" label="Agence ODD"
                           name="agencesOdd.id" style="width: 100%;"
                           data-options="valueField:'id',textField:'libelleAgencesOdd',method:'get',url:'listAgenceOdd'">
                </div>
            </form>
        </div>
        <div id="dlg-buttons">
            <a href="javascript:void(0)" class="easyui-linkbutton c6"
               iconCls="icon-ok" onclick="saveType()" style="width: 90px">Valider</a>
            <a href="javascript:void(0)" class="easyui-linkbutton"
               iconCls="icon-cancel"
               onclick="javascript:$('#dlg').dialog('close')" style="width: 90px">Annuler</a>
        </div>
    </section>
</div>
<th:block layout:fragment="script" th:remove="tag">
    <script th:src="@{/resources/js/jquery-easyui/jquery.easyui.min.js}"></script>
    <script type="text/javascript">
        var url;

        function newType() {
            $('#dlg').dialog('open').dialog('center').dialog('setTitle', 'Nouvelle Centrale');
            $('#frmTypeCentrale').form('clear');
            url = 'add';
        }

        function editType() {
            var row = $('#centraleGrid').datagrid('getSelected');
            if (row) {
                $('#dlg').dialog('open').dialog('center').dialog('setTitle', 'Edition Centrale');
                $('#typeCentraleId').combobox('setValue', row.euTypeCentrale.idTypeCentrales);
                $('#frmTypeCentrale').form('load', row);
                url = 'add';
            }
        }

        function saveType() {
            $('#frmTypeCentrale').form('submit', {
                url: url,
                onSubmit: function () {
                    return $(this).form('validate');
                },
                success: function (result) {
                    var result = eval('(' + result + ')');
                    if (result.message) {
                        $.messager.show({
                            title: 'Error',
                            msg: result.message
                        });
                    } else {
                        $('#dlg').dialog('close');        // close the dialog
                        $('#centraleGrid').datagrid('reload');    // reload the user data
                    }
                }
            });
        }

        function destroyType() {
            var row = $('#centraleGrid').datagrid('getSelected');
            if (row) {
                $.messager.confirm('Confirm', 'Etes-vous sûr de vouloir supprimer cette centrale?', function (r) {
                    if (r) {
                        $.post('del', {id: row.id}, function (result) {
                            if (result.success) {
                                $('#centraleGrid').datagrid('reload');    // reload the user data
                            } else {
                                $.messager.show({    // show error message
                                    title: 'Error',
                                    msg: result.message
                                });
                            }
                        }, 'json');
                    }
                });
            }
        }

        function myformatter(date) {
            var y = date.getFullYear();
            var m = date.getMonth() + 1;
            var d = date.getDate();
            return (d < 10 ? ('0' + d) : d) + '/' + (m < 10 ? ('0' + m) : m) + '/' + y;
        }

        function myparser(s) {
            if (!s) return new Date();
            var ss = (s.split('/'));
            var d = parseInt(ss[0], 10);
            var m = parseInt(ss[1], 10);
            var y = parseInt(ss[2], 10);
            if (!isNaN(y) && !isNaN(m) && !isNaN(d)) {
                return new Date(y, m - 1, d);
            } else {
                return new Date();
            }
        }
    </script>
</th:block>
</body>

</html>
