<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/admin">
<head>
<meta charset="UTF-8" />
<title>Page d'Erreur</title>
</head>
<body>
	<th:block layout:fragment="navbar">
		<li class=""><a href="index.html" th:href="@{/home}" class="collapsible-header waves-effect"> <i
				class="menu-icon fa fa-home"></i> <span class="menu-text">
					Accueil </span>
		</a> <b class="arrow"></b></li>
	</th:block>
	<ul class="breadcrumb" layout:fragment="breadcrumb">
		<li><i class="ace-icon fa fa-home home-icon"></i> <a
			th:href="@{/}">Accueil</a></li>
		<li class="active">Page d'Erreur</li>
	</ul>
	<!-- /.breadcrumb -->
	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->

				<!-- #section:pages/error -->
				<div class="error-container">
					<div class="well">
						<h1 class="grey lighter smaller">
							<span class="blue bigger-125"> <i
								class="ace-icon fa fa-random"></i> 500
							</span> Un traitement s'est mal passé :
						</h1>

						<hr />
						<div class="alert alert-info" th:if="${exception}">
							<h3 th:text="${exception.message}"></h3>
						</div>
						<div class="alert alert-info" th:if="${message}">
							<h3 th:text="${message}"></h3>
						</div>

						<h3 class="lighter smaller">
							Mais on travaille <i
								class="ace-icon fa fa-wrench icon-animated-wrench bigger-125"></i>
							là-dessus!
						</h3>

						<div class="space"></div>

						<div>
							<h4 class="lighter smaller">Cependant, essaie l'une des
								methodes suivantes :</h4>

							<ul class="list-unstyled spaced inline bigger-110 margin-15">
								<li><i class="ace-icon fa fa-hand-o-right blue"></i> Lire
									le message d'erreur</li>
								<li><i class="ace-icon fa fa-hand-o-right blue"></i>
									Reprender l'opération en suivant le manuel d'utilisateur</li>

								<li><i class="ace-icon fa fa-hand-o-right blue"></i>
									Informez nous en donnant plus d'informations sur comment cette
									erreur est survenue!</li>
							</ul>
						</div>

						<hr />
						<div class="space"></div>

						<div class="center">
							<a href="javascript:history.back()" class="btn btn-grey"> <i
								class="ace-icon fa fa-arrow-left"></i> Retour
							</a> <a href="#" th:href="@{/}" class="btn btn-primary"> <i
								class="ace-icon fa fa-home"></i> Accueil
							</a>
						</div>
					</div>
				</div>
				<!-- /section:pages/error -->

				<!-- PAGE CONTENT ENDS -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
</body>
</html>