<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{layout/admin}">

<head>
    <meta charset="UTF-8" />
    <title>Fiche ODD</title>
    <th:block th:fragment="style" th:remove="tag">
        <link rel="stylesheet" th:href="@{/resources/plugins/toastr/toastr.min.css}" />
    </th:block>
</head>

<body>
    <!-- /.breadcrumb -->
    <th:block layout:fragment="topbar" th:remove="tag">
        <div th:include="oi/menu :: topnav" th:remove="tag" />
    </th:block>
    <div layout:fragment="content">
        <section class="section card mt-5">
            <div class="card-body">
                <div class="form-header">
                    <h5>Fiche ODD</h5>
                </div>
                <form id="frm_fichebc" action="#" th:action="@{/odd/fiche}" th:object="${fiche}" method="post">
                    <div class="alert alert-info" th:if="${message}">
                        <button type="button" class="close" data-dismiss="alert">
							<i class="ace-icon fa fa-times"></i>
						</button>
                        <p th:text="${message}"></p>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="md-form mb-3">
                                <input id="codeMembre" type="text" class="form-control" name="codeMembreBenef" th:value="${codeMembre}" readonly="readonly" />
                                <label class="active" for="codeMembre">Code Membre</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="md-form">
                                <input id="nom_membre" type="text" class="form-control" th:value="${nom}" readonly="readonly" /> 
                                <label class="active" for="nom_membre">Nom Membre</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="md-form">
                                <input id="prenom_membre" type="text" class="form-control" th:value="${prenom}" readonly="readonly" /> 
                                <label class="active" for="prenom_membre">Prénoms Membre</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-check form-check-inline">
                                <input id="peripherique" type="checkbox" class="form-check-input"> <label class="form-check-label" for="peripherique">Disposez-vous
									un Smartphone avec Biométrie?</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="connectivite" /> <label class="form-check-label" for="connectivite"> Disposez-vous une connexion
									Internet? </label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="assurance" />
                                <label class="form-check-label" for="assurance">
									Avez-vous une protection assurance? </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <select class="mdb-select md-form" id="oddMembre" th:field="*{idOdd}" required="required">
								<option value="">Choisir un ODD</option>
								<option th:each="odd : ${odds}" th:value="${odd.idOdd}" th:text="${odd.codeOdd}">
								</option>
							</select>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">
							<i class="ace-icon fa fa-check"></i> Valider
						</button>
                        <button class="btn" type="reset">
							<i class="ace-icon fa fa-undo"></i> Réinitialiser
						</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
    <th:block layout:fragment="script" th:remove="tag">
        <script th:src="@{/resources/plugins/toastr/toastr.min.js}"></script>
        <script th:src="@{/resources/app/qrcode-decoder/qcode-decoder.min.js}"></script>
        <script th:src="@{/resources/app/outil-qr.js}"></script>
        <script type="text/javascript">
            var ctx = [
                [$ {#
                    request.getContextPath()
                }]
            ];
            outilqrbouton_cm("frm_fichebc", "btnSearchMemb", "codeMembre");
            $(function() {
                //Assign Click event to Button.
                $("#frm_fichebc").submit(function(e) {
                    angu
                    e.preventDefault();
                    var data = {};
                    data.codeMembreBenef = $('#codeMembre').val();
                    data.idOdd = $('#oddMembre').val();

                    if ($('input[type="checkbox"]#peripherique').is(":checked")) {
                        data.peripherique = 1;
                    }
                    if ($('input[type="checkbox"]#connectivite').is(":checked")) {
                        data.connectivite = 1;
                    }
                    if ($('input[type="checkbox"]#assurance').is(":checked")) {
                        data.assurance = 1;
                    }
                    $.ajax({
                        url: ctx + '/oi/iv/fiche',
                        type: 'POST',
                        dataType: 'json',
                        data: data
                    }).done(function(data, status) {
                        $(document).Toasts('create', {
                            class: 'bg-success',
                            title: 'Opération bien effectuée',
                            autohide: true,
                            delay: 750,
                            body: data.message
                        });
                    }).fail(function(xhr, status, error) {
                        var resp = JSON.parse(xhr.responseText);
                        $(document).Toasts('create', {
                            class: 'bg-danger',
                            title: 'Echec de l\'opération',
                            autohide: true,
                            delay: 750,
                            body: resp.message + ':' + resp.error
                        });
                    });;
                    return false;
                });
            });
        </script>
    </th:block>
</body>

</html>