<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/admin">

<head>
    <title>Fiche ODD</title>
    <th:block th:fragment="style" th:remove="tag">
        <!--<link rel="stylesheet" th:href="@{/resources/js/jqgrid/ui.jqgrid.css}">-->
        <link rel="stylesheet" th:href="@{/resources/js/jqgrid/ui.jqgrid-bootstrap4.css}">
        <link rel="stylesheet" th:href="@{/resources/plugins/toastr/toastr.min.css}"/>
    </th:block>
</head>

<body>
<ul class="breadcrumb" layout:fragment="breadcrumb">
    <li><i class="ace-icon fa fa-home home-icon"></i> <a th:href="@{/}">Accueil</a></li>
    <li class="active">ODD</li>
</ul>
<th:block layout:fragment="topbar" th:remove="tag">
    <div th:include="oi/menu :: topnav" th:remove="tag"/>
</th:block>
<!-- /.breadcrumb -->
<div layout:fragment="content">
    <section class="section card mt-4">
        <!-- /widget-header -->
        <div class="card-body">
            <div class="form-header">
                <h4 class="card-title">Fiche ODD</h4>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="md-form">
                        <input id="codeMembre" class="form-control" th:value="${codeMembre}" readonly="readonly"/>
                        <label for="codeMembre" class="active">Code Membre</label>
                    </div>
                </div>
            </div>
            <div class="btn-group" role="group" aria-label="Vertical button group">
                <a id="btnAddFiche" th:href="@{/oi/iv/fiche}" class="btn btn-blue  btn-lg btn-md btn-sm ">
                    <span class="fas fa-plus"></span>
                </a>
                <button type="button" id="btnEditFiche" class="btn btn-blue  btn-lg btn-md btn-sm ">
                    <span class="fas fa-edit"></span>
                </button>
                <button type="button" id="btnPrintFiche" class="btn btn-blue  btn-lg btn-md btn-sm ">
                    <span class="fas fa-print"></span>
                </button>
            </div>
            <table id="ficheGrid">
            </table>
        </div>
    </section>
</div>
<th:block layout:fragment="script" th:remove="tag">
    <script th:src="@{/resources/js/jqgrid/grid.locale-fr.js}"></script>
    <script th:src="@{/resources/js/jqgrid/jquery.jqGrid.min.js}"></script>
    <script th:src="@{/resources/plugins/toastr/toastr.min.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        $(document)
            .ready(
                function () {
                    "use strict";
                    var ficheGrid = $("#ficheGrid");
                    ficheGrid.jqGrid({
                        url: 'listeodd/',
                        datatype: 'json',
                        mtype: 'GET',
                        styleUI: 'Bootstrap4',
                        postData: {
                            codeMembre: function () {
                                return $('#codeMembre').val();
                            }
                        },
                        colNames: ['ID', 'Date', 'Nom', 'Prenoms', 'Lieu Naissance'],
                        colModel: [{
                            name: 'id',
                            index: 'id',
                            width: 70
                        }, {
                            name: 'Date',
                            index: 'dateListecm',
                            width: 70
                        }, {
                            name: 'nomMembre',
                            index: 'nomMembre',
                            width: 200
                        }, {
                            name: 'prenomMembre',
                            index: 'prenomMembre',
                            width: 200
                        }, {
                            name: 'lieuNaisMembre',
                            index: 'lieuNaisMembre',
                            width: 200
                        }],
                        page: 1,
                        cmTemplate: {
                            autoResizable: true
                        },
                        autowidth: true,
                        height: 350,
                        iconSet: "fontAwesome",
                        sortname: "id",
                        threeStateSort: true,
                        sortIconsBeforeText: true,
                        headertitles: true,
                        pager: true,
                        multiselect: false,
                        toppager: true,
                        rowNum: 10
                    });

                    $('#btnPrintFiche').click(function (e) {
                        e.preventDefault();
                        ficheGrid.jqGrid().trigger('reloadGrid');
                    });

                    $('#btnEditFiche').click(function (e) {
                        e.preventDefault();
                        var rowKey = ficheGrid.jqGrid('getGridParam', "selrow");
                        if (rowKey) {
                            var data = ficheGrid.jqGrid('getRowData', rowKey);
                            location.href = "/edit";
                        } else {
                            $(document).Toasts('create', {
                                class: 'bg-info',
                                title: 'Erreur de Sélection',
                                autohide: true,
                                delay: 2000,
                                body: 'Aucune ligne sélectionnée'
                            });
                        }
                    });
                });
    </script>
</th:block>
</body>

</html>