<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/admin">

<head>
    <title>Formation</title>
    <th:block th:fragment="style" th:remove="tag">
        <!--<link rel="stylesheet" th:href="@{/resources/js/jqgrid/ui.jqgrid.css}">-->
        <link rel="stylesheet" th:href="@{/resources/js/jqgrid/ui.jqgrid-bootstrap4.css}">
        <link rel="stylesheet" th:href="@{/resources/plugins/toastr/toastr.min.css}"/>
    </th:block>
</head>

<body>
<th:block layout:fragment="topbar">
    <div th:include="oksu/menu" th:remove="tag"></div>
</th:block>
<ul class="breadcrumb" layout:fragment="breadcrumb">
    <li><i class="ace-icon fa fa-home home-icon"></i> <a
            th:href="@{/}">Accueil</a></li>
    <li class="active">Membre Fondateur 107</li>
</ul>
<!-- /.breadcrumb -->
<div layout:fragment="content">
    <th:block th:if="${mf107 != null}" th:remove="tag">
        <div class="card mt-3">
            <div class="card-header">
                <h5 class="card-title">Membre Fondateur 107</h5>
            </div>
            <div class="card-body">
                <form id="frmMf107" th:object="${mf107}">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="md-form">
                                <input type="text" class="form-control" id="numident" th:field="*{numident}" readonly/>
                                <label for="numident">ID</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="md-form">
                                <input id="codeMembre" type="text" th:value="*{codeMembre}" class="form-control"
                                       readonly>
                                <label for="codeMembre">Code Membre</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-6">
                            <div class="md-form">
                                <input id="nomMf" type="text" class="form-control" th:field="*{nom}" readonly/>
                                <label for="nomMf">Nom</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="md-form">
                                <input id="prenomMf" type="text" class="form-control" th:field="*{prenom}" readonly/>
                                <label for="prenomMf">Prénoms</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="md-form">
                                <input id="nbRepartition" type="text" class="form-control" th:field="*{nbRepartition}"
                                       readonly/>
                                <label for="nbRepartition">Nombre Répartition</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="md-form">
                                <input id="soldeMf" type="text" class="form-control" th:field="*{solde}" readonly/>
                                <label for="soldeMf">Solde</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card card-cascade narrower z-depth-1 mt-4">
            <!-- Card image -->
            <div
                    class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">


                <a href="" class="white-text mx-3">Détails MF107 </a>

            </div>
            <!-- /Card image -->

            <div class="px-4">
                <table id="tblDetailMf107"></table>
                <div id="pgDetailMf107"></div>
                <br/>
                <table id="tblRepMf107">
                </table>
                <div id="pgRepMf107"></div>
            </div>
        </div>
    </th:block>
    <th:block th:if="${mf107 == null}" th:remove="tag">
        <div class="card mt-5">
            <div class="card-body">
                <div class="message">
                    <div class="message-content">
                        <p>Vous n'avez de MF107 ou votre MF107 n'est pas encore lié à votre Compte Marchand.</p>
                        <p>Veuillez contacter le service juridique en cas de réclamation</p>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</div>
<th:block layout:fragment="script" th:remove="tag">
    <script th:src="@{/resources/js/inputmask/jquery.inputmask.min.js}"></script>
    <script th:src="@{/resources/js/jqgrid/grid.locale-fr.js}"></script>
    <script th:src="@{/resources/js/jqgrid/jquery.jqGrid.min.js}"></script>
    <script th:inline="javascript">
        $.jgrid.defaults.responsive = true;
        $.jgrid.styleUI.Bootstrap4.base.headerTable = "table table-bordered table-sm";
        $.jgrid.styleUI.Bootstrap4.base.rowTable = "table table-bordered table-striped table-sm";
        $.jgrid.styleUI.Bootstrap4.base.footerTable = "table table-bordered table-sm";
        $.jgrid.styleUI.Bootstrap4.base.pagerTable = "table table-sm";

        var contextRoot = /*[[@{/}]]*/
            $(function () {
                var mf107Table = $("#tblDetailMf107");
                var repMf107Table = $("#tblRepMf107");

                mf107Table.jqGrid({
                    url: contextRoot + 'cmfh/listeMf107',
                    mtype: "GET",
                    styleUI: 'Bootstrap4',
                    iconSet: "fontAwesome",
                    postData: {
                        numIdent: function () {
                            return $("#numident").val();
                        },
                        codeMembre: function () {
                            return $("#codeMembre").val();
                        }
                    },
                    datatype: "json",
                    colModel: [
                        {label: 'ID', name: 'idMf107', key: true, width: 90},
                        {label: 'Date', name: 'dateMf107', width: 100},
                        {label: 'Membre', name: 'codeMembre', width: 150},
                        {label: 'Montant', name: 'montApport', width: 120},
                        {label: 'Pourcentage', name: 'pourcentage', width: 80},
                        {label: 'Propriètaire', name: 'proprietaire', width: 80}
                    ],
                    page: 1,
                    autowidth: true,
                    height: 370,
                    rowNum: 20,
                    rowList: [20, 50, 100],
                    rownumWidth: 25,
                    sortname: 'idMf107',
                    multiselect: false,
                    viewrecords: true,
                    emptyrecords: 'Pas de lignes trouvees',
                    onSelectRow: function (rowid, selected) {
                        if (rowid != null) {
                            repMf107Table.jqGrid('setGridParam', {
                                url: contextRoot + "cmfh/listeRepMf107?idMf107=" + rowid,
                                datatype: 'json'
                            }); // the last setting is for demo only
                            repMf107Table.jqGrid('setCaption', 'Repartition MF 107 N°' + rowid);
                            repMf107Table.trigger("reloadGrid");
                        }
                    }, // use the onSelectRow that is triggered on row click to show a details grid
                    onSortCol: clearSelection,
                    onPaging: clearSelection, // the message will be displayed at the bottom
                    pager: "#pgDetailMf107"
                });

                function clearSelection() {
                    repMf107Table.jqGrid('setCaption', 'Liste des Details');
                    repMf107Table.trigger("reloadGrid");
                }

                repMf107Table.jqGrid({
                    url: contextRoot + 'cmfh/listeRepMf107',
                    mtype: "GET",
                    styleUI: 'Bootstrap4',
                    iconSet: "fontAwesome",
                    postData: {
                        idMf107: function () {
                            return $("#numident").val();
                        },
                        codeMembre: function () {
                            return $("#codeMembre").val();
                        }
                    },
                    datatype: "json",
                    colModel: [
                        {label: 'ID', name: 'idRep', key: true, width: 90},
                        {label: 'Date', name: 'dateRep', width: 100},
                        {label: 'Membre', name: 'codeMembre', width: 150},
                        {label: 'Montant', name: 'montRep', width: 120},
                        {label: 'Reglement', name: 'montReglt', width: 120},
                        {label: 'Solde', name: 'soldeRep', width: 120},
                        {label: 'Payer', name: 'payer', width: 70}
                    ],
                    page: 1,
                    autowidth: true,
                    height: 370,
                    rowNum: 20,
                    rowList: [20, 50, 100],
                    rownumWidth: 25,
                    sortname: 'idRep',
                    multiselect: false,
                    viewrecords: true,
                    emptyrecords: 'Pas de lignes trouvees', // the message will be displayed at the bottom
                    pager: "#pgRepMf107"
                });
            });
    </script>
</th:block>
</body>
</html>