<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/admin">

<head>
<title>Fiche ODD</title>
	<th:block th:fragment="style" th:remove="tag">
		<!--<link rel="stylesheet" th:href="@{/resources/js/jqgrid/ui.jqgrid.css}">-->
		<link rel="stylesheet" th:href="@{/resources/js/jqgrid/ui.jqgrid-bootstrap4.css}">
		<link rel="stylesheet" th:href="@{/resources/js/jqgrid/ui.jqgrid-bootstrap-ui.css}">
		<style type="text/css">
			input[type='checkbox'],
			input[type='checkbox']:checked,
			input[type='checkbox']:not(:checked) {
				display: inline-block;
				position: relative;
				pointer-events: auto;
				opacity: 1;
			}
		</style>
	</th:block>
</head>

<body>
	<ul class="collapsible collapsible-accordion" layout:fragment="navbar">
		<div th:include="layout/menu :: navbar" th:remove="tag"></div>
	</ul>
	<th:block layout:fragment="topbar">
		<div th:include="oksu/menu :: topnav" th:remove="tag"></div>
	</th:block>
	<!-- /.breadcrumb -->
	<div layout:fragment="content" class="mt-2">
		<div class=" card">
			<div class="container">
				<div class="row">
					<div class="md-form col-lg-4">
						<input type="text" id="codeMembre" class="form-control" th:value="${codeMembre}" readonly>
						<label for="codeMembre">Code Membre</label>
					</div>
					<div class="md-form col-lg-4" style="margin-top: 11px;">
						<select id="typePassif" class="mdb-select" >
							<option value=""></option>
							<option value="ESMC">ESMC</option>
							<option value="MCNP">MCNP</option>
							<option value="REDEMARE">ReDéMaRe</option>
						</select>
						<label for="typePassif" class="mdb-main-label">Type Passif</label>
					</div>
					<div class="md-form col-lg-4" style="margin-top: 11px;">
						<select id="idCasPassif" class="mdb-select">
							<option value=""></option>
							<option th:each="c : ${cas}" th:value="${c.id}" th:text="${c.libelleCas}">GCP</option>
						</select>
						<label for="idCasPassif" class="mdb-main-label">Cas Passif</label>
					</div>
				</div>
			</div>
		</div>
		<div class="card" style="margin-top: 5px;">
			<div class="card-header">
				<div class="float-left align-middle">
					<a id="btnAddRec" th:href="@{ticket/reclamer}" class="btn btn-sm btn-default">Ajout</a>
					<button id="btnEditCompte" type="button" class="btn btn-sm btn-blue-grey">Editer</button>
				</div>
				<h5 class="card-title align-middle">Réclamations</h5>
			</div>
			<div class="card-body">
				<table id="tblRec"></table>
				<!-- Pagination Bar -->
				<div id="recPager"></div>
			</div>
		</div>
	</div>
	<th:block layout:fragment="script" th:remove="tag">
		<script th:src="@{/resources/js/inputmask/jquery.inputmask.min.js}"></script>
		<script th:src="@{/resources/js/jqgrid/grid.locale-fr.js}"></script>
		<script th:src="@{/resources/js/jqgrid/jquery.jqGrid.min.js}"></script>
		<script th:inline="javascript">
			var contextRoot = /*[[@{/}]]*/
					$(function() {
						var recTable = $("#tblRec");
						recTable.jqGrid({
							url: contextRoot + 'ticket/liste/',
							mtype: "GET",
							styleUI: 'Bootstrap4',
							iconSet: "fontAwesome",
							postData: {
								codeMembre: function() {
									return $("#codeMembre").val();
								},
								typePassif: function() {
									return $("#typePassif").val();
								},
								cas: function() {
									return $("#idCasPassif").val();
								}
							},
							datatype: "json",
							colModel: [
								{ label: 'ID', name: 'id', key: true, width: 70, hidden:true },
								{ label: 'Date', name: 'dateReclamation', width: 90 },
								{ label: 'Code Membre', name: 'codeMembre', width: 140 },
								{ label: 'Ancien Code', name: 'ancienCodeMembre', width: 140, hidden:true },
								{ label: 'Type', name: 'typePassif', width: 90 },
								{ label: 'Cas', name: 'idCasPassif', width: 70},
								{ label: 'Numero Bon', name: 'numeroBonMf', width: 100},
								{ label: 'Libellé', name: 'libelleReclamation', width: 200},
								{ label: 'Description', name: 'descriptionRec', width: 200, hidden:true  },
								{ label: 'Montant', name: 'montantReclamation', width: 100 },
								{ label: 'Valider', name: 'valider',formatter:'checkbox', width: 60 },
								{ label: 'Statut', name: 'statut', width: 90 }
							],
							page: 1,
							autowidth: true,
							height: 300,
							rowNum: 20,
							rowList: [20, 50, 100],
							rownumWidth: 25,
							sortname: 'codeMembre',
							multiselect: false,
							viewrecords: true,
							emptyrecords: 'Pas de lignes trouvees', // the message will be displayed at the bottom
							pager: "#recPager"
						});

						$("#btnSearchCompte").click(function(e) {
							e.preventDefault();
							recTable.jqGrid().trigger('reloadGrid');
						});

						$("#btnEditCompte").click(function(e) {
							e.preventDefault();
							var rowKey = recTable.jqGrid('getGridParam', "selrow");
		                    if (rowKey) {
		                        var data = recTable.jqGrid('getRowData', rowKey);
		                        location.href = contextRoot + "ticket/edit/" + data.id;
		                    } else {
		                        toastr.info("Aucune ligne sélectionée");
		                    }
						});
					});
		</script>
	</th:block>
</body>

</html>