<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/admin">

<head>
    <title>Formations</title>
    <th:block th:fragment="style" th:remove="tag">
        <!--<link rel="stylesheet" th:href="@{/resources/js/jqgrid/ui.jqgrid.css}">-->
        <link rel="stylesheet"
              th:href="@{/resources/js/jqgrid/ui.jqgrid-bootstrap4.css}"></link>
        <style type="text/css">
            input[type='checkbox'], input[type='checkbox']:checked, input[type='checkbox']:not(:checked) {
                display: inline-block;
                position: relative;
                pointer-events: auto;
                opacity: 1;
            }
        </style>
    </th:block>
</head>

<body>
<th:block layout:fragment="topbar">
    <div th:include="ot/menu" th:remove="tag"></div>
</th:block>
<ul class="breadcrumb" layout:fragment="breadcrumb">
    <li><i class="ace-icon fa fa-home home-icon"></i> <a
            th:href="@{/}">Accueil</a></li>
    <li class="active">Ajout de Formation</li>
</ul>
<!-- /.breadcrumb -->
<div layout:fragment="content">
    <div class="card mt-3">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="md-form">
                        <input id="dateCandidature" type="date" class="form-control"
                               name="dateCandidature"> <label for="dateCandidature">Date
                        Offre Emploi</label>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="md-form">
                        <select id="idPoste" class="mdb-select">
                            <option value="" selected>Choisir le Type</option>
                            <option th:each="r : ${roles}" th:value="${c.idRoles}"
                                    th:text="${c.libelleRoles}"></option>
                        </select> <label class="mdb-main-label" for="idPoste">Postes</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="md-form col-lg-5" style="margin-top: 11px;">
                    <input type="text" id="codePoste" class="form-control"> <label
                        for="codePoste">Code Poste</label>
                </div>
                <div class="md-form col-lg-6" style="margin-top: 11px;">
                    <input type="text" id="libellePoste" class="form-control">
                    <label for="libellePoste">Libelle Poste</label>
                </div>
                <div class="col-lg-1">
                    <button class="btn btn-primary" type="button" id="btnSearchPoste">
                        <i class="fas fa-search-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-cascade narrower z-depth-1 mt-4">
        <!-- Card image -->
        <div
                class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

            <div>
            </div>

            <a href="" class="white-text mx-3">Liste des Candidatures </a>

            <div>
                <button id="btnEditCandidature"
                        class="btn btn-outline-white btn-rounded btn-sm px-2">
                    <i class="fas fa-th-list mt-0"></i> Editer
                </button>
            </div>

        </div>
        <!-- /Card image -->

        <div class="px-4">
            <table id="tblCandidature"></table>
            <div id="pgCandidature"></div>
        </div>
    </div>
</div>
<th:block layout:fragment="script" th:remove="tag">
    <script th:src="@{/resources/js/inputmask/jquery.inputmask.min.js}"></script>
    <script th:src="@{/resources/js/jqgrid/grid.locale-fr.js}"></script>
    <script th:src="@{/resources/js/jqgrid/jquery.jqGrid.min.js}"></script>
    <script th:inline="javascript">
        $.jgrid.defaults.responsive = true;
        $.jgrid.styleUI.Bootstrap4.base.headerTable = "table table-bordered table-sm";
        $.jgrid.styleUI.Bootstrap4.base.rowTable = "table table-bordered table-striped table-sm";
        $.jgrid.styleUI.Bootstrap4.base.footerTable = "table table-bordered table-sm";
        $.jgrid.styleUI.Bootstrap4.base.pagerTable = "table table-sm";

        var contextRoot = /*[[@{/}]]*/
            $(function () {
                var posteTable = $("#tblCandidature");
                posteTable.jqGrid({
                    url: contextRoot + 'ot/pliste/',
                    mtype: "GET",
                    styleUI: 'Bootstrap4',
                    iconSet: "fontAwesome",
                    postData: {
                        idPoste: function () {
                            return $("#idPoste").val();
                        },
                        codePoste: function () {
                            return $("#codePoste").val();
                        },
                        poste: function () {
                            return $("#libellePoste").val();
                        },
                        date: function () {
                            return $("#dateCandidature").val();
                        }
                    },
                    datatype: "json",
                    colModel: [
                        {label: 'ID', name: 'idCandidature', key: true, width: 70},
                        {label: 'Clé', name: 'candidatureKey', width: 90, hidden: true},
                        {label: 'Compétence', name: 'competences', width: 200},
                        {label: 'Année experience', name: 'anneeExperience', width: 150},
                        {label: 'Durée', name: 'nbreJourExpiration', width: 100},
                        {label: 'Date Debut', name: 'dateCandidature', width: 100},
                        {label: 'Date Fin', name: 'dateExpiration', width: 100},
                        {label: 'Selection', name: 'deadSelection', width: 100, hidden: true}
                    ],
                    page: 1,
                    autowidth: true,
                    height: 370,
                    rowNum: 20,
                    rowList: [20, 50, 100],
                    rownumWidth: 25,
                    sortname: 'idCandidature',
                    multiselect: false,
                    viewrecords: true,
                    emptyrecords: 'Pas de lignes trouvees', // the message will be displayed at the bottom
                    pager: "#pgCandidature"
                });

                $("#btnEditCandidature").click(function (e) {
                    e.preventDefault();
                    var selId = posteTable.jqGrid('getGridParam', 'selrow');
                    if (selId) {
                        var row = posteTable.jqGrid('getRowData', selId);
                        location.replace(contextRoot + "ot/offre/" + row.idCandidature);
                    } else {
                        toastr.info('Veuillez sélectionner une ligne pour edition');
                    }
                });

                $("#btnSearchPoste").click(function (e) {
                    e.preventDefault();
                    posteTable.jqGrid().trigger('reloadGrid');
                });
            });
    </script>
</th:block>
</body>
</html>