<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/admin">

<head>
    <title>Formation</title>
    <th:block th:fragment="style" th:remove="tag">
        <!--<link rel="stylesheet" th:href="@{/resources/js/jqgrid/ui.jqgrid.css}">-->
        <link rel="stylesheet" th:href="@{/resources/js/jqgrid/ui.jqgrid-bootstrap4.css}">
        <link rel="stylesheet" th:href="@{/resources/plugins/toastr/toastr.min.css}"/>
    </th:block>
</head>

<body>
<th:block layout:fragment="topbar">
    <div th:include="ot/menu" th:remove="tag"></div>
</th:block>
<ul class="breadcrumb" layout:fragment="breadcrumb">
    <li><i class="ace-icon fa fa-home home-icon"></i> <a
            th:href="@{/}">Accueil</a></li>
    <li class="active">Ajout de Formation</li>
</ul>
<!-- /.breadcrumb -->
<div layout:fragment="content">
    <div class="card mt-3">
        <div class="card-header">
            <h5 class="card-title">Vue d'offre d'emploi</h5>
        </div>
        <div class="card-body">
            <form id="frm_addCreance" th:object="${candidature}">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="md-form">
                            <input type="text" class="form-control"
                                   id="idCandidature" th:field="*{idCandidature}"/>
                            <label for="idCandidature">ID</label>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="md-form">
                            <input id="dateCandidature" type="date" th:value="${candidature.dateCandidature}"
                                   class="form-control">
                            <label for="dateCandidature">Date Candidature</label>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-6">
                        <div class="md-form">
                            <input id="nbreJourExpiration" type="text" class="form-control"
                                   th:field="*{nbreJourExpiration}"/>
                            <label for="nbreJourExpiration">Durée</label>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="md-form">
                            <input id="dateExpiration" type="date" class="form-control"
                                   th:value="${candidature.dateExpiration}"/>
                            <label for="dateExpiration">Date Expiration</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="md-form">
                            <input id="competences" type="text" class="form-control" th:field="*{competences}"/>
                            <label for="competences">Compétences</label>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="md-form">
                            <input id="anneeExperience" type="text" class="form-control" th:field="*{anneeExperience}"/>
                            <label for="anneeExperience">Année Experience</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card card-cascade narrower z-depth-1 mt-4">
        <!-- Card image -->
        <div
                class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

            <div>
                <button id="btnPostuler"
                        class="btn btn-outline-white btn-rounded btn-sm px-2">
                    <i class="fas fa-th-list mt-0"></i> Postuler
                </button>
            </div>

            <a href="" class="white-text mx-3">Liste des Postes </a>

            <div>
            </div>

        </div>
        <!-- /Card image -->

        <div class="px-4">
            <table id="tblCandidaturePoste"></table>
            <div id="pgCandidaturePoste"></div>
        </div>
    </div>
</div>
<th:block layout:fragment="script" th:remove="tag">
    <script th:src="@{/resources/js/inputmask/jquery.inputmask.min.js}"></script>
    <script th:src="@{/resources/js/jqgrid/grid.locale-fr.js}"></script>
    <script th:src="@{/resources/js/jqgrid/jquery.jqGrid.min.js}"></script>
    <script th:inline="javascript">
        $.jgrid.defaults.responsive = true;
        $.jgrid.styleUI.Bootstrap4.base.headerTable = "table table-bordered table-sm";
        $.jgrid.styleUI.Bootstrap4.base.rowTable = "table table-bordered table-striped table-sm";
        $.jgrid.styleUI.Bootstrap4.base.footerTable = "table table-bordered table-sm";
        $.jgrid.styleUI.Bootstrap4.base.pagerTable = "table table-sm";

        var contextRoot = /*[[@{/}]]*/
            $(function () {
                var posteTable = $("#tblCandidaturePoste");
                posteTable.jqGrid({
                    url: contextRoot + 'ot/cdposte/',
                    mtype: "GET",
                    styleUI: 'Bootstrap4',
                    iconSet: "fontAwesome",
                    postData: {
                        idCandidature: function () {
                            return $("#idPoste").val();
                        },
                        codePoste: function () {
                            return $("#codePoste").val();
                        },
                        poste: function () {
                            return $("#libellePoste").val();
                        },
                        date: function () {
                            return $("#dateCandidature").val();
                        }
                    },
                    datatype: "json",
                    colModel: [
                        {label: 'ID', name: 'idCandidaturePoste', key: true, width: 90},
                        {label: 'Candidature', name: 'candidature.idCandidature', width: 90, hidden: true},
                        {label: 'ID Poste', name: 'poste.idRoles', width: 30, hidden: true},
                        {label: 'Poste', name: 'poste.codeRoles', width: 90},
                        {label: 'Poste', name: 'poste.libelleRoles', width: 200},
                        {label: 'Nombre', name: 'nbrePersonne', width: 100}
                    ],
                    page: 1,
                    autowidth: true,
                    height: 370,
                    rowNum: 20,
                    rowList: [20, 50, 100],
                    rownumWidth: 25,
                    sortname: 'idCandidaturePoste',
                    multiselect: false,
                    viewrecords: true,
                    emptyrecords: 'Pas de lignes trouvees', // the message will be displayed at the bottom
                    pager: "#pgCandidaturePoste"
                });

                $("#btnPostuler").click(function (e) {
                    e.preventDefault();
                    var selId = posteTable.jqGrid('getGridParam', 'selrow');
                    if (selId) {
                        var row = posteTable.jqGrid('getRowData', selId);
                        formdata = {};
                        formdata.idCandidaturePoste = row.idCandidaturePoste;
                        formdata.idPoste = row['poste.idRoles'];
                        formdata.idCandidature = row['candidature.idCandidature'];
                        $.ajax({
                            type: 'POST', // define the type of HTTP verb we want to use (POST for our form)
                            url: contextRoot + 'ot/postuler', // the url where we want to POST
                            data: formdata
                        }).done(function (data, status) {
                            toastr.success(data.message);
                        }).fail(function (xhr, status, error) {
                            var resp = JSON.parse(xhr.responseText);
                            toastr.error('Erreur d\'execution :' + resp.message);
                        });
                    } else {
                        toastr.info('Veuillez sélectionner la ligne pour postuler');
                    }
                });
            });
    </script>
</th:block>
</body>
</html>