<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/admin">

<head>
    <title>Formations</title>
    <th:block th:fragment="style" th:remove="tag">
        <!--<link rel="stylesheet" th:href="@{/resources/js/jqgrid/ui.jqgrid.css}">-->
        <link rel="stylesheet"
              th:href="@{/resources/js/jqgrid/ui.jqgrid-bootstrap4.css}"></link>
        <link rel="stylesheet"
              th:href="@{/resources/plugins/toastr/toastr.min.css}"></link>
        <style type="text/css">
            input[type='checkbox'], input[type='checkbox']:checked, input[type='checkbox']:not(:checked) {
                display: inline-block;
                position: relative;
                pointer-events: auto;
                opacity: 1;
            }
        </style>
    </th:block>
</head>

<body>
<th:block layout:fragment="topbar">
    <div th:include="ot/menu" th:remove="tag"></div>
</th:block>
<ul class="breadcrumb" layout:fragment="breadcrumb">
    <li><i class="ace-icon fa fa-home home-icon"></i> <a
            th:href="@{/}">Accueil</a></li>
    <li class="active">Ajout de Formation</li>
</ul>
<!-- /.breadcrumb -->
<div layout:fragment="content">
    <div class="card card-cascade narrower z-depth-1 mt-5">
        <!-- Card image -->
        <div
                class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

            <div>
                <a id="btnActual"
                   class="btn btn-outline-white btn-rounded btn-sm px-2"> <i
                        class="fas fa-th-large mt-0"></i> Actualiser
                </a>
            </div>

            <a href="" class="white-text mx-3">Liste des Formations </a>

            <div>
            </div>

        </div>
        <!-- /Card image -->

        <div class="px-4">
            <table id="tblFormation"></table>
            <div id="pgFormation"></div>
        </div>
    </div>
</div>
<th:block layout:fragment="script" th:remove="tag">
    <script th:src="@{/resources/js/inputmask/jquery.inputmask.min.js}"></script>
    <script th:src="@{/resources/js/jqgrid/grid.locale-fr.js}"></script>
    <script th:src="@{/resources/js/jqgrid/jquery.jqGrid.min.js}"></script>
    <script th:inline="javascript">
        $.jgrid.defaults.responsive = true;
        $.jgrid.styleUI.Bootstrap4.base.headerTable = "table table-bordered table-sm";
        $.jgrid.styleUI.Bootstrap4.base.rowTable = "table table-bordered table-striped table-sm";
        $.jgrid.styleUI.Bootstrap4.base.footerTable = "table table-bordered table-sm";
        $.jgrid.styleUI.Bootstrap4.base.pagerTable = "table table-sm";

        var contextRoot = /*[[@{/}]]*/
            $(function () {
                var formationTable = $("#tblFormation");
                formationTable.jqGrid({
                    url: contextRoot + 'formation/liste/',
                    mtype: "GET",
                    styleUI: 'Bootstrap4',
                    iconSet: "fontAwesome",
                    postData: {
                        codeMembre: function () {
                            return $("#codeMembreCompte").val();
                        }
                    },
                    datatype: "json",
                    colModel: [
                        {label: 'ID', name: 'id', key: true, width: 90},
                        {label: 'Code Membre', name: 'codeMembre', width: 120},
                        {label: 'Libelle', name: 'libelleFormation', width: 200},
                        {label: 'Code', name: 'codeBci', width: 90},
                        {label: 'Date Paiement', name: 'dateBci', width: 100},
                        {label: 'Activer', name: 'activer', width: 70, formatter: 'checkbox'}
                    ],
                    page: 1,
                    autowidth: true,
                    height: 370,
                    rowNum: 20,
                    rowList: [20, 50, 100],
                    rownumWidth: 25,
                    sortname: 'id',
                    multiselect: false,
                    viewrecords: true,
                    emptyrecords: 'Pas de lignes trouvees', // the message will be displayed at the bottom
                    pager: "#pgFormation"
                });

                $("#btnActual").click(function (e) {
                    e.preventDefault();
                    formationTable.jqGrid().trigger('reloadGrid');
                });
            });
    </script>
</th:block>
</body>
</html>